﻿@*@model BidMee.Web.ViewModels.createAuctionVM*@
@using NatureExplorer.Entities
@model NatureExplorer.Web.Areas.Admin.ViewModels.HotelPackageVMS.ADDHotelPackageVM
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add HotelPackage</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="addForm">
        <div class="form-group">
            @if (Model.Hotels != null)
            {
                <select class="custom-select HotelSelect">
                    <option value="" selected>Select Hotel to Add Package</option>
                    @foreach (var f in Model.Hotels)
                    {
                        <option value="@f.ID">@f.Name</option>
                    }
                </select>
            }
            else
            {
                <label>Please Add Hotel for Adding HotelPackage</label>
            }

        </div>
        <div class="form-group">
            <input type="text" class="form-control custom" id="Name" name="Name" placeholder="Enter Package Name" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control custom" id="Price" name="Price" placeholder="Enter Package Price" />
        </div>
        <div class="form-group">
            <label>Enter Package Description</label>
            <input type="text" class="form-control custom" id="Description" name="Description" placeholder="Enter Package Description" />
        </div>

        <div class="form-group">
            <input type="file" multiple id="HotelPackagePictureUpload" />
            <input type="text" name="PicIDs" id="PicIDs" hidden />
        </div>

        <div id="picturesSection">
            <img />
        </div>

    </form>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="saveHotelPackagebtn">Save</button>
</div>

<script>
    //////////////////////////////////////////////
    ////FileUplaod..
    //var picIDs = [];
    var HotelPackagepictures = {
        picIDs: [],
        picUrls: []
    };
    $(document).ready(function () {
        $("#HotelPackagePictureUpload").change(function () {
            var formdata = new FormData();
            var pictures = this.files;
            for (var i = 0; i < pictures.length; i++) {
                formdata.append("Picture", pictures[i]);
            }
            $.ajax({
                url: "/Shared/AddPictures",
                type: "Post",
                data: formdata,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (response) {

                    for (var i = 0; i < response.length; i++) {
                        HotelPackagepictures.picIDs.push(response[i].ID);
                        HotelPackagepictures.picUrls.push(response[i].URL);
                    }
                    ShowPics(HotelPackagepictures);
                }

            });
        });
        /// Show All pics
        function ShowPics(HotelPackagepictures) {
            var picture = "";
            $("#picturesSection").html("");
            for (var i = 0; i < HotelPackagepictures.picIDs.length; i++) {
                picture += "<img width='200px' height='140px' class='img-fluid upload' src='/Content/Images/" + HotelPackagepictures.picUrls[i] + "' data-id='" + HotelPackagepictures.picIDs[i] + "' /> ";
                $("#picturesSection").html(picture);
            }
            $("#PicIDs").val(HotelPackagepictures.picIDs.join(","));
        }
        //Remove Pic
         ////
        $(document).on('click', '.upload', function (content) {
            var rpicURl = "";
            var $img = $(this);
            var value = $img.attr('data-id');
            for (var i = 0; i < HotelPackagepictures.picIDs.length; i++){
                if ( HotelPackagepictures.picIDs[i].toString() === value) {
                    HotelPackagepictures.picIDs.splice(i, 1);
                    rpicURl=HotelPackagepictures.picUrls[i];
                    }
            }
            $.ajax({
                url: "/Shared/DeletePicture",
                method: "POST",
                data: { name: rpicURl },
                success: function (response) {
                }
            });
             $img.remove();
            $("#PicIDs").val(HotelPackagepictures.picIDs.join(","));
        });
        ///
    });
    ////Posting Form
    $("#saveHotelPackagebtn").click(function () {
        var HotelPackage = {
            Name: "",
            Price: "",
            Description: "",
            HotelID :""
        }
        //Getting All Info
        HotelPackage.Name = $("#Name").val();
        HotelPackage.Price = $("#Price").val();
        HotelPackage.Description = $("#Description").val();
        HotelPackage.HotelID = $(".HotelSelect option:Selected").val();

        if ($("#addForm").valid()) {
            if ($("#PicIDs").val() != "") {
                $('.bd-example-modal-xl').modal('hide');
                $.ajax({
                    url: '@Url.Action("AddHotelPackage", "HotelPackage")',
                    type: "Post",
                    data: {
                        HotelPackage: HotelPackage, PicIDs: $("#PicIDs").val()
                    },
                    success: function (response) {
                        $("#HotelPackageTable").html(response);
                        $(".content-body-modal").html('');
                    }
                });
            }
            else {
                toastr.warning("Please Enter atleast 1 Picture");
            }
        } else {
            toastr.warning("Please Enter Required Fields");
        }
        
    });

        $(document).ready(function () {
         /////////////// Validation of Form.....
    //////////////
        $("#addForm").validate({
            rules: {
                Name: {
                    required: true,
                    minlength:5
                },
                Price: {
                    required: true,
                    digits:true
                },
                Description: {
                    required: true,
                    minlength:20
                }
            },
            messages: {
                Name: {
                    required: "Package Name is required",
                    minlength:"Please enter atleast 5 characters"
                },
                Price: {
                    required: "Price is required",
                    digits:"Price should contain Digits"
                },
                Description: {
                    required: "Discription is required",
                    minlength:"Please enter atleast 20 characters"
                }
            }
        } 
        );
        /////////////////////////////End of Validation
        

    })
</script>
<style>
    .FacilitySection {
        margin: 10px;
    }

    .facility-holder {
        margin: 4px;
        border-radius: 4px;
        padding: 4px;
    }

    .custom-card {
        border: none;
        border-radius: 0px;
    }

    .custom {
        max-width: unset;
    }

    label {
        margin: 0px;
    }

    textarea {
        width: 100%;
    }

    .hidden {
        display: none;
    }
    label.error{
        color:red;
    }
</style>
