﻿@using NatureExplorer.Entities
@model NatureExplorer.Web.Areas.Admin.ViewModels.HotelPackageVMS.EditHotelPackageVM
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Edit HotelPackage</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="editForm">
        <input type="hidden" readonly id="ID" name="ID" value="@Model.HotelPackage.ID" />
        <input type="hidden" readonly id="HotelID" name="HotelID" value="@Model.HotelPackage.ID" />
        <div class="form-group">
            <input type="text" class="form-control custom" disabled value="@Model.HotelPackage.Hotel.Name" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control custom" id="Name" name="Name" value="@Model.HotelPackage.Name" placeholder="Enter Package Name" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control custom" id="Price" name="Price" value="@Model.HotelPackage.Price" placeholder="Enter Package Price" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control custom" id="Description" name="Description" value="@Model.HotelPackage.Description" placeholder="Enter Package Description" />
        </div>
        <div class="form-group">
            <input type="file" multiple id="HotelPackagePictureUpload" />
            <input type="text" name="PicIDs" id="PicIDs" hidden />

        </div>
        <div id="picturesSection">
            @if (Model.HotelPackage.Pictures != null)
            {
                foreach (var pic in Model.HotelPackage.Pictures)
                {
                    <img width="160px" height="160px" class='img-fluid upload' src="/Content/Images/@pic.Picture.URL" data-src="@pic.Picture.URL" data-id="@pic.Picture.ID" />
                }
            }
        </div>
    </form>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="saveHotelPackagebtn">Save</button>
</div>
<script>

    $(document).ready(function () {
     ////FileUplaod..
    //var picIDs = [];
    var HotelPackagepictures = {
        picIDs: [],
        picUrls: []
        };
        //Adding ExistingPics
        $(".upload").each(function () {
            var $image = this;
            HotelPackagepictures.picUrls.push($($image).attr("data-src"));
            HotelPackagepictures.picIDs.push($($image).attr("data-id"));
        });
        $("#PicIDs").val(HotelPackagepictures.picIDs.join(","));
        //AFTER Change in PicturesPlaceHolder
        $("#HotelPackagePictureUpload").change(function () {
            var formdata = new FormData();
            var pictures = this.files;
            for (var i = 0; i < pictures.length; i++) {
                formdata.append("Picture", pictures[i]);
            }
            $.ajax({
                url: "/Shared/AddPictures",
                type: "Post",
                data: formdata,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (response) {

                    for (var i = 0; i < response.length; i++) {
                        HotelPackagepictures.picIDs.push(response[i].ID);
                        HotelPackagepictures.picUrls.push(response[i].URL);
                    }
                    ShowPics(HotelPackagepictures);
                }

            });
        });
            /// Show All pics
            function ShowPics(HotelPackagepictures) {
            var picture = "";
            $("#picturesSection").html("");
            for (var i = 0; i < HotelPackagepictures.picIDs.length; i++) {
                picture += "<img width='200px' height='140px' class='img-fluid upload' src='/Content/Images/" + HotelPackagepictures.picUrls[i] + "' data-id='" + HotelPackagepictures.picIDs[i] + "' /> ";
                $("#picturesSection").html(picture);
            }
            $("#PicIDs").val(HotelPackagepictures.picIDs.join(","));
        }
        ////
        //Remove Pic
         ////
        $(document).on('click', '.upload', function (content) {
            var rpicURl = "";
            var $img = $(this);
            var value = $img.attr('data-id');
            for (var i = 0; i < HotelPackagepictures.picIDs.length; i++){
                if ( HotelPackagepictures.picIDs[i].toString() === value) {
                    HotelPackagepictures.picIDs.splice(i, 1);
                    rpicURl=HotelPackagepictures.picUrls[i];
                    }
            }
            $.ajax({
                url: "/Shared/DeletePicture",
                method: "POST",
                data: { name: rpicURl },
                success: function (response) {

                }
            });
             $img.remove();
            $("#PicIDs").val(HotelPackagepictures.picIDs.join(","));
        });

        });

    $(document).ready(function () {
        //Post
        $("#saveHotelPackagebtn").click(function () {
            var HotelPackage = {
            ID: "",
            HotelID:"",
            Name: "",
            Price: "",
            Description: ""
        }
            //Getting All Info
        HotelPackage.ID = $("#ID").val();
        HotelPackage.HotelID = $("#HotelID").val();
        HotelPackage.Name = $("#Name").val();
            HotelPackage.Price = $("#Price").val();
            HotelPackage.Description = $("#Description").val();

            if ($("#editForm").valid()) {
            if ($("#PicIDs").val() != "") {
                $('.bd-example-modal-xl').modal('hide');
            //Sending Ajax
            $.ajax({
                url: '@Url.Action("EditHotelPackage", "HotelPackage")',
                type: "Post",
                data: {
                HotelPackage: HotelPackage, PicIDs: $("#PicIDs").val()
                        },
                success: function (response) {
                    $('.bd-example-modal-xl').modal('hide');
                    $("#HotelPackageTable").html(response);
                }
            });
            }
            else {
                toastr.warning("Please Enter atleast 1 Picture");
            }
        } else {
            toastr.warning("Please Enter Required Fields");
        }

           
        });
    });

            $(document).ready(function () {
         /////////////// Validation of Form.....
    //////////////
        $("#editForm").validate({
            rules: {
                Name: {
                    required: true,
                    minlength:5
                },
                Price: {
                    required: true,
                    number:true
                },
                Description: {
                    required: true,
                    minlength:20
                }
            },
            messages: {
                Name: {
                    required: "Package Name is required",
                    minlength:"Please enter atleast 5 characters"
                },
                Price: {
                    required: "Price is required",
                    number:"Price should contain number"
                },
                Description: {
                    required: "Discription is required",
                    minlength:"Please enter atleast 20 characters"
                }
            }
        } 
        );
        /////////////////////////////End of Validation
        

    })
</script>
<style>
    .FacilitySection {
        margin: 10px;
    }

    .facility-holder {
        margin: 4px;
        border-radius: 4px;
        padding: 4px;
    }

    .custom-card {
        border: none;
        border-radius: 0px;
    }

    .custom {
        max-width: unset;
    }

    label {
        margin: 0px;
    }

    textarea {
        width: 100%;
    }
    label.error{
        color:red;
    }
</style>


