﻿
@{
    ViewBag.Title = "Hotel Pakages";
}

<div id="HotelPackageTable" class="container-fluid">
    @{ Html.RenderAction("HotelPackageTable");}
</div>
<!--BootsrtapModal-->

<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="content-body-modal">

            </div>
        </div>
    </div>
</div>
<div id="actionContent">

</div>
