﻿@*@model BidMee.Web.ViewModels.createAuctionVM*@
@using NatureExplorer.Entities
@using NatureExplorer.Web.Areas.Admin.ViewModels
@model NatureExplorer.Web.Areas.Admin.ViewModels.ADDTourVM
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add Tour</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="addForm">

        <div class="form-group">
            @if (Model.facilities != null)
            {
                <select class="custom-select form-control" id="RenewTourSelect">
                    <option value="-1" selected>Select Tour To Renew</option>
                    @foreach (var t in Model.Tours)

                    {
                        <option value="@t.ID">@t.Title</option>
                    }
                </select>
            }

        </div>
        <div class="form-group">
            <label style="display:block" class="label" for="Title">Title <label style="color:red">*</label></label>
            <input type="text" class="form-control custom" id="Title" name="Title" placeholder="Enter Title" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label style="display:block" for="Days">No of Days<label style="color:red">*</label></label>
                    <input type="text" class="form-control custom" id="Days" name="Days" placeholder="i.e 3" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label style="display:block" for="Nights">No of Nights</label>
                    <input type="text" class="form-control custom" id="Nights" value="0" name="Nights" placeholder="i.e 2" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label style="display:block">Departure Date<label style="color:red">*</label></label>
            <input type="date" class="form-control custom" id="DepartureDate" name="DepartureDate" placeholder="Add Start Date" />
        </div>

        <div class="form-group">
            <label style="display:block">Destination<label style="color:red">*</label></label>
            <input type="text" class="form-control custom" id="Destination" name="Destination" placeholder="Destination" />
        </div>
        <div class="form-group">
            @if (Model.facilities != null)
            {
                <select class="custom-select FacilitySelect">
                    <option value="" selected>Select Facility to Add</option>
                    @foreach (var f in Model.facilities)

                    {
                        <option value="@f.ID">@f.Name</option>
                    }
                </select>
            }
            else
            {
                <label>Please Add Facilities Before Adding To Tour</label>
            }

        </div>
        <div class="FacilitySection">

        </div>
        @*NightDetailSection*@
        <div class="card custom-card">
            <div class="card-header">
                Night Detail
            </div>
            <div class="card-body">
                <div id="NightInput" class="form-row">
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control custom" id="NightNo" placeholder="NightNo." />
                    </div>
                    <div class="form-group col-md-4">
                        <select id="HotelStay" name="HotelStay" class="form-control">
                            <option value="-1" selected>Hotel Stay</option>
                            @foreach (var h in Model.Hotels)
                            {
                                <option value="@h">@h</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-5">
                        <input type="button" style="width:90%" class="btn btn-success" id="AddTourNightDetailButton" value="Add" />
                    </div>
                </div>
                <div id="NightDetailPlaceHolder">

                </div>
            </div>
        </div>
        @*DaysDetailSection*@
        <div class="card custom-card">
            <div class="card-header">
                Days Detail
            </div>
            <div class="card-body">
                <div id="DaysDetailInput" class="form-row">
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control custom" id="DayNumber" placeholder="DayNo." />
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control custom" id="Location" placeholder="Location" />
                    </div>

                    <div class="form-group col-md-5">
                        <input type="text" class="form-control custom" id="Description" placeholder="Description" />
                    </div>
                    <div class="form-group col-md-2">
                        <input type="button" class="btn btn-success" id="AddTourdayDetailButton" value="Add" />
                    </div>
                </div>
                <div id="DaysDetailPlaceHolder">

                </div>
            </div>
        </div>


        @*PricingDetailSection*@
        <div class="card custom-card">
            <div class="card-header">
                Pricing Detail
            </div>
            <div class="card-body">
                <div id="PricingDetailInput" class="form-row">
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control custom" id="PricingLocation" placeholder="Location" />
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control custom" id="SinglePrice" placeholder="Price for Single Person" />
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control custom" id="CouplePrice" placeholder="Price for Couple" />
                    </div>
                    <div class="form-group col-md-2">
                        <input type="button" class="btn btn-success" id="AddTourPricingDetailButton" value="Add" />
                    </div>
                </div>
                <div id="PricingDetailPlaceHolder">

                </div>
            </div>
        </div>
        @*BusReservationDetailSection*@
        <div class="card custom-card">
            <div class="card-header">
                Vehicles
            </div>
            <div class="card-body">
                <div id="VehicleInput" class="form-row">
                    <div class="form-group col-md-6">
                        <select id="Vehicle" name="Vehicle" class="form-control">
                            <option value="-1" selected>Selecct Vehicle</option>
                            <option value="Coaster" >Coaster</option>
                            <option value="HiAce" >HiAce</option>
                        </select>
                    </div>
                    <div class="form-group col-md-5">
                        <input type="button" style="width:90%" class="btn btn-success" id="AddTourVehicleDetailButton" value="Add" />
                    </div>
                </div>
                <div id="VehicleDetailPlaceHolder">

                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="file" multiple id="tourPictureUpload" />
            <input type="text" name="PicIDs" id="PicIDs" hidden />
        </div>

        <div id="picturesSection">
            <img />
        </div>

    </form>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="saveTourbtn">Save</button>
</div>

<script>
    ///////////////////////////////////////////////////
    $(document).ready(function () {
        ////Facilities Section
        $(".FacilitySelect").change(function () {
            var value = $(".FacilitySelect option:Selected").val();
            var text = $(".FacilitySelect option:Selected").html();
            var flagAdded = false;
            $(".FacilitySection span").each(function () {
                if ($(this).attr("data-id") == value)
                    flagAdded=true;
            });
            if (!flagAdded && value!="") {
            var $Container = "<span data-id='" + value + "' class='rm-Facility bg-info facility-holder'>" +text + "<i class='text-danger fas fa-times-circle'></i></span>"
            $(".FacilitySection").append($Container);
            }          
        });
        $(document).on('click', '.rm-Facility', function () {
            var $object = $(this);
            $object.remove();
        });
        
        /////Tour Days Detail Section..........

        $("#AddTourdayDetailButton").click(function () {
            var $Row = $("#DaysDetailInput").clone().removeAttr('id');
            //Assigning Values To Clone row
            $('#DayNumber', $Row).val($('#DayNumber').val());
            $('#Location', $Row).val($('#Location').val());
            $('#Description', $Row).val($('#Description').val());
            //Replace add button with remove button
            $('#AddTourdayDetailButton', $Row).addClass('remove').val("Remove").removeClass('btn-success').addClass('btn-danger');
            // //adding Name Attributes
            $('#DayNumber', $Row).attr('class', 'DayNumber form-control custom');
            $('#Location', $Row).attr('class', 'Location form-control custom');
            $('#Description', $Row).attr('class', 'Description form-control custom');
            ////Adding Readonly Attr
             $('#DayNumber', $Row).prop("readonly","true");
             $('#Location', $Row).prop("readonly", "true");
             $('#Description', $Row).prop("readonly", "true");
            //Removing ID Attributes
            $('#DayNumber,#Location,#Description,#AddTourdayDetailButton', $Row).removeAttr('id');
            //Appending Row to New Row
            $('#DaysDetailPlaceHolder').append($Row)
            //Clearing Input Values
            $('#DayNumber').val("");
            $('#Location').val("");
            $('#Description').val("");

            //remove button click event
            $('#DaysDetailPlaceHolder').on('click', '.remove', function () {
                $(this).parents('.form-row').remove();
            });
        });


        /////Tour Nights Detail Section..........
        $("#AddTourNightDetailButton").click(function () {
            var $Row = $("#NightInput").clone().removeAttr('id');
            //Assigning Values To Clone row
            $('#NightNo', $Row).val($('#NightNo').val());
            var input = $("<input readonly />").addClass("HotelStay form-control custom").attr("value", $("#HotelStay").find(":selected").text());
            $('#HotelStay', $Row).replaceWith(input);
            //Replace add button with remove button
            $('#AddTourNightDetailButton', $Row).addClass('remove').val("Remove").removeClass('btn-success').addClass('btn-danger');
            // //adding Class Attributes
            $('#NightNo', $Row).attr('class', 'NightNo form-control custom');
            $('#NightNo', $Row).prop("readonly","true");
            $('#HotelStay', $Row).prop("readonly","true");
            //Removing ID Attributes
            $('#NightNo,#HotelStay,#AddTourNightDetailButton', $Row).removeAttr('id');
            //Appending Row to New Row
            $('#NightDetailPlaceHolder').append($Row)
            //Clearing Input Values
            $('#NightNo').val("");
            //remove button click event
            $('#NightDetailPlaceHolder').on('click', '.remove', function () {
                $(this).parents('.form-row').remove();
            });
        });

        /////Tour Vehicle Detail Section..........
        $("#AddTourVehicleDetailButton").click(function () {
            var $Row = $("#VehicleInput").clone().removeAttr('id');
            //Assigning Values To Clone row
            var input = $("<input readonly />").addClass("Vehicle form-control custom").attr("value", $("#Vehicle").find(":selected").text());
            $('#Vehicle', $Row).replaceWith(input);
            //Replace add button with remove button
            $('#AddTourVehicleDetailButton', $Row).addClass('remove').val("Remove").removeClass('btn-success').addClass('btn-danger');
            // //adding Class Attributes
            $('#Vehicle', $Row).prop("readonly","true");
            //Removing ID Attributes
            $('#Vehicle,#AddVehicleDetailButton', $Row).removeAttr('id');
            //Appending Row to New Row
            $('#VehicleDetailPlaceHolder').append($Row)
            //Clearing Input Values
            //remove button click event
            $('#VehicleDetailPlaceHolder').on('click', '.remove', function () {
                $(this).parents('.form-row').remove();
            });
        });

             /////Tour Pricing Detail Section..........

            $("#AddTourPricingDetailButton").click(function () {
            var $Row = $("#PricingDetailInput").clone().removeAttr('id');
            //Assigning Values To Clone row
            $('#PricingLocation', $Row).val($('#PricingLocation').val());
            $('#SinglePrice', $Row).val($('#SinglePrice').val());
            $('#CouplePrice', $Row).val($('#CouplePrice').val());
            //Replace add button with remove button
            $('#AddTourPricingDetailButton', $Row).addClass('remove').val("Remove").removeClass('btn-success').addClass('btn-danger');
            // //adding Name Attributes
            $('#PricingLocation', $Row).attr('class', 'PricingLocation form-control custom');
            $('#SinglePrice', $Row).attr('class', 'SinglePrice form-control custom');
            $('#CouplePrice', $Row).attr('class', 'CouplePrice form-control custom');
            /////Adding Readonly Property
            $('#PricingLocation', $Row).prop("readonly","true");
            $('#SinglePrice', $Row).prop("readonly", "true");
            $('#CouplePrice', $Row).prop("readonly", "true");
            //Removing ID Attributes
            $('#PricingLocation,#SinglePrice,#CouplePrice,#AddTourPricingDetailButton', $Row).removeAttr('id');
            //Appending Row to New Row
            $('#PricingDetailPlaceHolder').append($Row)
            //Clearing Input Values
            $('#PricingLocation').val("");
            $('#SinglePrice').val("");
            $('#CouplePrice').val("");

            //remove button click event
            $('#PricingDetailPlaceHolder').on('click', '.remove', function () {
            $(this).parents('.form-row').remove();
            });
        });

    });
    //////////////////////////////////////////////
    ////FileUplaod..
    //var picIDs = [];
    var Tourpictures = {
        picIDs: [],
        picUrls: []
    };
    $(document).ready(function () {

        $("#tourPictureUpload").change(function () {
            var formdata = new FormData();
            var pictures = this.files;
            for (var i = 0; i < pictures.length; i++) {
                formdata.append("Picture", pictures[i]);
            }
            $.ajax({
                url: "/Shared/AddPictures",
                type: "Post",
                data: formdata,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (response) {

                    for (var i = 0; i < response.length; i++) {
                        Tourpictures.picIDs.push(response[i].ID);
                        Tourpictures.picUrls.push(response[i].URL);
                    }
                    ShowPics(Tourpictures);
                }

            });
        });
        /// Show All pics
        function ShowPics(Tourpictures) {
            var picture = "";
            $("#picturesSection").html("");
            for (var i = 0; i < Tourpictures.picIDs.length; i++) {
                picture += "<img width='200px' height='140px' class='img-fluid upload' src='/Content/Images/" + Tourpictures.picUrls[i] + "' data-id='" + Tourpictures.picIDs[i] + "' /> ";
            }
            $("#picturesSection").append(picture);
            $("#PicIDs").val(Tourpictures.picIDs.join(","));
        }
        //Remove Pic
         ////
        $(document).on('click', '.upload', function (content) {
            var rpicURl = "";
            var $img = $(this);
            var value = $img.attr('data-id');
            for (var i = 0; i < Tourpictures.picIDs.length; i++){
                if ( Tourpictures.picIDs[i].toString() === value) {
                    Tourpictures.picIDs.splice(i, 1);
                    rpicURl=Tourpictures.picUrls[i];
                    }
            }
            $.ajax({
                url: "/Shared/DeletePicture",
                method: "POST",
                data: { name: rpicURl },
                success: function (response) {
                }
            });
             $img.remove();
            $("#PicIDs").val(Tourpictures.picIDs.join(","));
        });
        ///
    });
    ////Posting Form
    $("#saveTourbtn").click(function () {
        var Tour = {
            Title: "",
            Days: "",
            Nights:"",
            DepartureDate: "",
            Destination: "",
            TourDays: [],
            TourNights:[],
            TourPrices: [],
            TourFacilities: [],
            TourBuses:[]
        }
        //Getting All Info
        Tour.Title = $("#Title").val();
        Tour.Days = $("#Days").val();
        Tour.Nights = $("#Nights").val();
        Tour.DepartureDate = $("#DepartureDate").val();
        Tour.Destination = $("#Destination").val();
        ////Getting Info For Validation
        var NumberofNights = parseInt($("#Nights").val());
        var NumberofDays = parseInt(Tour.Days = $("#Days").val());
        //Getting days Detail
        $("#DaysDetailPlaceHolder .form-row").each(function () {
            var DayDetail = {
                DayNumber: parseInt($(".DayNumber", this).val()),
                Location: $(".Location", this).val(),
                Description: $(".Description", this).val()
            };
            Tour.TourDays.push(DayDetail)
        });
        //Getting Nights Detail 
        $("#NightDetailPlaceHolder .form-row").each(function () {
                    debugger;
            var NightDetail = {
                NightNo: parseInt($(".NightNo", this).val()),
                HotelToStay: $(".HotelStay", this).val(),
            };
            Tour.TourNights.push(NightDetail)
        });
        //Getting TourBuses Detail 
        $("#VehicleDetailPlaceHolder .form-row").each(function () {
      
            var Vehicle = {
                Name: $(".Vehicle", this).val(),
            };
            Tour.TourBuses.push(Vehicle)
        });
        //Getting Tour Pricing Details
        $("#PricingDetailPlaceHolder .form-row").each(function () {
            var DayDetail = {
                Location: $(".PricingLocation", this).val(),
                SinglePrice: $(".SinglePrice", this).val(),
                CouplePrice: $(".CouplePrice", this).val()
            };
            Tour.TourPrices.push(DayDetail)
        });
        //Getting Tour Facilities Details
        $(".FacilitySection span").each(function () {
            var Facility = {
                FacilityID: $(this).attr("data-id"),
            };
            Tour.TourFacilities.push(Facility)
        });
        ///////////////////////////
        /////////Addming Tour in Database...
        /////////////
        if ($("#addForm").valid()) {
            if (Tourpictures.picIDs.length > 0) {
                if (NumberofNights != Tour.TourNights.length) {
                    toastr.warning("Number of Nights Doesnt match with Night Details Added");
                } else {
                    if (NumberofDays != Tour.TourDays.length) {
                        toastr.warning("Number of Days Doesnt match with Days Details Added");
                    } else {
                        if (Tour.TourPrices.length <= 0) {
                            toastr.warning("Please Add Atleast one pricing Detail");
                        } else {
                            $('.bd-example-modal-xl').modal('hide');
                         $.ajax({
                         url: '@Url.Action("AddTour", "Tour")',
                          type: "Post",
                          data: {
                          tour: Tour, PicIDs: $("#PicIDs").val()
                             },
                             success: function (response) {
                               $("#TourTable").html(response);
                               $(".content-body-modal").html('');
                              swal("Good job!", "Tour Saved in Database", "success");
                                 }
                                 });
                        } 
                    }
                }
            
        }
        else {
           // swal("Oops!", "Form Isn't Valid", "error");
                  toastr.warning("Please Add Atleast One Image!");
        }
        }
        else {
            // swal("Oops!", "Please Add Some Pictures", "error");
            toastr.warning("Please Add Required Fields!");
        }
       
  
    });

    ///Renew Tour Section 
    $(document).ready(function () {
        $("#RenewTourSelect").change(function () {
            var Value = $("#RenewTourSelect").find(":selected").attr("value");
            if (Value != null && Value != '-1') {
                $.ajax({
                    url: "@Url.Action("RenewTour","Tour")",
                    method: "POST",
                    data: { ID: Value },
                     dataType: "json",
                    success: function (Tour) {
                        debugger;
                        /////Applying Tour Details
                        $("#Title").attr("value", Tour.Title);
                        $("#Days").attr("value", Tour.Days);
                        $("#Nights").attr("value", Tour.Nights);
                        $("#DepartureDate").attr("value", Tour.DepartureDate);
                        $("#Destination").attr("value", Tour.Destination);
                        console.log(Tour);
                        ///Adding Facilities
                        for (var i = 0; i < Tour.TourFacilities.length; i++)
                        {
                            var $Container = "<span data-id='" + Tour.TourFacilities[i].Facility.ID + "' class='rm-Facility bg-info facility-holder'>" + Tour.TourFacilities[i].Facility.Name + "<i class='text-danger fas fa-times-circle'></i></span>"
                             $(".FacilitySection").append($Container);
                        }
                        ///Adding Night Details
                        for (var i = 0; i < Tour.TourNights.length; i++)
                        {
                            CloneNightDetail(Tour.TourNights[i].NightNo, Tour.TourNights[i].HotelToStay);
                        }
                        ////Adding Tour Days
                        for (var i = 0; i < Tour.TourDays.length; i++) {
                            CloneDaysDetail(Tour.TourDays[i].DayNumber, Tour.TourDays[i].Location, Tour.TourDays[i].Description);
                        }
                        /////
                        for (var i = 0; i < Tour.TourPrices.length; i++) {

                            ClonePricingDetail(Tour.TourPrices[i].Location, Tour.TourPrices[i].SinglePrice, Tour.TourPrices[i].CouplePrice)
                        }
                        for (var i = 0; i < Tour.Pictures.length; i++) {
                            var pic = "<img width='200px' height='140px' class='img-fluid upload' src='/Content/Images/" + Tour.Pictures[i].Picture.URL + "' data-id='" + Tour.Pictures[i].Picture.ID + "' /> ";
                            $("#picturesSection").append(pic);
                        }
                    },
                }).fail(function (error) {
                    debugger;
                    console.log(error)
                });
            }

        });
    });

    function CloneNightDetail(NightNo,HotelStay) {
         var $Row = $("#NightInput").clone().removeAttr('id');
        //Assigning Values To Clone row
        $('#NightNo', $Row).val(NightNo);
        var input = $("<input readonly />").addClass("HotelStay form-control custom").attr("value", HotelStay);
            $('#HotelStay', $Row).replaceWith(input);
            //Replace add button with remove button
            $('#AddTourNightDetailButton', $Row).addClass('remove').val("Remove").removeClass('btn-success').addClass('btn-danger');
            // //adding Class Attributes
            $('#NightNo', $Row).attr('class', 'NightNo form-control custom');
            //Removing ID Attributes
            $('#NightNo,#HotelStay,#AddTourNightDetailButton', $Row).removeAttr('id');
            //Appending Row to New Row
            $('#NightDetailPlaceHolder').append($Row)
    }

    function CloneDaysDetail(DayNumber,Location,Description) {
           var $Row = $("#DaysDetailInput").clone().removeAttr('id');
        //Assigning Values To Clone row
        $('#DayNumber', $Row).val(DayNumber);
        $('#Location', $Row).val(Location);
        $('#Description', $Row).val(Description);
            //Replace add button with remove button
            $('#AddTourdayDetailButton', $Row).addClass('remove').val("Remove").removeClass('btn-success').addClass('btn-danger');
            // //adding Name Attributes
            $('#DayNumber', $Row).attr('class', 'DayNumber form-control custom');
            $('#Location', $Row).attr('class', 'Location form-control custom');
            $('#Description', $Row).attr('class', 'Description form-control custom');
            //Removing ID Attributes
            $('#DayNumber,#Location,#Description,#AddTourdayDetailButton', $Row).removeAttr('id');
            //Appending Row to New Row
        $('#DaysDetailPlaceHolder').append($Row);
    }

    function ClonePricingDetail(Location,SinglePrice,CouplePrice) {
        var $Row = $("#PricingDetailInput").clone().removeAttr('id');
        //Assigning Values To Clone row
        $('#PricingLocation', $Row).val(Location);
        $('#SinglePrice', $Row).val(SinglePrice);
        $('#CouplePrice', $Row).val(CouplePrice);
            //Replace add button with remove button
            $('#AddTourPricingDetailButton', $Row).addClass('remove').val("Remove").removeClass('btn-success').addClass('btn-danger');
            // //adding Name Attributes
            $('#PricingLocation', $Row).attr('class', 'PricingLocation form-control custom');
            $('#SinglePrice', $Row).attr('class', 'SinglePrice form-control custom');
            $('#CouplePrice', $Row).attr('class', 'CouplePrice form-control custom');
            //Removing ID Attributes
            $('#PricingLocation,#SinglePrice,#CouplePrice,#AddTourPricingDetailButton', $Row).removeAttr('id');
            //Appending Row to New Row
            $('#PricingDetailPlaceHolder').append($Row)
    }

    $(document).ready(function () {
         /////////////// Validation of Form.....
    //////////////
        $("#addForm").validate({
            rules: {
                Title: {
                    required: true,
                    minlength: 5,
                    maxlength:50
                },
                Days: {
                    required: true,
                    minlength: 1,
                    digits:true
                },
                Nights: {
                    digits:true
                },
                DepartureDate: {
                    required:true,
                    date: true,
                    remote: {
                        url: "@Url.Action("DepartureDate","Validation")",
                        type: "post",
                        data: $("DepartureDate").val(),
                    }
                },
                Destination:{
                    required: true,
                    minlength: 4,
                    maxlength:20
                },
                NightNo: {
                    digits: true
                }
                
            },
            messages: {
                Title: {
                    required: "Title is required",
                    minlength: "Title Should have min length of 5 characters",
                    maxlength:"Maximum 50 charachters are allowed"
                },
                Days: {
                    required: "Days atleast 1 Day is required",
                    minlength: "Days atleast 1 Day is required",
                    digits:"Enter only Digits"
                },
                Nights: {
                    digits:"Enter only Digits"
                },
                DepartureDate: {
                    required:"Departure Date is Required",
                    date: "Departure Date is Required",
                    remote:"Enter DateTime of Future Period"
                },
                Destination: {
                    required: "Destination Place is Required",
                    minlength: "Destination should have atleast 4 characters",
                    maxlength:"Maximum of 20 characters are allowed"
                },
                NightNo: {
                    digits:"Only Digits Allowed"
                }
            }
        } 
        );
        /////////////////////////////End of Validation
        

    })

</script>
<style>
    .FacilitySection{
        margin:10px;
    }
    .facility-holder{
        margin:4px;
        border-radius:4px;
        padding:4px;
    }
    .custom-card{
        border:none;
        border-radius:0px;
    }
    .custom {
        max-width: unset;
    }

    label {
        margin: 0px;
    }

    textarea {
        width: 100%;
    }

    .hidden {
        display: none;
    }
    label.error{
        color:red;
    }
</style>
