﻿@using NatureExplorer.Entities
@model NatureExplorer.Web.Areas.Admin.ViewModels.EditTourVM
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Edit Tour</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="editForm">
        <input type="hidden" readonly id="ID" name="ID" value="@Model.Tour.ID" />
        <div class="form-group">
            <label for="Title" style="display:block">Title<label style="color:red">*</label></label>
            <input type="text" class="form-control custom" id="Title" name="Title" value="@Model.Tour.Title" placeholder="Enter Title" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label style="display:block" for="Days">No of Days<label style="color:red">*</label></label>
                    <input type="text" class="form-control custom" id="Days" value="@Model.Tour.Days" name="Days" placeholder="i.e 3" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label style="display:block" for="Nights">No of Nights</label>
                    <input type="text" class="form-control custom" id="Nights" value="@Model.Tour.Nights" name="Nights" placeholder="i.e 2" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label style="display:block">Departure Date {mm:dd:yyy:time} <label style="color:red">*</label></label>
            <input type="text" class="form-control custom" id="DepartureDate" name="DepartureDate" value="@Model.Tour.DepartureDate" placeholder="Add Start Date" />
        </div>
        <div class="form-group">
            <label style="display:block">Destination<label style="color:red">*</label></label>
            <input type="text" class="form-control custom" id="Destination" name="Destination" value="@Model.Tour.Destination" placeholder="Destination" />
        </div>
        <div class="form-group">
            @if (Model.facilities != null)
            {
                <select class="custom-select FacilitySelect">
                    <option value="" selected>Select Facility to Add</option>
                    @foreach (var f in Model.facilities)

                    {
                        <option value="@f.ID">@f.Name</option>
                    }
                </select>
            }
            else
            {
                <label>Please Add Facilities Before Adding To Tour</label>
            }
        </div>
        <div class="FacilitySection">
            @foreach (var facility in Model.Tour.TourFacilities)
            {
                <span data-id="@facility.Facility.ID" class='rm-Facility bg-info facility-holder'>
                    @facility.Facility.Name
                    <i class='text-danger fas fa-times-circle'></i>
                </span>
            }
        </div>
        @*NightDetailSection*@
        <div class="card custom-card">
            <div class="card-header">
                Night Detail
            </div>
            <div class="card-body">
                <div id="NightInput" class="form-row">
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control custom" id="NightNo" placeholder="NightNo." />
                    </div>
                    <div class="form-group col-md-4">
                        <select id="HotelStay" name="HotelStay" class="form-control">
                            <option value="-1" selected>Hotel Stay</option>
                            @foreach (var h in Model.Hotels)
                            {
                                <option value="@h">@h</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-5">
                        <input type="button" style="width:90%" class="btn btn-success" id="AddTourNightDetailButton" value="Add" />
                    </div>
                </div>
                <div id="NightDetailPlaceHolder">
                    @foreach (var night in Model.Tour.TourNights)
                    {
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control custom NightNo" readonly value="@night.NightNo" placeholder="NightNo" />
                            </div>
                            <div class="form-group col-md-4">
                                <input type="text" class="form-control custom HotelStay" readonly value="@night.HotelToStay" readonly placeholder="Hotel to Stay" />
                            </div>
                            <div class="form-group col-md-5">
                                <input type="button" style="width:90%" class="btn btn-danger remove" value="Remove" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        @*DaysDetailSection*@
        <div class="card custom-card">
            <div class="card-header">
                Days Detail
            </div>
            <div class="card-body">
                <div id="DaysDetailInput" class="form-row">
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control custom" id="DayNumber" placeholder="DayNumber" />
                    </div>
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control custom" id="Location" placeholder="Location" />
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control custom" id="Description" placeholder="Description" />
                    </div>
                    <div class="form-group col-md-2">
                        <input type="button" class="btn btn-success" id="AddTourdayDetailButton" value="Add" />
                    </div>
                </div>
                <div id="DaysDetailPlaceHolder">
                    @if (Model.Tour.TourDays != null)
                    {
                        foreach (var detail in Model.Tour.TourDays)
                        {
                            <div class="DaysDetailInput form-row">
                                <div class="form-group col-md-2">
                                    <input type="text" class="form-control custom DayNumber" readonly value="@detail.DayNumber" placeholder="DayNumber" />
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="text" class="form-control custom Location" readonly value="@detail.Location" placeholder="Location" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control custom Description" readonly value="@detail.Description" placeholder="Description" />
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="button" class="btn btn-danger remove" value="Remove" />
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        @*PricingDetailSection*@
        <div class="card custom-card">
            <div class="card-header">
                Pricing Detail
            </div>
            <div class="card-body">
                <div id="PricingDetailInput" class="form-row">
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control custom" id="PricingLocation" placeholder="Location" />
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control custom" id="SinglePrice" placeholder="Price for Single Person" />
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control custom" id="CouplePrice" placeholder="Price for Couple" />
                    </div>
                    <div class="form-group col-md-2">
                        <input type="button" class="btn btn-success" id="AddTourPricingDetailButton" value="Add" />
                    </div>
                </div>
                <div id="PricingDetailPlaceHolder">
                    @if (Model.Tour.TourPrices != null)
                    {
                        foreach (var detail in Model.Tour.TourPrices)
                        {
                            <div class="PricingDetailInput form-row">
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control custom PricingLocation" readonly value="@detail.Location" placeholder="Location" />
                                </div>
                                <div class="form-group col-md-3">
                                    <input type="text" class="form-control custom SinglePrice" readonly value="@detail.SinglePrice" placeholder="Price for Single Person" />
                                </div>
                                <div class="form-group col-md-3">
                                    <input type="text" class="form-control custom CouplePrice" readonly value="@detail.CouplePrice" placeholder="Price for Couple" />
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="button" class="btn btn-danger remove" value="Remove" />
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

        @*BusReservationDetailSection*@
        <div class="card custom-card">
            <div class="card-header">
                Vehicles
            </div>
            <div class="card-body">
                <div id="VehicleInput" class="form-row">
                    <div class="form-group col-md-6">
                        <select id="Vehicle" name="Vehicle" class="form-control">
                            <option value="-1" selected>Selecct Vehicle</option>
                            <option value="Coaster">Coaster</option>
                            <option value="HiAce">HiAce</option>
                        </select>
                    </div>
                    <div class="form-group col-md-5">
                        <input type="button" style="width:90%" class="btn btn-success" id="AddTourVehicleDetailButton" value="Add" />
                    </div>
                </div>
                <div id="VehicleDetailPlaceHolder">
  
                </div>
                <div id="SavedVehicleDetailPlaceHolder">
                    @if (Model.Tour.TourBuses != null)
                    {
                        for (int i = 0; i < Model.Tour.TourBuses.Count; i++)
                        {
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control custom PricingLocation" readonly value="@Model.Tour.TourBuses[i].Name" placeholder="Location" />
                        </div>
                        @*<div class="form-group col-md-3">
                            <input type="button" class="btn btn-primary ViewSeats" value="View Seats" />
                        </div>*@
                        <div class="form-group col-md-6">
                            <input type="text" class="btn btn-primary ViewSeats" value="Booked: @Model.BusReservationPercentages[i].ToString("00.00")%" />
                        </div>
                    </div>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="file" multiple id="tourPictureUpload" />
            <input type="text" name="PicIDs" id="PicIDs" value="" hidden />

        </div>
        <div id="picturesSection">
            @if (Model.Tour.Pictures != null)
            {
                foreach (var pic in Model.Tour.Pictures)
                {
                    <img width="160px" height="160px" class='img-fluid upload' src="/Content/Images/@pic.Picture.URL" data-src="@pic.Picture.URL" data-id="@pic.Picture.ID" />
                }
            }
        </div>
    </form>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="saveTourbtn">Save</button>
</div>
<script>
    $(document).ready(function () {
          /////Tour Vehicle Detail Section..........
        $("#AddTourVehicleDetailButton").click(function () {
            var $Row = $("#VehicleInput").clone().removeAttr('id');
            //Assigning Values To Clone row
            var input = $("<input readonly />").addClass("Vehicle form-control custom").attr("value", $("#Vehicle").find(":selected").text());
            $('#Vehicle', $Row).replaceWith(input);
            //Replace add button with remove button
            $('#AddTourVehicleDetailButton', $Row).addClass('remove').val("Remove").removeClass('btn-success').addClass('btn-danger');
            // //adding Class Attributes
            $('#Vehicle', $Row).prop("readonly","true");
            //Removing ID Attributes
            $('#Vehicle,#AddVehicleDetailButton', $Row).removeAttr('id');
            //Appending Row to New Row
            $('#VehicleDetailPlaceHolder').append($Row)
            //Clearing Input Values
            //remove button click event
            $('#VehicleDetailPlaceHolder').on('click', '.remove', function () {
                $(this).parents('.form-row').remove();
            });
        });


          /////Tour Nights Detail Section..........
        $("#AddTourNightDetailButton").click(function () {
            var $Row = $("#NightInput").clone().removeAttr('id');
            //Assigning Values To Clone row
            $('#NightNo', $Row).val($('#NightNo').val());
            var input = $("<input readonly />").addClass("HotelStay form-control custom").attr("value", $("#HotelStay").find(":selected").text());
            $('#HotelStay', $Row).replaceWith(input);
            //Replace add button with remove button
            $('#AddTourNightDetailButton', $Row).addClass('remove').val("Remove").removeClass('btn-success').addClass('btn-danger');
            // //adding Class Attributes
            $('#NightNo', $Row).attr('class', 'NightNo form-control custom');
            $('#NightNo', $Row).prop("readonly","true");
            $('#HotelStay', $Row).prop("readonly","true");
            //Removing ID Attributes
            $('#NightNo,#HotelStay,#AddTourNightDetailButton', $Row).removeAttr('id');
            //Appending Row to New Row
            $('#NightDetailPlaceHolder').append($Row)
            //Clearing Input Values
            $('#NightNo').val("");
            //remove button click event
            $('#NightDetailPlaceHolder').on('click', '.remove', function () {
                $(this).parents('.form-row').remove();
            });
        });

        /////Tour Days Detail Section..........

        $("#AddTourdayDetailButton").click(function () {
            var $Row = $("#DaysDetailInput").clone().removeAttr('id');
            //Assigning Values To Clone row
            $('#DayNumber', $Row).val($('#DayNumber').val());
            $('#Location', $Row).val($('#Location').val());
            $('#Description', $Row).val($('#Description').val());
            //Replace add button with remove button
            $('#AddTourdayDetailButton', $Row).addClass('remove').val("Remove").removeClass('btn-success').addClass('btn-danger');
            // //adding Name Attributes
            $('#DayNumber', $Row).attr('class', 'DayNumber form-control custom');
            $('#Location', $Row).attr('class', 'Location form-control custom');
            $('#Description', $Row).attr('class', 'Description form-control custom');
            ////Adding Readonly Attr
             $('#DayNumber', $Row).prop("readonly","true");
             $('#Location', $Row).prop("readonly", "true");
             $('#Description', $Row).prop("readonly", "true");
            //Removing ID Attributes
            $('#DayNumber,#Location,#Description,#AddTourdayDetailButton', $Row).removeAttr('id');
            //Appending Row to New Row
            $('#DaysDetailPlaceHolder').append($Row)
            //Clearing Input Values
            $('#DayNumber').val("");
            $('#Location').val("");
            $('#Description').val("");

            //remove button click event
            $('#DaysDetailPlaceHolder').on('click', '.remove', function () {
                $(this).parents('.form-row').remove();
            });
        });

             /////Tour Pricing Detail Section..........

            $("#AddTourPricingDetailButton").click(function () {
            var $Row = $("#PricingDetailInput").clone().removeAttr('id');
            //Assigning Values To Clone row
            $('#PricingLocation', $Row).val($('#PricingLocation').val());
            $('#SinglePrice', $Row).val($('#SinglePrice').val());
            $('#CouplePrice', $Row).val($('#CouplePrice').val());
            //Replace add button with remove button
            $('#AddTourPricingDetailButton', $Row).addClass('remove').val("Remove").removeClass('btn-success').addClass('btn-danger');
            // //adding Name Attributes
            $('#PricingLocation', $Row).attr('class', 'PricingLocation form-control custom');
            $('#SinglePrice', $Row).attr('class', 'SinglePrice form-control custom');
            $('#CouplePrice', $Row).attr('class', 'CouplePrice form-control custom');
                /////Adding Readonly Property
            $('#PricingLocation', $Row).prop("readonly","true");
            $('#SinglePrice', $Row).prop("readonly", "true");
            $('#CouplePrice', $Row).prop("readonly", "true");
            //Removing ID Attributes
            $('#PricingLocation,#SinglePrice,#CouplePrice,#AddTourPricingDetailButton', $Row).removeAttr('id');
            //Appending Row to New Row
            $('#PricingDetailPlaceHolder').append($Row)
            //Clearing Input Values
            $('#PricingLocation').val("");
            $('#SinglePrice').val("");
            $('#CouplePrice').val("");

            //remove button click event
            $('#PricingDetailPlaceHolder').on('click', '.remove', function () {
            $(this).parents('.form-row').remove();
            });
        });

    });
    $(document).ready(function () {
        ////Facilities Section
        $(".FacilitySelect").change(function () {
            var value = $(".FacilitySelect option:Selected").val();
            var text = $(".FacilitySelect option:Selected").html();
            var flagAdded = false;
            $(".FacilitySection span").each(function () {
                if ($(this).attr("data-id") == value)
                    flagAdded=true;
            });
            if (!flagAdded && value!="") {
            var $Container = "<span data-id='" + value + "' class='rm-Facility bg-info facility-holder'>" +text + "<i class='text-danger fas fa-times-circle'></i></span>"
            $(".FacilitySection").append($Container);
            }          
        });
        $(document).on('click', '.rm-Facility', function () {
            var $object = $(this);
            $object.remove();
        });
     ////FileUplaod..
    //var picIDs = [];
    var Tourpictures = {
        picIDs: [],
        picUrls: []
        };
        //Adding ExistingPics
        $(".upload").each(function () {
            var $image = this;
            Tourpictures.picUrls.push($($image).attr("data-src"));
            Tourpictures.picIDs.push($($image).attr("data-id"));
        });
        $("#PicIDs").val(Tourpictures.picIDs.join(","));
        //AFTER Change in PicturesPlaceHolder
        $("#tourPictureUpload").change(function () {
            var formdata = new FormData();
            var pictures = this.files;
            for (var i = 0; i < pictures.length; i++) {
                formdata.append("Picture", pictures[i]);
            }
            $.ajax({
                url: "/Shared/AddPictures",
                type: "Post",
                data: formdata,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (response) {

                    for (var i = 0; i < response.length; i++) {
                        Tourpictures.picIDs.push(response[i].ID);
                        Tourpictures.picUrls.push(response[i].URL);
                    }
                    ShowPics(Tourpictures);
                }

            });
        });
            /// Show All pics
            function ShowPics(Tourpictures) {
            var picture = "";
            $("#picturesSection").html("");
            for (var i = 0; i < Tourpictures.picIDs.length; i++) {
                picture += "<img width='200px' height='140px' class='img-fluid upload' src='/Content/Images/" + Tourpictures.picUrls[i] + "' data-id='" + Tourpictures.picIDs[i] + "' /> ";
                $("#picturesSection").html(picture);
            }
            $("#PicIDs").val(Tourpictures.picIDs.join(","));
        }
        ////
        //Remove Pic
         ////
        $(document).on('click', '.upload', function (content) {
            var rpicURl = "";
            var $img = $(this);
            var value = $img.attr('data-id');
            for (var i = 0; i < Tourpictures.picIDs.length; i++){
                if ( Tourpictures.picIDs[i].toString() === value) {
                    Tourpictures.picIDs.splice(i, 1);
                    rpicURl=Tourpictures.picUrls[i];
                    }
            }
            $.ajax({
                url: "/Shared/DeletePicture",
                method: "POST",
                data: { name: rpicURl },
                success: function (response) {

                }
            });
             $img.remove();
            $("#PicIDs").val(Tourpictures.picIDs.join(","));
        });

        });
        
    $(document).ready(function () {
        //Post
        $("#saveTourbtn").click(function () {
            var Tour = {
            ID:"",
            Title: "",
            Days: "",
            DepartureDate: "",
            Destination: "",
            TourDays: [],
            TourNights:[],
            TourPrices: [],
            TourFacilities: [],
            TourBuses:[]
        }
        //Getting All Info
        Tour.ID = $("#ID").val();
        Tour.Title = $("#Title").val();
        Tour.Days = $("#Days").val();
        Tour.DepartureDate = $("#DepartureDate").val();
        Tour.Destination = $("#Destination").val();
         ////Getting Info For Validation
        var NumberofNights = parseInt($("#Nights").val());
        var NumberofDays = parseInt(Tour.Days = $("#Days").val());
        //Getting days Detail
        $("#DaysDetailPlaceHolder .form-row").each(function () {
            var DayDetail = {
                DayNumber: parseInt($(".DayNumber", this).val()),
                Location: $(".Location", this).val(),
                Description: $(".Description", this).val()
            };
            Tour.TourDays.push(DayDetail)
        });
       //Getting Nights Detail 
        $("#NightDetailPlaceHolder .form-row").each(function () {
                    debugger;
            var NightDetail = {
                NightNo: parseInt($(".NightNo", this).val()),
                HotelToStay: $(".HotelStay", this).val(),
            };
            Tour.TourNights.push(NightDetail)
        });
        //Getting Tour Pricing Details
        $("#PricingDetailPlaceHolder .form-row").each(function () {
            var DayDetail = {
                Location: $(".PricingLocation", this).val(),
                SinglePrice: $(".SinglePrice", this).val(),
                CouplePrice: $(".CouplePrice", this).val()
            };
            Tour.TourPrices.push(DayDetail)
        });
            //Getting Tour Facilities Details
        $(".FacilitySection span").each(function () {
            var Facility = {
                FacilityID: $(this).attr("data-id"),
            };
            Tour.TourFacilities.push(Facility)
        });
         //Getting TourBuses Detail 
        $("#VehicleDetailPlaceHolder .form-row").each(function () {
      
            var Vehicle = {
                Name: $(".Vehicle", this).val(),
            };
            Tour.TourBuses.push(Vehicle)
        });
         //////////////////////////
         ///////////////////////////
        /////////Addming Tour in Database...
        /////////////
        if ($("#editForm").valid()) {
            if ($("#PicIDs").val() != "") {
                if (NumberofNights != Tour.TourNights.length) {
                    toastr.warning("Number of Nights Doesnt match with Night Details Added");
                } else {
                    if (NumberofDays != Tour.TourDays.length) {
                        toastr.warning("Number of Days Doesnt match with Days Details Added");
                    } else {
                        if (Tour.TourPrices.length <= 0) {
                            toastr.warning("Please Add Atleast one pricing Detail");
                        } else {
                                    ////////////Saving Tour Into Database//////////
                                    $('.bd-example-modal-xl').modal('hide');
                                    //Sending Ajax
                                   $.ajax({
                                           url: '@Url.Action("EditTour", "Tour")',
                                          type: "Post",
                                          data: {
                                          tour: Tour, PicIDs: $("#PicIDs").val()
                                               },
                                          success: function (response) {
                                           $('.bd-example-modal-xl').modal('hide');
                                           $("#TourTable").html(response);
                                           swal("Good job!", "Changes Saved in Database", "success");
                                           }
                                           });
                              
                        } 
                    }
                }
        }
        else {
           // swal("Oops!", "Form Isn't Valid", "error");
                  toastr.warning("Please Add Atleast One Image!");
        }
        }
        else {
            // swal("Oops!", "Please Add Some Pictures", "error");
            toastr.warning("Please Add Required Fields!");
        }

        });
    });
    $(document).ready(function () {
         /////////////// Validation of Form.....
    //////////////
        $("#editForm").validate({
            rules: {
                Title: {
                    required: true,
                    minlength: 5,
                    maxlength:50
                },
                Days: {
                    required: true,
                    minlength: 1,
                    digits:true
                },
                Nights: {
                    digits:true
                },
                DepartureDate: {
                    required:true,
                    date: true,
                    remote: {
                        url: "@Url.Action("DepartureDate","Validation")",
                        type: "post",
                        data: $("DepartureDate").val(),
                    }
                },
                Destination:{
                    required: true,
                    minlength: 4,
                    maxlength:20
                },
                NightNo: {
                    digits: true
                }
                
            },
            messages: {
                Title: {
                    required: "Title is required",
                    minlength: "Title Should have min length of 5 characters",
                    maxlength:"Maximum 50 charachters are allowed"
                },
                Days: {
                    required: "Days atleast 1 Day is required",
                    minlength: "Days atleast 1 Day is required",
                    digits:"Enter only Digits"
                },
                Nights: {
                    digits:"Enter only Digits"
                },
                DepartureDate: {
                    required:"Departure Date is Required",
                    date: "Departure Date is Required",
                    remote:"Enter DateTime of Future Period"
                },
                Destination: {
                    required: "Destination Place is Required",
                    minlength: "Destination should have atleast 4 characters",
                    maxlength:"Maximum of 20 characters are allowed"
                },
                NightNo: {
                    digits:"Only Digits Allowed"
                }
            }
        } 
        );
        /////////////////////////////End of Validation
        

    })
</script>
<style>
    .FacilitySection{
        margin:10px;
    }
    .facility-holder{
        margin:4px;
        border-radius:4px;
        padding:4px;
    }
    .custom-card{
        border:none;
        border-radius:0px;
    }
    .custom {
        max-width: unset;
    }

    label {
        margin: 0px;
    }

    textarea {
        width: 100%;
    }
     label.error{
        color:red;
    }
</style>

