﻿@model NatureExplorer.Web.Areas.Admin.ViewModels.TourVM
@using NatureExplorer.Entities

<div>
    <h2 style="margin:auto">
        Tours
    </h2>
    <hr />
</div>

<div class="">
    <div class="box">
        <div class="form-group search-box">
            <div class="input-group">
                <input type="text" id="searchtxt" value="@Model.searchTerm" class="form-control search" />
                <div class="input-group-append">
                    <button class="btn btn-success" id="searchtxtbtn" type="button"><i class="fas fa-search"></i>Search</button>
                    <a class="btn btn-danger" id="searchtxtbtn" href="@Url.Action("Index","Tour")"><i class="fas fa-trash"></i>Reset</a>
                    <button type="button" id="addTourbtn" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl"><i class="fas fa-plus"></i>Add Tour</button>
                </div>

            </div>
        </div>
    </div>


    @if (Model != null)
    {
        <table class="table table-light table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Days</th>
                    <th>Nights</th>
                    <th>Departure Date</th>
                    <th>Destination</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model.tours)
                {
                <tr>
                    <td>@t.ID</td>
                    <td>@t.Title</td>
                    <td>@t.Days</td>
                    <td>@t.Nights</td>
                    <td>@t.DepartureDate.ToString("dd MMM yyyy")</td>
                    <td>@t.Destination</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn btn-success Bookingsbtn" style="color:white" data-ID="@t.ID">Bookings</button>
                            <button class="btn btn-primary editTourbtn" data-ID="@t.ID">Edit/View</button>
                            <button class="btn btn-danger deleteTourbtn" data-ID="@t.ID">Delete</button>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <!-- Pager -->
        <div>
            @if (Model.pager != null && Model.pager.TotalPages > 1)
            {
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @if (Model.pager.CurrentPage > 1)
                        {
                            <li><a class="page-item page-link" data-pageno="1" href="#">First</a></li>
                            <li><a class="page-item page-link" data-pageno="@(Model.pager.CurrentPage - 1)" href="#"><</a></li>
                        }
                        @for (var page = Model.pager.StartPage; page <= Model.pager.EndPage; page++)
                        {
                            string activeClass = Model.pager.CurrentPage == page ? "active bg-success" : string.Empty;
                            <li><a class="page-item page-link @activeClass" data-pageno="@page" href="#">@page</a></li>
                        }
                        @if (Model.pager.CurrentPage < Model.pager.TotalPages)
                        {
                            <li><a class="page-item page-link" data-pageno="@(Model.pager.CurrentPage + 1)" href="#">></a></li>
                            <li><a class="page-item page-link" data-pageno="@(Model.pager.EndPage)" href="#">Last</a></li>
                        }

                    </ul>
                </nav>
            }
        </div>
    }
</div>

<script>
    //Modal Add Button Functionality
    $(document).ready(function () {
        //Get
        $("#addTourbtn").click(function () {
            $.ajax({
                url: '@Url.Action("AddTour", "Tour")',
                type: "Get",
                success: function (response) {
                    $('.bd-example-modal-xl').modal('toggle')
                    $(".content-body-modal").html(response);
                }
            });
        });
    });
    ////Edit Through Modal
    ///////Edit
    $(document).ready(function () {
        $(".editTourbtn").click(function () {
            $.ajax({
                url: '@Url.Action("EditTour", "Tour")',
                type: "Get",
                data: { ID: $(this).attr("data-ID") },
                success: function (response) {
                    $('.bd-example-modal-xl').modal('toggle')
                    $(".content-body-modal").html(response);
                }
            });
        });
    });

    ////Pager...
    $(document).ready(function () {
        $(".page-item").click(function () {
		$.ajax({
			url: '@Url.Action("TourTable", "Tour")',
			data: {
                pageNo: $(this).attr("data-pageno"),
                search: $("#searchtxt").val()
			}
		})
        .done(function (response) {
            $("#TourTable").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
	});
    });


    ///////Delete
    $(document).ready(function () {
        $(".deleteTourbtn").click(function () {
            $.ajax({
                url: '@Url.Action("DeleteTour", "Tour")',
                type: "Get",
                data: { ID: $(this).attr("data-ID") },
                success: function (response) {
                    $("#TourTable").html(response);
                    swal('Tour Deleted Successfully', 'success');
                }
            });
        });
    });
    //Search
    $(document).ready(function () {
        $("#searchtxtbtn").click(function () {
            $.ajax({
                url: '@Url.Action("TourTable", "Tour")',
                type: "Post",
                data: { search: $("#searchtxt").val() },
                success: function (response) {
                    $("#TourTable").html(response);
                }
            });
        });
    });
    ///Bookings
    $(document).ready(function () {
        $(".Bookingsbtn").click(function () {
            $.ajax({
                url: '@Url.Action("TourBookingTable", "Booking")',
                type: "Get",
                data: { TourID: $(this).attr("data-ID") },
                success: function (response) {
                    $("#TourTable").html(response);
                }
            });
        });
    });
</script>
<style>
    .page-link{
        color:black;
    }
    .form-control {
        display: inline;
    }

    .search {
        width: auto;
    }

    .box {
        position: relative;
        height: 50px;
    }

    .search-box {
        position: absolute;
        right: 20px;
    }
</style>
