﻿
@{
    ViewBag.Title = "Detail";
}
@using NatureExplorer.Entities
@model NatureExplorer.Web.ViewModels.HotelVMS.HotelDetailVM
<div class=" container overview-block clearfix">
    <h3 class="title-style-3">Hotel Overview</h3>

    <div class="timeline-container">
        <div class="timeline timeline-hotel-view">
            @foreach (var package in Model.Packages)
            {
                <div class="timeline-block">
                    <div class="timeline-title"><span>@package.Name</span></div>
                    <div class="timeline-point"><i class="fa fa-circle-o"></i></div>
                    <div class="timeline-content">
                        <div class="row">
                            <div class="timeline-custom-col">
                                <div class="image-hotel-view-block">
                                    <div class="slick-slider">
                                        @for (int i = 0; i < package.Pictures.Count; i++)
                                        {
                                            <div class="slick-slide" style=" text-align:center;width:596px;height: 350px; position:center; left: 0px; top: 0px; z-index: 999; opacity: 1;">
                                                <img class="img img-responsive" style="display:block;position:center" src="~/Content/Images/@package.Pictures[i].Picture.URL" alt="not Found">
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-custom-col image-col hotels-layout">
                                <div class="content-wrapper">
                                    <div class="content">
                                        <div class="title">
                                            <div class="price"><sup>$</sup><span class="number">@package.Price</span></div>
                                            <p class="for-price">for person per night</p>
                                        </div>
                                        <p class="text">@package.Description</p>

                                        <div class="group-btn-tours"><a href="@Url.Action("BookRoom","Booking",new { ID=package.ID,HotelID=package.HotelID })" style="color:white;padding-top:30px;padding-bottom:30px;" >book now</a></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!--Reviews  //////////////////////////////////////////////////////-->
<div class="row bootstrap snippets ReviewSection">
    <div class="col-md-12  col-sm-12">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Comment panel
                </div>
                <div class="panel-body">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="review-stars pull-right">
                            <i class="rate-star text-warning far fa-star" data-value="1"></i>
                            <i class="rate-star text-warning far fa-star" data-value="2"></i>
                            <i class="rate-star text-warning far fa-star" data-value="3"></i>
                            <i class="rate-star text-warning far fa-star" data-value="4"></i>
                            <i class="rate-star text-warning far fa-star" data-value="5"></i>
                        </div>
                        <br />
                        <form id="commentForm">
                            <input hidden name="EntityID" value="@Model.EntityType" />
                            <input hidden name="RecordID" value="@Model.Hotel.ID" />
                            <input hidden name="Ratings" value="1" id="ratingInput" />
                            <textarea class="form-control" name="Text" placeholder="write a comment..." rows="3"></textarea>
                            <br>
                            <button type="button" class="btn btn-info pull-right" id="addComment">Post</button>
                        </form>
                        <br />
                    }
                    else
                    {
                        <div>
                            <p>LogIn To Add Review!</p>
                        </div>
                    }
                    <hr>
                    @if (Model.Reviews != null && Model.Reviews.Count != 0)
                    {
                        <ul class="media-list">
                            @foreach (var comment in Model.Reviews)
                            {
                                <li class="media">
                                    <a href="#" class="pull-left">
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                    </a>
                                    <div class="media-body">
                                        <span class="text-muted pull-right">
                                            <small class="text-muted">
                                                @{
                                                    var defaultstars = 5 - comment.Ratings;
                                                }
                                                @for (int i = 0; i < comment.Ratings; i++)
                                                {
                                                    <span class="float-right"><i class="text-warning fas fa-star"></i></span>
                                                }
                                                @for (int i = 0; i < defaultstars; i++)
                                                {
                                                    <span class="float-right"><i class="text-warning far fa-star"></i></span>
                                                }
                                            </small>
                                        </span>
                                        <strong class="text-success">@@@comment.User.Email</strong>
                                        <p>
                                            @comment.Text
                                        </p>
                                        <p class="font-weight-light" style="font-size:smaller">@comment.TimeStamp.Date</p>
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p class="text-secondary text-center">no Reviews on this Tour Yet!</p>
                    }

                </div>
            </div>
        </div>

    </div>
</div>
<!--Reviews Ended //////////////////////////////////////////////////////-->
<style>
    .group-btn-tours {
   color:white;
   padding:20px 0px;
    width: -webkit-fill-available;
}
    .ReviewSection {
        width: 100%;
        margin-top: 10px;
        margin-left:5px;
    }

    #addComment {
        border-radius: 1px;
        background: #ffdd00;
        transition: all ease 0.2s;
    }

        #addComment:hover {
            background: #ffd800;
            border: none;
        }

    .panel {
        border-radius: 0px;
    }

    .comment-wrapper.panel-body {
        max-height: 650px;
        overflow: auto;
    }

    .comment-wrapper .media-list .media img {
        width: 64px;
        height: 64px;
        border: 2px solid #e5e7e8;
    }

    .comment-wrapper .media-list .media {
        border-bottom: 1px dashed #efefef;
        margin-bottom: 25px;
    }

    .media-body {
        border-bottom: 0.2px solid;
        border-bottom-color: rgba(0,0,0,0.5);
    }
</style>
<script>
    $(document).ready(function () {
            $(".nav-click").click(function () {
                var $element = $(this);
                $(".nav-click").removeClass("active");
                $element.addClass("active nav-click");
            });
            function createSlick() {
                $(".slick-slider").slick({
                    infinite: true,
                    dots: true,
                    speed: 300,
                    slidesToShow: 1,
                    centerMode: true,
                    variableWidth: true,
                    cssEase: 'linear',
                    autoplay: true,
                    autoplaySpeed: 2000
                });
            }
            createSlick();
            //Now it will not throw error
            $(window).on('resize', createSlick);

        });
</script>