﻿@{
    ViewBag.Title = "Hotels";
}
@model NatureExplorer.Web.ViewModels.HotelVMS.HotelVM
<div class="hotel-result-main padding-top padding-bottom">
    <div class="container">
        <div class="result-meta">
            <div class="row">
                <h2><a style="color:#ffcc00;" href="@Url.Action("Index","Home")">Home</a>>Hotels</h2>
                <div class="col-lg-4 col-md-12">
                    <div class="result-count-wrapper">Results Found: <span class="result-count">Showing @(((Model.Pager.CurrentPage - 1) * Model.Pager.PageSize) + 1) – @(((Model.Pager.CurrentPage - 1) * Model.Pager.PageSize) + (Model.Hotels.Count < Model.Pager.PageSize ? Model.Hotels.Count : Model.Pager.PageSize)) of @Model.Pager.TotalItems Hotels</span></div>
                </div>

            </div>
        </div>
        <div class="result-body">
            <div class="row" >
                <div class="col-md-8 main-right" style="z-index: 0;" >
                    <div class="hotel-list">
                        <div class="row">
                            @foreach (var h in Model.Hotels)
                            {
                                <div class="col-sm-12">
                                    <div class="hotels-layout">
                                        <div class="image-wrapper">
                                            <a href="@Url.Action("Detail","HotelManage",new {ID=h.ID})" class="link"><img src="~/Content/Images/@h.Picture.URL" alt="" class="img-responsive"></a>

                                            <div class="label-sale">
                                                <p class="text">sale</p>

                                                <p class="number">35%</p>
                                            </div>
                                            <div class="title-wrapper">
                                                <a href="hotel-view.html" class="title">@h.Name</a>

                                                <div title="Rated 5.00 out of 5" class="star-rating">
                                                    <span class="width-80">
                                                        <strong class="rating">
                                                            5.00
                                                            out of 5
                                                        </strong>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-wrapper">
                                            <div class="content">
                                                <div class="title">
                                                    <div class="price"><sup>Address: </sup><span class="number"><sup>@h.Address</sup></span></div>
                                                    
                                                </div>
                                                <p class="text">@h.Description</p>

                                                <div class="group-btn-tours"><a href="@Url.Action("Detail","HotelManage",new {ID=h.ID})" class="left-btn">Details</a></div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    @if (Model.Pager != null && Model.Pager.TotalPages > 1)
                    {
                        <nav class="pagination-list margin-top70">
                            <ul class="pagination">
                                @if (Model.Pager.CurrentPage > 1)
                                {
                                    <li><a href="@Url.Action("Index","HotelManage",new { pageNo=1,searchTerm=Model.searchTerm})" class="btn-pagination ">First</a></li>
                                    <li><a href="@Url.Action("Index","HotelManage",new { pageNo=Model.Pager.CurrentPage - 1,searchTerm=Model.searchTerm})" aria-label="Previous" class="btn-pagination previous"><span aria-hidden="true" class="fa fa-angle-left"></span></a></li>
                                }
                                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                {
                                    string activeClass = Model.Pager.CurrentPage == page ? "active" : string.Empty;
                                    <li><a href="@Url.Action("Index","HotelManage",new { pageNo=page,searchTerm=Model.searchTerm})" class="btn-pagination @activeClass">@page</a></li>
                                }
                                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                {
                                    <li><a href="@Url.Action("Index","HotelManage",new { pageNo=Model.Pager.CurrentPage + 1,searchTerm=Model.searchTerm})" aria-label="Next" class="btn-pagination next"><span aria-hidden="true" class="fa fa-angle-right"></span></a></li>
                                    <li><a href="@Url.Action("Index","HotelManage",new { pageNo=Model.Pager.EndPage,searchTerm=Model.searchTerm})" class="btn-pagination ">Last</a></li>
                                }

                            </ul>
                        </nav>
                    }

                </div>
                <div class="col-md-4 sidebar-widget">
                    <div class="col-2">
                        <div class="find-widget find-flight-widget widget">
                            <h4 class="title-widgets">find your hotel</h4>

                            <form class="content-widget" method="get" action="@Url.Action("Index", "HotelManage")">
                                <div class="text-input small-margin-top">
                                    <div class="text-box-wrapper">
                                        <label class="tb-label">Where do you want to go?</label>

                                        <div class="input-group"><input type="text" value="@Model.searchTerm" placeholder="Write the place" name="searchTerm" class="tb-input"></div>
                                    </div>
                                </div>
                                <button type="submit" data-hover="SEND NOW" class="btn btn-slide small-margin-top"><span class="text">search now</span><span class="icons fa fa-long-arrow-right"></span></button>
                            </form>
                        </div>
                    </div>
                    @*<div class="col-2">
                        <div class="col-1">
                            <div class="turkey-cities-widget widget">
                                <div class="title-widget">
                                    <div class="title">rating</div>
                                </div>
                                <div class="content-widget">
                                    <form class="radio-selection">
                                        <div class="radio-btn-wrapper"><input type="radio" name="rating" value="1stars" id="1stars" class="radio-btn"><label for="1stars" class="radio-label stars stars5">1stars</label><span class="count">27</span></div>
                                        <div class="radio-btn-wrapper"><input type="radio" name="rating" value="2stars" id="2stars" class="radio-btn"><label for="2stars" class="radio-label stars stars4">2stars</label><span class="count">75</span></div>
                                        <div class="radio-btn-wrapper"><input type="radio" name="rating" value="3stars" id="3stars" class="radio-btn"><label for="3stars" class="radio-label stars stars3">3stars</label><span class="count">35</span></div>
                                        <div class="radio-btn-wrapper"><input type="radio" name="rating" value="4stars" id="4stars" class="radio-btn"><label for="4stars" class="radio-label stars stars2">4stars</label><span class="count">34</span></div>
                                        <div class="radio-btn-wrapper"><input type="radio" name="rating" value="5stars" id="5stars" class="radio-btn"><label for="5stars" class="radio-label stars stars1">5stars</label><span class="count">65</span></div>
                                    </form>
                                </div>
                            </div>
                            <div class="price-widget widget">
                                <div class="title-widget">
                                    <div class="title">price</div>
                                </div>
                                <div class="content-widget">
                                    <div class="price-wrapper">
                                        <div data-range_min="0" data-range_max="3000" data-cur_min="450" data-cur_max="1800" class="nstSlider">
                                            <div class="leftGrip indicator nst-animating" tabindex="0" style="left: 48px;">
                                                <div class="number">560</div>
                                            </div>
                                            <div class="rightGrip indicator nst-animating" tabindex="0" style="left: 148px;">
                                                <div class="number">1728</div>
                                            </div>
                                        </div>
                                        <div class="leftLabel">0</div>
                                        <div class="rightLabel">3000</div>
                                    </div>
                                </div>
                                <div class="content-Reset">
                                    <div class="content-widget" style="padding:5px;align-content:center;text-align:center">
                                        <a class="btn" href="@Url.Action("Index","HotelManage")">Reset</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                        </div>
                    </div>*@
                    <div class="col-2">
                    </div>
                </div>
            </div>
        </div>
        <div class="special-offer margin-top70">
            <h3 class="title-style-2"></h3>

        </div>
    </div>
</div>
