﻿@using NatureExplorer.Entities
@model List<Review>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Review type</th>
                <th>Ratings</th>
                <th>Time Stamp</th>
                <th>View</th>
            </tr>
        </thead>
        @if (Model != null && Model.Count != 0)
        {
            <tbody>
                @foreach (var r in Model)
                {
                    <tr>
                        <td>
                            @if (r.EntityID == (int)Enums.EntityType.TourType)
                            {
                                <p>Tour</p>
                            }
                            else
                            {
                                <p>Hotel</p>
                            }
                        </td>
                        <td>
                            @r.Ratings
                        </td>
                        <td>
                            @r.TimeStamp
                        </td>
                        <td>
                            <button type="button" data-ID="@r.ID" class="btn btn-primary ViewButton" data-toggle="modal" data-target="#exampleModalCenter">
                                View
                            </button>
                        </td>
                        @*<td>
                            @if (r.EntityID == (int)Enums.EntityType.TourType)
                            {
                                <a href="@Url.Action("Detail","TourManage",new { @Area="" ,ID=r.RecordID})">Post</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Detail","HotelManage",new { @Area="" ,ID=r.RecordID})">Post</a>
                            }
                        </td>*@
                    </tr>

                }
            </tbody>
        }
        else
        {
            <tr>
                <td>No Reviews yet</td>
            </tr>
        }

    </table>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
<script>
    $(".ViewButton").click(() => {
       
    });
    $(document).ready(() => {
   $(".ViewButton").on('click', () => {
        console.log();
        var id = $(this).attr("data-ID");
        console.log(id);
    });
    }); 
</script>