﻿@using NatureExplorer.Entities
@model NatureExplorer.Entities.NEUser

@using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { @class = "example" }))
{
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Full Name</label>
        <div class="col-sm-10">
            <input name="FullName" class="form-control custom-formControl" value="@Model.FullName" placeholder="Full Name">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">UserName</label>
        <div class="col-sm-10">
            <input class="form-control custom-formControl" value="@Model.UserName" placeholder="UserName" disabled>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input class="form-control custom-formControl" value="@Model.Email" placeholder="Email" disabled>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Phone Number</label>
        <div class="col-sm-10">
            <input class="form-control custom-formControl" name="PhoneNumber" value="@Model.PhoneNumber" placeholder="PhoneNumber">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
            <input class="form-control custom-formControl" name="Adress" value="@Model.Adress" placeholder="Address">
        </div>
    </div>
    <button type="submit" class="btn custom-profileButton">Update Profile</button>
}