﻿
@using NatureExplorer.Entities
@model NatureExplorer.Web.Areas.Admin.ViewModels.TourBookingViewVM
<div class="card PaymnetCard">
    <div class="card-header">
        <span class="card-title" style="align-content:center;position:center;font-size:20px;">Booking Detail</span>
        <button class="Printbtn btn btn-primary" data-ID="@Model.Booking.ID">Print</button>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h3 style="align-content:center;position:center">User Info</h3>
                <div class="form-group F-GroupCustom">
                    <input disabled placeholder="Email" class="form-control customControl" value="@Model.Booking.User.Email" />

                </div>
                <div class="form-group F-GroupCustom">
                    <input disabled placeholder="FullName" class="form-control customControl" value="@Model.Booking.User.FullName" />
                </div>
                <div class="form-group F-GroupCustom">
                    <input disabled placeholder="ContactNo" class="form-control customControl" value="@Model.Booking.User.ContantNo" />
                </div>
            </div>
            <hr/>
            <div class="col-md-12">
                <h3 style="align-content:center;position:center">Booking Info</h3>
                <div class="form-group F-GroupCustom">
                    <input disabled placeholder="Email" class="form-control customControl" value="@Model.Booking.Date" />

                </div>
                <div class="form-group F-GroupCustom">
                    <input disabled placeholder="FullName" class="form-control customControl" value="Pick Up Location: @Model.Booking.Location" />
                </div>
                @{}
                <div class="form-group F-GroupCustom">
                    <input disabled placeholder="Number of Persons" class="form-control customControl" value="Persons: @Model.Booking.Persons" />
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            @*<div class="col-md-6"></div>*@
            <div class="col-md-12">
                <div class="form-group F-GroupCustom">
                    <input disabled placeholder="Total" class="form-control customControl" value="Total: @Model.Booking.Price" />
                </div>
            </div>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <label class="label">Payment Information</label>
                </div>
                @if (Model.Booking.PaymentMethodType == 1)
                {
                    <div class="form-group F-GroupCustom">
                        <input disabled placeholder="Payment Method is Credit Card" class="form-control customControl" />
                    </div>
                }
                else if (Model.Booking.PaymentMethodType == 2)
                {
                    <div class="form-group F-GroupCustom">
                        <input disabled value="TransecctionID: @Model.EasyPaisa.TransectionID" class="form-control customControl EasyPaisaInput" />
                    </div>
                    <div class="form-group F-GroupCustom">
                        <input disabled value="Secret/Password: @Model.EasyPaisa.Secret" class="form-control customControl EasyPaisaInput" />
                    </div>

                    <div class="form-group F-GroupCustom">
                        <input disabled value="Reciever CNIC: @Model.EasyPaisa.RecievingCNIC" class="form-control customControl EasyPaisaInput" />
                    </div>
                }
                else if (Model.Booking.PaymentMethodType == 3)
                {
                    <div class="form-group F-GroupCustom">
                        <input disabled placeholder="Payment Method is Cash" class="form-control customControl" />
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-dark closeBtn">Close</button>
    </div>
</div>
<style>
    button.btn.btn-primary {
    float: right;
    border: none;
    border-radius: 5px;
    background-color: rgba(43, 150, 186,0.8);
    color: white;
}
    .PaymnetCard > .card-header{
        padding:20px 10px;
    }
    .PaymnetCard > .card-body{
        padding: 10px 10px;
    }
    .PaymnetCard > .card-footer{
        padding:5px 20px;
    }
    .F-GroupCustom{
    margin-bottom: 5px;
    }
    button.btn.btn-dark.closeBtn {
    width: 100%;
    border-radius: 5px;
 }
    .customControl {
        border-radius: 0px;
    }

    .EasyPaisaInput {
        margin: 2px;
    }
</style>

