﻿@using NatureExplorer.Entities
@model NatureExplorer.Web.Areas.Admin.ViewModels.TourBookingViewVM
    <div class="PrintContainer">
        <hr />
        <div class="row PrintDetailRow">
            <div class="col-md-6">
                <h3>Nature Explorer</h3>
                <p><small>// Road Karachi</small></p>
                <p><small>Kharian ,Gujrat Punjab</small></p>
                <p><small>Pakistan</small></p>
                <p><small>+92340 4112872</small></p>
            </div>
            <div class="col-md-6">
                <h3>BookingID: @Model.Booking.ID</h3>
                <p>Dated: @Model.Booking.Date</p>
                <p>Status: Processing</p>
            </div>
        </div>
        <hr />
        <h3 style="text-align:center">Booking Detail</h3>
        <div class="row PrintDetailRow">
            <div class="col-md-6">
                <h3>From: @Model.Booking.Location</h3>
                <p><small>Person: @Model.Booking.Persons</small></p>
                <p><small>@Model.Booking.User.Email</small></p>
                <p><small>@Model.Booking.User.ContantNo</small></p>
            </div>
            <div class="col-md-6" style="float:left">
                <p>Payment Method: By Cash</p>
                <h3>Total: @Model.Booking.Price</h3>
            </div>
        </div>
        <hr />
    </div>
<style>
    .PrintContainer{
        padding:5px 10px;
        font-size:18px;
    }
    .PrintDetailRow{
        padding: 40px;
        display:flex;
        flex-direction:column;
    }

</style>