﻿@model NatureExplorer.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<div class="row profile">
    <div class="col-md-3">
        <div class="profile-sidebar">
            <!-- SIDEBAR USERPIC -->
            <div class="profile-userpic">
                <img src="~/Areas/Admin/Content/Dummy/avatar.png" class="img-responsive" />
            </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">
                    @Model.User.FullName
                </div>
                <div class="profile-usertitle-job">
                    @Model.User.Email
                </div>
            </div>
            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR MENU -->
            <div class="profile-usermenu">
                <ul class="nav">
                    <li class="nav-link nav-click active" data-href="@Url.Action("BasicInformation","Manage")">
                        <a href="#">
                            <i class="glyphicon glyphicon-home"></i>
                            Overview
                        </a>
                    </li>
                    <li class="nav-link nav-click" data-href="@Url.Action("AccountSetting","Manage")">
                        <a href="#">
                            <i class="glyphicon glyphicon-user"></i>
                            Account Settings
                        </a>
                    </li>
                    <li class="nav-link nav-click" data-href="@Url.Action("UserBookings","Manage")">
                        <a href="#">
                            <i class="glyphicon glyphicon-ok"></i>
                            Bookings
                        </a>
                    </li>
                    <li class="nav-link nav-click" data-href="@Url.Action("UserComments","Manage")">
                        <a href="#">
                            <i class="glyphicon glyphicon-flag"></i>
                            Comments
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END MENU -->
        </div>
    </div>
    <div class="col-md-9">
        <div class="profile-content">
            @using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { @class = "example" }))
            {
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Full Name</label>
                    <div class="col-sm-10">
                        <input name="FullName" class="form-control custom-formControl" value="@Model.User.FullName" placeholder="Full Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">UserName</label>
                    <div class="col-sm-10">
                        <input class="form-control custom-formControl" value="@Model.User.UserName" placeholder="UserName" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input class="form-control custom-formControl" value="@Model.User.Email" placeholder="Email" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Phone Number</label>
                    <div class="col-sm-10">
                        <input class="form-control custom-formControl" name="PhoneNumber" value="@Model.User.PhoneNumber" placeholder="PhoneNumber">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-10">
                        <input class="form-control custom-formControl" name="Adress" value="@Model.User.Adress" placeholder="Address">
                    </div>
                </div>
                <button type="submit" class="btn custom-profileButton">Update Profile</button>
            }
        </div>
    </div>
</div>
<div id="LoadingSpinner" class="spinner-grow text-info" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
</div>
<style>
    .custom-formControl{
        border-bottom:1px solid rgba(43, 150, 186,0.5);
    }
    #LoadingSpinner{
        position:static;
        left:50%;
        top:50%;
    }
    .profile {
        margin: 20px 0;
    }

    /* Profile sidebar */
    .profile-sidebar {
        padding: 20px 0 10px 0;
        background: #fff;
    }

    .profile-userpic img {
        float: none;
        margin: 0 auto;
        width: 30%;
        height: 30%;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
    }

    .profile-usertitle {
        text-align: center;
        margin-top: 20px;
    }

    .profile-usertitle-name {
        color: #5a7391;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 7px;
    }

    .profile-usertitle-job {
        text-transform: uppercase;
        color: #5b9bd1;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .profile-userbuttons {
        text-align: center;
        margin-top: 10px;
    }

        .profile-userbuttons .btn {
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 600;
            padding: 6px 15px;
            margin-right: 5px;
        }

            .profile-userbuttons .btn:last-child {
                margin-right: 0px;
            }

    .profile-usermenu {
        margin-top: 30px;
    }

        .profile-usermenu ul li {
            border-bottom: 1px solid #f0f4f7;
        }

            .profile-usermenu ul li:last-child {
                border-bottom: none;
            }

            .profile-usermenu ul li a {
                color: #93a3b5;
                font-size: 14px;
                font-weight: 400;
            }

                .profile-usermenu ul li a i {
                    margin-right: 8px;
                    font-size: 14px;
                }

                .profile-usermenu ul li a:hover {
                    background-color: #fafcfd;
                    color: #5b9bd1;
                }

            .profile-usermenu ul li.active {
                border-bottom: none;
            }

                .profile-usermenu ul li.active a {
                    color: #5b9bd1;
                    background-color: #f6f9fb;
                    border-left: 2px solid #5b9bd1;
                    margin-left: -2px;
                }

    /* Profile Content */
    .profile-content {
        padding: 20px;
        background: #fff;
        min-height: 460px;
    }

    .custom-profileButton {
        color: white;
        width: 100%;
        border: none;
        border-radius: 0px;
        background-color: #5b9bd1;
    }
</style>
<script>
    $(document).ready(function () {
        $(".nav-click").click(function () {
            $("#LoadingSpinner").css("display", "block");
            $(".nav-click").removeClass("active");
            $(this).addClass("active");
            var uri = $(this).attr("data-href");
            //Sending Ajax request....
            debugger;
            $.ajax({
                url: uri,
                type: "Get",
                data: {},
                success: function (response) {
                    $(".profile-content").html("");
                    $("#LoadingSpinner").css("display", "none");
                    $(".profile-content").html(response);
                }
            });

        });
    });

    $(document).ready(function () {
        //Get
        $(document).on('click', '.Detailbtn', function () {
            $.ajax({
                url: '@Url.Action("BookingDetail", "Manage")',
                type: "Get",
                data: { ID: $(this).attr("data-ID") },
                success: function (response) {
                    $('.bd-example-modal-md').modal('toggle')
                    $(".modal-content").html(response);
                }
            });
        });
        $(document).on("click", '.closeBtn', function () {
            $('.bd-example-modal-md').modal('toggle');
            $(".modal-content").html('');
        });
    });
   

</script>