﻿@using NatureExplorer.Entities
@model List<NatureExplorer.Web.Models.BookingViewModel>

<table class="table table-responsive">
    <thead>
        <tr>
            <th>Booking ID</th>
            <th>Hotel/TourName</th>
            <th>Persons</th>
            <th>Total Price</th>
            <th>Seats</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var booking in Model)
        {
        <tr>
            <td>@booking.Booking.ID</td>
            <td>
                @if (booking.Booking.EntityType == 1)
                {
                    <span>@booking.Tour.Title</span>
                }
                else if (booking.Booking.EntityType == 2)
                {
                    <span>@booking.Hotel.Name</span>
                }
            </td>
            <td>
                @booking.Booking.Persons
            </td>
            <td>
                @booking.Booking.Price
            </td>
            <td>
                @if (booking.Booking.EntityType == 1)
                {
                    var Seats = string.Join(",", booking.Seats.Select(s => s.SeatNo).ToArray());
                    <span>@Seats</span>
                }
               
            </td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="Detailbtn btn btn-light custombtn" data-ID="@booking.Booking.ID">Detail</button>
                    <button type="button" class="Printbtn btn btn-light custombtn" data-ID="@booking.Booking.ID">Print</button>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
<div class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

        </div>
    </div>
</div>
<style>
    .custombtn{
    width:auto;
    border-radius:5px;
    border:none;
    background-color:rgba(0, 148, 255,0.4);
    color:white;
    }
    .btn-group{

        margin:5px;
    }
    td{
        padding: 5px 10px;
    }
</style>
<script>
     /////////Printing Document
    $(document).on('click', '.Printbtn', function () {

        $.ajax({
                url: '@Url.Action("BookingDetailPrint","Manage")',
                type: "Get",
                data: { ID: $(this).attr("data-ID") },
                success: function (response) {
                   var print = window.open(null, 'Print_Page', 'height=400,width=600');
                    print.document.write('<p class="text-muted" style="text-align:center;">User Detail</p>');
                    print.document.write(response);
                 print.document.close();
                 print.print();
                }
            });
        
    });
</script>