﻿@using NatureExplorer.Entities
@model List<NatureExplorer.Entities.Review>

@{
    var count = 0;

    <div class="accordion" id="accordionExample">
        @foreach (var comment in Model)
        {
            <div class="card CommentCard">
                <div class="card-header">
                    <h5 class="mb-0">
                        <a class="collapsed" href="#" data-toggle="collapse" data-target="#@count.ToString()" aria-expanded="true" aria-controls="@count.ToString()">
                            On: ( <span>@comment.TimeStamp.ToString("dd MMMM yyy")</span> )
                            @*@if (comment.EntityID == 1)
                            {
                                <span>Tour</span>
                            }
                            else if (comment.EntityID == 2)
                            {
                                <span>Hotel</span>
                            }*@
                            <i class="fas fa-sort-down"></i>
                            <span>
                                @if (comment.EntityID == 1)
                                {
                                <a href="@Url.Action("Detail","TourManage",new { ID=comment.RecordID})" style="float:right;padding:5px;">Visit Details</a>
                                }
                                else if (comment.EntityID == 2)
                                {
                               <a href="@Url.Action("Detail","HotelManage",new { ID=comment.RecordID})" style="float:right;padding:5px;">Visit Details</a>
                                }
    
                            </span>
                        </a>
                    </h5>
                </div>

                <div id="@count.ToString()" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div>
                            @comment.Text
                        </div>
                        <div class="text-muted pull-right">
                            <small class="text-muted">
                                @{
                                    var defaultstars = 5 - comment.Ratings;
                                }
                                @for (int i = 0; i < comment.Ratings; i++)
                                {
                                    <span class="float-right"><i class="text-warning fas fa-star" style="color:gold"></i></span>
                                }
                                @for (int i = 0; i < defaultstars; i++)
                                {
                                    <span class="float-right"><i class="text-warning far fa-star"></i></span>
                                }
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            { count = count + 1; }
        }

    </div>
}
<style>
    .accordion{
        width:100%;
    }
    .CommentCard{
        width:100%;
        margin-bottom:1px;
    }
    .CommentCard > .card-header{
        padding: 5px 10px;
        background:rgba(133, 191, 199,0.7);
    } 
   .card-body{
        padding:20px 20px;
    }
    a{
     color:white;
    }
</style>

@*<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Collapsible Group Item #1
                </button>
            </h2>
        </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group Item #3
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>*@