﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nature Explorer</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Content/Assets/js/jquery.validate.min.js"></script>
    <script src="~/Content/Assets/js/additional-methods.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="~/Areas/Admin/Content/css/simple-sidebar.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <style>
        .icon-sidebar {
            margin: 3px;
        }

        a.nav-link.active {
            border-radius: 0px;
        }
    </style>
</head>
<body style="margin:0px;padding:0px;">
    <!-- Start of Dashboard Theme-->
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading"><i class="fas fa-route icon-sidebar"></i><strong>Nature Explorer</strong></div>
            <div class="list-group list-group-flush">
                <a href="@Url.Action("Index","Account")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-address-card icon-sidebar"></i>Users</a>
                <a href="@Url.Action("Index","Tour")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-suitcase-rolling icon-sidebar"></i>Tours</a>
                <a href="@Url.Action("Index","Facility")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-tags icon-sidebar"></i>Facilities</a>
                <a href="@Url.Action("Index","Hotel")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-hotel icon-sidebar"></i>Hotels</a>
                <a href="@Url.Action("Index","HotelPackage")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-receipt icon-sidebar"></i>Hotel Packages</a>
                <a href="@Url.Action("Index","StaffMembers")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-comments-dollar icon-sidebar"></i>Staff Members</a>
                <a href="@Url.Action("Index","Booking")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-users icon-sidebar"></i>Booking</a>
                <a href="@Url.Action("Index","Queries")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-users icon-sidebar"></i>Queries</a>
                <a href="@Url.Action("Index","Configuration")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-cogs icon-sidebar"></i>Customization</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("Index","Home", new {Area = ""})"><i class="fas fa-sign-out-alt icon-sidebar"></i>Home<span class="sr-only">(current)</span></a>
                        </li>

                    </ul>
                </div>
            </nav>

            <div class="container-fluid" style="padding:0px;">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!--End of Dashboard-->
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>
</html>