﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title-Nature Explorer</title>
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,900">
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700">
    <link href="~/Content/Assets/font/font-icon/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="~/Content/Assets/font/font-icon/font-flaticon/flaticon.css">
    <!-- LIBRARY CSS-->
    <link type="text/css" rel="stylesheet" href="~/Content/Assets/libs/bootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Assets/libs/animate/animate.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Assets/libs/slick-slider/slick.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Assets/libs/slick-slider/slick-theme.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Assets/libs/selectbox/css/jquery.selectbox.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Assets/libs/please-wait/please-wait.css">
    <!-- STYLE CSS-->
    <link type="text/css" rel="stylesheet" href="~/Content/Assets/css/layout.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Assets/css/components.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Assets/css/responsive.css">
    <script src="~/Content/Assets/libs/jquery/jquery-2.2.3.min.js"></script>
    <link type="text/css" rel="stylesheet" href="~/Content/Assets/libs/nst-slider/css/jquery.nstSlider.min.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Assets/OwlCarousel/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/Assets/OwlCarousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/Assets/OwlCarousel/drift.css" rel="stylesheet" />
    <!-- Essential JS 2 Base's material theme (Dependency Styles) -->
    <link href="https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet" type="text/css" />

    <!-- Essential JS 2 Button's material theme (Control Styles) -->
    <link href="https://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css" rel="stylesheet" type="text/css" />
    <!-- Essential JS 2 Base's global script (Dependency Script) -->
    <script src="https://cdn.syncfusion.com/ej2/ej2-base/dist/global/ej2-base.min.js" type="text/javascript"></script>
    <script src="https://cdn.syncfusion.com/ej2/ej2-svg-base/dist/global/ej2-svg-base.min.js" type="text/javascript"></script>
    <script src="https://cdn.syncfusion.com/ej2/ej2-maps/dist/global/ej2-maps.min.js"></script>
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js" type="text/javascript"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style>
        body {
            overflow-x: hidden;
            overflow-y: hidden;
        }

        /* Useful Classes */
        .xy-center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .transition {
            transition: all 350ms ease-in-out;
        }

        .r-3-2 {
            width: 100%;
            padding-bottom: 66.667%;
            background-color: #ddd;
        }

        .image-holder {
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }

        /* Main Styles */
        .gallery-wrapper {
            position: relative;
            overflow: hidden;
        }

        .gallery {
            position: relative;
            white-space: nowrap;
            font-size: 0;
        }

        .item-wrapper {
            cursor: pointer;
            width: 23%; /* arbitrary value */
            display: inline-block;
            background-color: white;
        }

        .gallery-item {
            opacity: 0.5;
        }

            .gallery-item.active {
                opacity: 1;
            }

        .controls {
            font-size: 0;
            border-top: none;
        }

        .move-btn {
            display: inline-block;
            width: 50%;
            border: none;
            color: black;
            background-color: transparent;
            padding: 0.2em 1.5em;
        }

            .move-btn:first-child {
                border-right: none;
            }

            .move-btn.left {
                cursor: w-resize;
            }

            .move-btn.right {
                cursor: e-resize;
            }

        .BotChat {
            position: fixed;
            z-index: 200000;
            width: 300px;
            height: 400px;
            right: 10px;
            bottom: 10px;
        }

        .BotIcon {
            position: fixed;
            z-index: 200000;
            width: 90px;
            height: 90px;
            right: 60px;
            bottom: 20px;
        }

        .BotClose {
            position: fixed;
            z-index: 200000;
            width: 30px;
            height: 30px;
            right: 20px;
            bottom: 420px;
        }

        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div class="body-wrapper">
        <div class="wrapper-mobile-nav">
            <div class="header-topbar">
                <div class="topbar-search search-mobile">
                    <form class="search-form">
                        <div class="input-icon">
                            <div style="padding-top:30px">
                                @if (User.Identity.IsAuthenticated)
                                {

                                    Html.RenderAction("GetNotifications", "Home");
                                }
                            </div>

                        </div>
                    </form>

                </div>
            </div>
            <div class="header-main">
                <div class="menu-mobile">
                    <ul class="nav-links nav navbar-nav">
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "" : "") nav-click">
                            <a href="@Url.Action("Index","Home")" class="main-menu"><span class="text">Home</span></a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "" : "") nav-click"><a href="@Url.Action("About","Home")" class="main-menu"><span class="text">about</span></a></li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "TourManage" ? ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "" : "") nav-click"><a href="@Url.Action("Index","TourManage")" class="main-menu"><span class="text">Tours</span></a></li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "HotelManage" ? ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "" : "") nav-click"><a href="@Url.Action("Index","HotelManage")" class="main-menu"><span class="text">Hotels</span></a></li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "" : "") nav-click"><a href="@Url.Action("Contact","Home")" class="main-menu"><span class="text">contact</span></a></li>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                        {
                            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Dashboard" ? ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "" : "") nav-click"><a href="@Url.Action("Index","Dashboard", new { Area = "Admin" })" class="main-menu"><span class="text">Dashboard</span></a></li>
                        }
                        @if (Request.IsAuthenticated)
                        {

                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <li class="nav-click">
                                    <a href="@Url.Action("Index","Manage")" class="">
                                        <span style="margin-left:20px;">Hello @User.Identity.GetUserName()!</span>
                                    </a>
                                </li>
                                <li class="nav-click"><a href="#" class="" id="SubmitBtn"><span style="margin-left:20px;">LogOut!</span></a></li>
                            }
                        }
                        else
                        {
                            <li class="nav-click"><a id="loginLink" class="main-menu" href="@Url.Action("Login","Account")" data-target="#LoginModal">LogIn</a></li>
                            <li class="nav-click"> @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "main-menu" })</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!-- WRAPPER CONTENT-->
        <!-- HEADER-->
        <header>
            <div class="bg-white header-02">
                <div class="header-topbar">
                    <div class="container">
                        <ul class="topbar-right pull-right list-unstyled list-inline login-widget">
                            @*<li><a href="@Url.Action("Login","Account",new { Area = "" })" class="item">login</a></li>
                                <li><a href="@Url.Action("Register","Account",new { Area = "" })" class="item">register</a></li>*@
                            @if (User.Identity.IsAuthenticated)
                            {
                                Html.RenderAction("GetNotifications", "Home");
                            }
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </div>
                </div>
                <div class="header-main">
                    <div class="container">
                        <div class="header-main-wrapper">
                            <div class="hamburger-menu">
                                <div class="hamburger-menu-wrapper">
                                    <div class="icons"></div>
                                </div>
                            </div>
                            <div class="navbar-header">
                                <div class="logo"><a href="@Url.Action("Index","Home")" class="header-logo"><h3 style="color:gold">Nature Explorer</h3></a></div>
                            </div>
                            <nav class="navigation">
                                <ul class="nav-links nav navbar-nav">
                                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "" : "") nav-click">
                                        <a href="@Url.Action("Index","Home")" class="main-menu"><span class="text">Home</span></a>
                                    </li>
                                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "" : "") nav-click"><a href="@Url.Action("About","Home")" class="main-menu"><span class="text">about</span></a></li>
                                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "TourManage" ? ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "" : "") nav-click"><a href="@Url.Action("Index","TourManage")" class="main-menu"><span class="text">Tours</span></a></li>
                                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "HotelManage" ? ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "" : "") nav-click"><a href="@Url.Action("Index","HotelManage")" class="main-menu"><span class="text">Hotels</span></a></li>
                                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "" : "") nav-click"><a href="@Url.Action("Contact","Home")" class="main-menu"><span class="text">contact</span></a></li>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                                    {
                                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Dashboard" ? ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "" : "") nav-click"><a href="@Url.Action("Index","Dashboard", new { Area = "Admin" })" class="main-menu"><span class="text">Dashboard</span></a></li>
                                    }
                                </ul>

                            </nav>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="BotContainer">
            <a class="BotIcon" href="#"><img class="BotIcon" src="~/Content/Images/bot.png" /></a>
            <a class="BotClose hidden" href="#"><img class="BotClose" src="~/Content/Images/mini.png" /></a>
            <iframe class="BotChat hidden" src='https://webchat.botframework.com/embed/nebotqna-bot?s=QeqEdPYVu-U.N0Hg64PAHgYmY0p9DuHiqoUmd4b66tkJsw_bciUlMTQ'></iframe>

        </div>
        <div class="main-content">
            @RenderBody()
            <hr />
        </div>
        @{
            Html.RenderAction("ContactUSForm", "Home");
        }
        <!-- BUTTON BACK TO TOP-->
        <div id="back-top"><a href="#top" class="link"><i class="fa fa-angle-double-up"></i></a></div>
        @{ 
            Html.RenderAction("Footer", "Home");
        }
    </div>
    <!-- LIBRARY JS-->
    <script src="~/Content/Assets/libs/jquery/jquery-2.2.3.min.js"></script>
    <script src="~/Content/Assets/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/MyScripts/BotFrameworkScript.js"></script>
    <script src="~/Content/Assets/js/main.js"></script>
    <script src="~/Content/Assets/OwlCarousel/owl.carousel.min.js"></script>
    <script src="~/Content/Assets/OwlCarousel/drift.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Content/Assets/js/jquery.validate.min.js"></script>
    <script src="~/Content/Assets/js/additional-methods.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Content/Assets/libs/detect-browser/browser.js"></script>
    @*<script src="~/Content/Assets/libs/slick-slider/slick.min.js"></script>*@
    @*<script src="~/Content/Assets/libs/smooth-scroll/jquery-smoothscroll.js"></script>*@

    <script src="~/Content/Assets/libs/wow-js/wow.min.js"></script>

    <script src="~/Content/Assets/libs/selectbox/js/jquery.selectbox-0.2.js"></script>
    <script src="~/Content/Assets/libs/please-wait/please-wait.min.js"></script>
    <!--script(src="~/Content/Assets/libs/parallax/jquery.data-parallax.min.js")--><!-- MAIN JS-->
    <!-- LOADING JS FOR PAGE-->
    <script src="~/Content/Assets/js/pages/home-page.js"></script>
    <script src="~/Content/Assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/Assets/js/pages/result.js"></script>
    <script src="~/Content/Assets/js/pages/sidebar.js"></script>
    <script src="~/Content/Assets/libs/plus-minus-input/plus-minus-input.js"></script>
    <script src="~/Content/Assets/js/pages/hotel-view.js"></script>
    <script src="~/Content/Assets/js/pages/tour-view.js"></script>
    <script src="~/Content/Assets/libs/nst-slider/js/jquery.nstSlider.min.js"></script>
    <script src="~/Content/Assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/Assets/libs/isotope/isotope.min.js"></script>
    <script src="~/Content/Assets/libs/slick-slider/slick.js"></script>

    <script>

        /////Comment Functionality
        $(document).ready(function () {

            //Rating Functionality..
            $(".rate-star").hover(function () {
                $(".rate-star").addClass("far").removeClass("fas");
                //
                $(this).addClass("fas").removeClass("far");
                $(this).prevAll(".rate-star").addClass("fas").removeClass("far");
            });
            $(".rate-star").click(function () {
                var ratingValue = $(this).attr("data-value");
                ratingValue = (ratingValue != 0) ? ratingValue : 1;
                $("#ratingInput").val(ratingValue);
            });
            //Endregrion
            $("#addComment").click(function () {
                $.ajax({
                    url: "/Hotelmanage/PostComment",
                    type: "Post",
                    data: $("#commentForm").serialize(),
                    success: function (response) {
                        if (response.Success) {
                            window.location.reload();
                        }
                        else {
                            swal("Error!", "error occured try again later!", "error");
                        }
                    }
                });
            });
            $("#addTourComment").click(function () {
                $.ajax({
                    url: "/TourManage/PostComment",
                    type: "Post",
                    data: $("#commentForm").serialize(),
                    success: function (response) {
                        if (response.Success) {
                            window.location.reload();
                        }
                        else {
                            swal("Error!", "error occured try again later!", "error");
                        }
                    }
                });
            });

        });
        ///////////////////////////////
        $(document).on('click', '#SubmitBtn', function () {
            $("#logoutForm").submit();
        });
            //$(document).ready(function () {
            //    $(".nav-click").click(function () {
            //        var $element = $(this);
            //        $(".nav-click").removeClass("active");
            //        $element.addClass("active nav-click");
            //    });
            //    function createSlick() {
            //        $(".slick-slider").slick({
            //            infinite: true,
            //            dots: true,
            //            speed: 300,
            //            slidesToShow: 1,
            //            centerMode: true,
            //            variableWidth: true,
            //            cssEase: 'linear',
            //            autoplay: true,
            //            autoplaySpeed: 2000
            //        });
            //    }
            //    createSlick();
            //    //Now it will not throw error
            //    $(window).on('resize', createSlick);

            //});


    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
