﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

    <ul class="navbar-nav topbar-right pull-right list-unstyled list-inline login-widget">
        <li class="item">
            @{
                var url = (ViewBag.ImageURL != null && ViewBag.ImageURL != "") ? ViewBag.ImageURL : "profile.png";
            }
            <a href="@Url.Action("Index","Manage")" @*data-toggle="popover" data-placement="bottom" title="Profile!"*@>
                <b>Hello </b>@User.Identity.GetUserName()!
                @*<img class="rounded img-fluid" style="width:50px; height:50px;" src="~/Content/Images/@url" />
                <img src="~/Content/Images/status.jpg" width="10px;" height="10px;" class="statusIcon" />*@
            </a>

        </li>
        <li class=" item"><a href="#" id="SubmitBtn">LogOut!</a></li>
    </ul>
        @*<div style="display:none" class="Profile-Container">
            <ul class="topbar-right pull-right list-unstyled list-inline login-widget">
                <li class="nav-item">
                    Hello  @User.Identity.GetUserName() !
                </li>
                <li class=" item">
                    @Html.ActionLink("Profile !", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
                    <hr />
                </li>
                <li class=" item"><a class="btn btn-outline-success" id="SubmitBtn">You Wanna Log off ?</a></li>
            </ul>
        </div>*@
    }
}
else
{
    <ul class="navbar-nav topbar-right pull-right list-unstyled list-inline login-widget">
        <li class="item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li class="item"><a id="loginLink" class="nav-link" href="@Url.Action("Login","Account")" data-target="#LoginModal">LogIn</a></li>
    </ul>
    <!--Login Modal-->
    <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="content-body-modal">

            </div>
        </div>
    </div>
}
<style>
    .statusIcon {
        margin-top: 25px;
        margin-left: -10px;
    }
</style>
@*<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            html: true,
            content: $(".Profile-Container").html(),
            trigger: 'focus'
        });
    });
    $(document).on('click', '#SubmitBtn', function () {
        $("#logoutForm").submit();
    });
    ///////Modal Functionality....
    //Modal Add Button Functionality
    $(document).ready(function () {
        //Get
        $("#loginLink").click(function () {
            $.ajax({
                url: "/Account/Login",
                type: "Get",
                success: function (response) {

                    $('#LoginModal').modal('toggle');
                    $(".content-body-modal").html(response);
                }
            });
        });
    });
</script>*@