﻿@using Microsoft.AspNet.Identity

@if (User.Identity.IsAuthenticated)
{
    <button type="button" class="btn btn-primary">
        Notifications <span class="badge badge-light">4</span>
    </button>
}
