﻿@model NatureExplorer.Web.Areas.Admin.ViewModels.UsersVM
@using NatureExplorer.Entities
<div>
    <h2 style="margin:auto">
        Users
    </h2>
    <hr />
</div>
<div class="">
    <div class="box">
        <div class="form-group search-box">
            <div class="input-group">
                <input placeholder="Search by Email" type="text" id="searchtxt" value="@Model.searchTerm" class="form-control search" />
                <select class="custom-select">
                    <option value="" selected>Choose Role...</option>
                    @foreach (var r in Model.roles)
                    {
                        <option value="@r.Id">@r.Name</option>
                    }
                </select>
                <div class="input-group-append">
                    <button class="btn btn-success" id="searchtxtbtn" type="button"><i class="fas fa-search"></i>Search</button>
                    <a class="btn btn-danger" id="searchtxtbtn" href="@Url.Action("Index","Account")"><i class="fas fa-trash"></i>Reset</a>

                </div>

            </div>
        </div>
    </div>


    @if (Model != null)
    {
        <table class="table table-light table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.users)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.Roles.Count</td>

                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a class="btn btn-primary editAuctionbtn" href="@Url.Action("UserDetail","Account",new { ID = user.Id })"><i class="fas fa-bars"></i>More Detail</a>
                            </div>
                        </td>


                    </tr>
                }
            </tbody>
        </table>
        <!-- Pager -->
        <div>
            @if (Model.pager != null && Model.pager.TotalPages > 1)
            {
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @if (Model.pager.CurrentPage > 1)
                        {
                            <li><a class="page-item page-link" data-pageno="1" href="#">First</a></li>
                            <li><a class="page-item page-link" data-pageno="@(Model.pager.CurrentPage - 1)" href="#"><</a></li>
                        }
                        @for (var page = Model.pager.StartPage; page <= Model.pager.EndPage; page++)
                        {
                            string activeClass = Model.pager.CurrentPage == page ? "active bg-warning" : string.Empty;
                            <li><a class="page-item page-link @activeClass" data-pageno="@page" href="#">@page</a></li>
                        }
                        @if (Model.pager.CurrentPage < Model.pager.TotalPages)
                        {
                            <li><a class="page-item page-link" data-pageno="@(Model.pager.CurrentPage + 1)" href="#">></a></li>
                            <li><a class="page-item page-link" data-pageno="@(Model.pager.EndPage)" href="#">Last</a></li>
                        }

                    </ul>
                </nav>
            }
        </div>
    }
</div>

<script>

    ////Pager...
    $(document).ready(function () {
        $(".page-item").click(function () {
		$.ajax({
			url: '@Url.Action("UsersTable", "Account")',
			data: {
                pageNo: $(this).attr("data-pageno"),
                search: $("#searchtxt").val()
			}
		})
        .done(function (response) {
            $("#UsersTable").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
	});
    });

    //Search
    $(document).ready(function () {
        $("#searchtxtbtn").click(function () {
            $.ajax({
                url: "@Url.Action("UsersTable", "Account")",
                type: "Post",
                data: { search: $("#searchtxt").val() },
                success: function (response) {
                    $("#UsersTable").html(response);
                }
            });
        });
    });

</script>
<style>

    .form-control {
        display: inline;
    }

    .search {
        width: auto;
    }

    .box {
        position: relative;
        height: 50px;
    }

    .search-box {
        position: absolute;
        right: 20px;
    }
</style>

