﻿
@{
    ViewBag.Title = "UserDetail";
}

@model NatureExplorer.Web.Areas.Admin.ViewModels.UserDetailVM
@using NatureExplorer.Entities
<div class="card text-center">
    <div class="card-header">
        User Profile
    </div>
    <div class="card-body">
        <!-- User Profile Content-->
        <div class="row">

            <!--Left Profile Part-->
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/Areas/Admin/Content/Dummy/avatar.png"  alt="..." class="card-img-top img-fluid"/>
                    <div class="card-body">
                        <h5 class="card-title">@Model.User.FullName</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fas fa-user-tie iconstyle"></i>@Model.User.UserName</li>
                        <li class="list-group-item"><i class="fas fa-map-marker-alt iconstyle"></i>@Model.User.Adress</li>
                    </ul>
                </div>
            </div>
            <!--Right Profile Part-->
            <div class="col-md-8">
                <div class="card text-center">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="@Url.Action("UserDetail", "Account",new { UserID=Model.User.Id })">Info</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-href="@Url.Action("UserRoles", "Account",new { UserID=Model.User.Id })" href="#">Roles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-href="@Url.Action("GetUserReviews", "Review",new { UserID=Model.User.Id })" href="#">Comments</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Bookings</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="profile-body-section">
                            @using (Html.BeginForm("UserDetail", "Account", FormMethod.Post, new { @class = "example" }))
                            {
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Full Name</label>
                                    <div class="col-sm-10">
                                        <input name="FullName" class="form-control" value="@Model.User.FullName" placeholder="Full Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">UserName</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" value="@Model.User.UserName" placeholder="UserName" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" value="@Model.User.Email" placeholder="Email" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Address</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="Adress" value="@Model.User.Adress" placeholder="Address">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Phone No</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="ContantNo" value="@Model.User.ContantNo" placeholder="ContactNo">
                                    </div>
                                </div>
                                <button class="btn btn-success" type="submit">Update</button>
                            }
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
    <script>
        ///For getting Roles
        $(document).ready(function () {
            $(".nav-link").click(function () {
                $(".nav-link").removeClass("active");
                $(this).addClass("active");
                var uri = $(this).attr("data-href");
                //Sending Ajax request....
                $.ajax({
                url: uri,
                type: "Get",
                data: {},
                success: function (response) {
                    $(".profile-body-section").html(response);
                }
                });

            });
        });


    </script>
    <style>
        .iconstyle {
            margin: 4px;
        }
    </style>
