﻿
@{
    ViewBag.Title = "UserRoles";
}

@model NatureExplorer.Web.Areas.Admin.ViewModels.UserRolesDetailVM
@using NatureExplorer.Entities
@using System.Linq;
<table class="table">

    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model.UserRoles)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td><Button data-href="@role.Name" class="btn btn-danger deleteRole"><i class="fas fa-trash iconstyle"></i>Delete</Button></td>
            </tr>
        }
    </tbody>
</table>
<hr />
<div class="row">
    <div class="col">
        <select class="custom-select roleSelect">
            <option value="" selected>Select Role to Add</option>
            @foreach (var role in Model.AvailableRoles)

            {
                <option value="@role.Name">@role.Name</option>
            }
        </select>
    </div>
    <div class="col">
        <form>
            <button id="AddRolebtn" class="btn btn-primary"><i class="fas fa-plus iconstyle"></i>Add Role</button>
            <input id="userIDinput" hidden data-value="@Model.User.Id" />
        </form>

    </div>

</div>
<script>

        $(document).ready(function () {
        ///AddingRoles
        $("#AddRolebtn").click(function () {
            var rID = $(".roleSelect").val();
            if (rID != null || rID != "") {
            $.ajax({
                url: "@Url.Action("AddRole","Account")",
                type: "Get",
                data: { userID: $("#userIDinput").attr("data-value"), role: rID },
                success: function (response) {
                    $(".profile-body-section").html(response);
                }
                });
            }
            else {

            }
        });
            ///Deleting Role
            $(".deleteRole").click(function () {
            var Role = $(this).attr("data-href");
            if (Role != null || Role != "") {
            $.ajax({
                url: "@Url.Action("DeleteRole","Account")",
                type: "Get",
                data: { userID: $("#userIDinput").attr("data-value"), role: Role },
                success: function (response) {
                    $(".profile-body-section").html(response);
                }
                });
            }
            else {

            }
        });
    });
</script>