﻿@model NatureExplorer.Entities.BillingInfo

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add Info</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="addForm">
        <div class="form-group">
            <input type="text" class="form-control custom" name="Info" id="Info" placeholder="Enter Mobile/Cnic" />
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="IsJazzCash" id="IsJazzCash" />
            <label class="form-check-label">: Is JazzCash Available</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="IsEasyPaisa" id="IsEasyPaisa" />
            <label class="form-check-label">: Is EasyPaisa Available</label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="saveInfobtn">Save</button>
</div>

<script>
////Posting Form
    var info = {
        Info: "",
        IsJazzCash: false,
        IsEasyPaisa: false
    };

    $("#saveInfobtn").click(function () {
        $('#exampleModal').modal('hide');
        info.Info = $("#Info").val();
        info.IsJazzCash = $("#IsJazzCash").is(":checked");
        info.IsEasyPaisa = $("#IsEasyPaisa").is(":checked");
        console.log(Info);
        $.ajax({
            url: '@Url.Action("AddInfo","Booking")',
            type: "Post",
            data: {
            Info:info },
            success: function (response) {
                $('#exampleModal').toggle();
                $(".content-body-modal").html('');
                $(".booking-body-section").html('');
                $(".booking-body-section").html(response);
            }
        });
    });</script>
<style>

    .custom {
        max-width: unset;
    }

    label {
        margin: 0px;
    }

    textarea {
        width: 100%;
    }

    .hidden {
        display: none;
    }
</style>

