﻿@model NatureExplorer.Web.Areas.Admin.ViewModels.TourBookingVM
@using NatureExplorer.Entities

<div>
    <h2 style="margin:auto">
        Tour Bookings
    </h2>
    <hr />
</div>

<div class="">
    <div class="box">
        <div class="form-group search-box">
            <div class="input-group">
                <input type="text" id="searchtxt" value="@Model.searchTerm" class="form-control search" />
                <div class="input-group-append">
                    <button class="btn btn-success" id="searchtxtbtn" type="button"><i class="fas fa-search"></i>Search</button>
                    <a class="btn btn-danger" id="searchtxtbtn" href="@Url.Action("Index","Hotel")"><i class="fas fa-trash"></i>Reset</a>
                    @*<button type="button" id="addHotelbtn" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl"><i class="fas fa-plus"></i>Add Hotel</button>*@
                </div>

            </div>
        </div>
    </div>


    @if (Model != null)
    {
        <table class="table table-light table-striped table-condensed">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Address</th>
                    <th>No Persons</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var b in Model.bookings)
                {
                    <tr>
                        <td>@b.ID</td>
                        <td>@b.User.FullName</td>
                        <td>@b.User.Email</td>
                        <td>@b.User.ContantNo</td>
                        <td>@b.Location</td>
                        <td>@b.Persons</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button  class="btn btn-primary ViewBookingbtn" data-ID="@b.ID">View</button>
                                <button class="btn btn-danger deleteBookingbtn" data-ID="@b.ID">Delete</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- Pager -->
        <div>
            @if (Model.pager != null && Model.pager.TotalPages > 1)
            {
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @if (Model.pager.CurrentPage > 1)
                        {
                            <li><a class="page-item page-link" data-pageno="1" href="#">First</a></li>
                            <li><a class="page-item page-link" data-pageno="@(Model.pager.CurrentPage - 1)" href="#"><</a></li>
                        }
                        @for (var page = Model.pager.StartPage; page <= Model.pager.EndPage; page++)
                        {
                            string activeClass = Model.pager.CurrentPage == page ? "active bg-success" : string.Empty;
                            <li><a class="page-item page-link @activeClass" data-pageno="@page" href="#">@page</a></li>
                        }
                        @if (Model.pager.CurrentPage < Model.pager.TotalPages)
                        {
                            <li><a class="page-item page-link" data-pageno="@(Model.pager.CurrentPage + 1)" href="#">></a></li>
                            <li><a class="page-item page-link" data-pageno="@(Model.pager.EndPage)" href="#">Last</a></li>
                        }

                    </ul>
                </nav>
            }
        </div>
    }
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
           
        </div>
    </div>
</div>
<script>
    //Modal Add Button Functionality
    $(document).ready(function () {
        //Get
        $(".ViewBookingbtn").click(function () {
            $.ajax({
                url: '@Url.Action("BookingView", "Booking")',
                type: "Get",
                data: { ID: $(this).attr("data-ID") },
                success: function (response) {
                    $('.bd-example-modal-lg').modal('toggle')
                    $(".modal-content").html(response);
                }
            });
        });
        $(document).on("click", '.closeBtn', function () {
            $('.bd-example-modal-lg').modal('toggle');
            $(".modal-content").html('');
        });
    });
    ////Edit Through Modal
    ///////Edit
    $(document).ready(function () {
        $(".deleteBookingbtn").click(function () {
            $.ajax({
                url: '@Url.Action("DeleteBooking", "Booking")',
                type: "Post",
                data: { BookingID: $(this).attr("data-ID") },
                success: function (response) {
                    swal("success", "Booking Has Been Deleted!");

             //Sending Ajax request....
             $.ajax({
                url: "@Url.Action("BookingTable","Booking",new { BookingType=1})",
                type: "Get",
                data: {},
                success: function (response) {
                    $(".booking-body-section").html(response);
                }
            });
                }
            });
        });
    });

    ////Pager...
    $(document).ready(function () {
        $(".page-item").click(function () {
		$.ajax({
			url: '@Url.Action("HotelTable", "Hotel")',
			data: {
                pageNo: $(this).attr("data-pageno"),
                search: $("#searchtxt").val()
			}
		})
        .done(function (response) {
            $("#HotelTable").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
	});
    });


    ///////Delete
    $(document).ready(function () {
        $(".deleteTourbtn").click(function () {
            $.ajax({
                url: '@Url.Action("DeleteTable", "Hotel")',
                type: "Post",
                data: { ID: $(this).attr("data-ID") },
                success: function (response) {
                    $("#HotelTable").html(response);
                }
            });
        });
    });
    //Search
    $(document).ready(function () {
        $("#searchtxtbtn").click(function () {
            $.ajax({
                url: '@Url.Action("HotelTable", "Hotel")',
                type: "Post",
                data: { search: $("#searchtxt").val() },
                success: function (response) {
                    $("#HotelTable").html(response);
                }
            });
        });
    });
</script>
<style>
    .page-link {
        color: black;
    }

    .form-control {
        display: inline;
    }

    .search {
        width: auto;
    }

    .box {
        position: relative;
        height: 50px;
    }

    .search-box {
        position: absolute;
        right: 20px;
    }
</style>


