﻿@using NatureExplorer.Entities
@model NatureExplorer.Web.Areas.Admin.ViewModels.HotelBookingViewVM
<div class="card">
    <div class="card-header">
        <p class="card-title">Booking Detail</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h3 style="align-content:center;position:center">User Info</h3>
                <div class="form-group">
                    <input disabled placeholder="Email" class="form-control customControl" value="@Model.Booking.User.Email" />

                </div>
                <div class="form-group">
                    <input disabled placeholder="FullName" class="form-control customControl" value="@Model.Booking.User.FullName" />
                </div>
                <div class="form-group">
                    <input disabled placeholder="ContactNo" class="form-control customControl" value="@Model.Booking.User.ContantNo" />
                </div>

            </div>

            <div class="col-md-6">
                <h3 style="align-content:center;position:center">Booking Info</h3>
                <div class="form-group">
                    <input disabled placeholder="Email" class="form-control customControl" value="@Model.Booking.Date" />

                </div>
                @{}
                <div class="form-group">
                    <input disabled placeholder="Number of Persons" class="form-control customControl" value="Persons: @Model.Booking.Persons" />
                </div>
                <div class="form-group">
                    <input disabled placeholder="Tour" class="form-control customControl" value="Hotel Name: @Model.Hotel.Name" />
                </div>
                <div class="form-group">
                    <input disabled placeholder="Bus" class="form-control customControl" value="Package Name: @Model.HotelPackage.Name" />
                </div>
                <div class="form-group">
                    <input disabled placeholder="Bus" class="form-control customControl" value="CheckIn Date: @Model.Booking.CheckIn.ToString("dd-MMM-yyyy")" />
                </div>
                <div class="form-group">
                    <input disabled placeholder="Bus" class="form-control customControl" value="CheckOut Date: @Model.Booking.CheckOut.ToString("dd-MMM-yyyy")" />
                </div>

            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <input disabled placeholder="Total" class="form-control customControl" value="Total: @Model.Booking.Price" />
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <label class="label">Payment Information</label>
                </div>
                @if (Model.Booking.PaymentMethodType == 1)
                {
                    <div class="form-group">
                        <input disabled placeholder="Payment Method is Credit Card" class="form-control customControl" />
                    </div>
                }
                else if (Model.Booking.PaymentMethodType == 2)
                {
                    <div class="form-group">
                        <input disabled value="TransecctionID: @Model.EasyPaisa.TransectionID" class="form-control customControl EasyPaisaInput" />
                    </div>
                    <div class="form-group">
                        <input disabled value="Secret/Password: @Model.EasyPaisa.Secret" class="form-control customControl EasyPaisaInput" />
                    </div>

                    <div class="form-group">
                        <input disabled value="Reciever CNIC: @Model.EasyPaisa.RecievingCNIC" class="form-control customControl EasyPaisaInput" />
                    </div>
                }
                else if (Model.Booking.PaymentMethodType == 3)
                {
                    <div class="form-group">
                        <input disabled placeholder="Payment Method is Cash" class="form-control customControl" />
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-success">Process</button>
        <button class="btn btn-danger">Deny Request</button>
        <button class="btn btn-dark closeBtn">Close</button>
    </div>
</div>
<style>
    .customControl {
        border-radius: 0px;
    }

    .EasyPaisaInput {
        margin: 2px;
    }
</style>
