﻿
@{
    ViewBag.Title = "Index";
}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="content-body-modal">

            </div>
        </div>
    </div>
</div>
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#" data-href="@Url.Action("BookingTable","Booking",new { BookingType=1})">Tour Bookings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-href="@Url.Action("HotelBookingTable","Booking",new { BookingType=2})" href="#">Hotel Bookings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-href="@Url.Action("PaymentInfoTable","Booking")" href="#">PaymentInfo's</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="booking-body-section">
            @{
                Html.RenderAction("BookingTable", new { BookingType = 1 });
            }
        </div>
    </div>
</div>
@*<script>
        $(document).ready(() => {
            $(".nav-link").click(() => {
                $(".nav-link").removeClass("active");
                $(this).addClass("active");
            });
        });

    </script>*@
<script>
    ///For getting Roles
    $(document).ready(function () {
        $(".nav-link").click(function () {
            $(".nav-link").removeClass("active");
            $(this).addClass("active");
            var uri = $(this).attr("data-href");
            //Sending Ajax request....
            $.ajax({
                url: uri,
                type: "Get",
                data: {},
                success: function (response) {
                    $(".booking-body-section").html(response);
                }
            });

        });
    });
</script>