﻿@using NatureExplorer.Entities
@model IList<NatureExplorer.Entities.BillingInfo>

<div>
    <h2 style="margin:auto">
        JazzCash/EasyPaisa Payment Info's
    </h2>
    <hr />
</div>
<div class="">
    <div class="box">
        <div class="form-group search-box">
            <div class="input-group">
                <div class="input-group-append">
                    <button id="addInfobtn" class="btn btn-primary" data-target="#exampleModal"><i class="fas fa-plus"></i>Add Number/Cnic</button>
                </div>
            </div>
        </div>
    </div>


    @if (Model != null)
    {
        <table class="table table-light table-striped table-condensed">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Info</th>
                    <th>jazzCash</th>
                    <th>EasyPaisa</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cat in Model)
                {
                    <tr>
                        <td>@cat.ID</td>
                        <td>@cat.Info</td>
                        <td>@cat.IsJazzCash</td>
                        <td>@cat.IsEasyPaisa</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button class="btn btn-danger deleteInfobtn" data-ID="@cat.ID">Delete</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- Pager -->
    }
</div>

<script>
//Modal Add Button Functionality
    $(document).ready(function () {
        //Get
        $("#addInfobtn").click(function () {
            $.ajax({
                url: '@Url.Action("AddInfo","Booking")',
                type: "Get",
                success: function (response) {
                    $('#exampleModal').modal('toggle')
                    $(".content-body-modal").html(response);
                }
            });
        });
    });
    ///////Delete
    $(document).ready(function () {
        $(".deleteInfobtn").click(function () {
            $.ajax({
                url: '@Url.Action("DeleteInfo","Booking")',
                type: "Post",
                data: { ID: $(this).attr("data-ID") },
                success: function (response) {
                    $(".booking-body-section").html(response);
                }
            });
        });
    });</script>
<style>

    .form-control {
        display: inline;
    }

    .search {
        width: auto;
    }

    .box {
        position: relative;
        height: 50px;
    }

    .search-box {
        position: absolute;
        right: 20px;
    }
</style>


