﻿@using NatureExplorer.Entities
@model NatureExplorer.Entities.Configuration

<h2>Setup Configuration</h2>
<hr />
<div class="row">
    <form id="ConfigForm">
        <div class="row">
            <div class="col-md-12 FieldSec">
                <div class="form-row">
                    <div class="form-group col-8">
                        <label for="Email">Email</label>
                        <input id="Email" name="Email" type="email" placeholder="Enter Email" style="max-width:100%" value="@Model.Email" class="form-control" />
                    </div>
                    <div class="form-group col-4">
                        <label class="label" for="Password">Password</label>
                        <input id="Password" name="Password" type="text" placeholder="Enter Password" value="@Model.Password" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 FieldSec">
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="FacebookAppID">FaceBook AppID</label>
                        <input id="FacebookAppID" name="FacebookAppID" type="text" placeholder="Facebook AppID" style="max-width:100%" value="@Model.FacebookAppID" class="form-control" />
                    </div>
                    <div class="form-group col-6">
                        <label for="FacebookSecretID">FaceBook SecretID</label>
                        <input id="FacebookSecretID" name="FacebookSecretID" type="text" placeholder="facebook SecretID" style="max-width:100%" value="@Model.FacebookSecretID" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 FieldSec">
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="GoogleAppID">Google AppID</label>
                        <input id="GoogleAppID" name="GoogleAppID" type="text" placeholder="Google AppID" style="max-width:100%" value="@Model.GoogleAppID" class="form-control" />
                    </div>
                    <div class="form-group col-6">
                        <label for="GoogleSecretID">Google SecretID</label>
                        <input id="GoogleSecretID" name="GoogleSecretID" type="text" placeholder="Google SecretID" style="max-width:100%" value="@Model.GoogleSecretID" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 FieldSec">
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="AuthorizeNetTransectionID">AuthorizeNet TransectionID</label>
                        <input id="AuthorizeNetTransectionID" name="AuthorizeNetTransectionID" type="text" placeholder="AuthorizeNet TransectionID" style="max-width:100%" value="@Model.AuthorizeNetTransectionID" class="form-control" />
                    </div>
                    <div class="form-group col-6">
                        <label for="AuthorizeNetAppID">AuthorizeNet AppID</label>
                        <input id="AuthorizeNetAppID" name="AuthorizeNetAppID" type="text" placeholder="AuthorizeNet AppID" style="max-width:100%" value="@Model.AuthorizeNetAppID" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 FieldSec">
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="CompanyEmail">CompanyEmail</label>
                        <input id="CompanyEmail" name="CompanyEmail" type="email" placeholder="Company Email" style="max-width:100%" value="@Model.CompanyEmail" class="form-control" />
                    </div>
                    <div class="form-group col-6">
                        <label for="CompanyPhone">Company MobileNumber</label>
                        <input id="CompanyPhone" name="CompanyPhone" type="text" placeholder="Company MobileNumber" style="max-width:100%" value="@Model.CompanyPhone" class="form-control" />
                    </div>
                </div>
            </div>

        </div>
        <hr />
        <table class="table table-borderless" style="margin:25px;">
            <thead>
                <tr>
                    <th>Quick Links_</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>FaceBook</td>
                    <td><input id="FaceBook" name="Facebook" type="text" placeholder="FaceBook" style="max-width:98%" value="@Model.FaceBook" class="form-control" /></td>
                </tr>
                <tr>
                    <td>Instagram</td>
                    <td><input id="Instagram" name="Instagram" type="text" placeholder="Instagram" style="max-width:98%" value="@Model.Instagram" class="form-control" /></td>
                </tr>
                <tr>
                    <td>Twitter</td>
                    <td><input id="Twitter" name="Twitter" type="text" placeholder="Twitter" style="max-width:98%" value="@Model.Twitter" class="form-control" /></td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td><input id="Contact" name="Contact" type="text" placeholder="Contact" style="max-width:98%" value="@Model.Contact" class="form-control" /></td>
                </tr>
            </tbody>
        </table>
        <hr />
        <table class="table table-borderless" style="margin:25px;">
            <thead>
                <tr>
                    <th>Reccomendation Engine:@Html.CheckBoxFor(m => m.ReccomendationSystem, new Dictionary<string,Object> { {"checked",Model.ReccomendationSystem}, {"data-toggle","toggle"},{"data-size","xs"} } ) @*<input id="ReccomendationSystem" name="ReccomendationSystem"  type="checkbox" value="@Model.ReccomendationSystem" @( Model.ReccomendationSystem == true ? "checked" : "") data-toggle="toggle" data-size="xs">*@</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>AppUrl</td>
                    <td><input id="AppUrl" name="AppUrl" type="text" placeholder="Reccomendation AppUrl" style="max-width:95%" value="@Model.AppUrl" class="form-control" /></td>
                </tr>
                <tr>
                    <td>AdminKey</td>
                    <td><input id="AdminKey" name="AdminKey" type="text" placeholder="Reccomendation AdminKey" style="max-width:95%" value="@Model.AdminKey" class="form-control" /></td>
                </tr>
                <tr>
                    <td>ReccomendationKey</td>
                    <td><input id="ReccomendationKey" name="ReccomendationKey" type="text" placeholder="ReccomendationKey" style="max-width:95%" value="@Model.ReccomendationKey" class="form-control" /></td>
                </tr>
                <tr>
                    <td>Storage Connection String</td>
                    <td><input id="StorageConnectionString" name="StorageConnectionString" type="text" placeholder="Storage Connection String" style="max-width:95%" value="@Model.StorageConnectionString" class="form-control" /></td>
                </tr>
                @*<tr>
                    <td colspan="2"><button id="TrainModel" style="max-width:95%" class="btn btn-warning btn-block">Train Model</button></td>
                </tr>*@
                <tr>
                    <td colspan="2"><span id="ReccomendStatus"> Status: </span>
                                    <div id="StatusLoading" class="spinner-grow spinner-grow-sm" hidden role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr />
        <input id="ID" name="ID" type="text" value="@Model.ID" hidden />
    </form>
  
    <div class="col-md-12 FieldSec">
        <div class="form-row">
            <button id="TrainModel" style="max-width:95%" class="btn btn-warning btn-block">Train Model</button>
            <hr />
            <button class="btn btn-success" id="SaveConfbtn" style="width:95%;margin-bottom:20px;margin-top:20px">Save/Update</button>
        </div>
    </div>
</div>

<style>
    .FieldSec {
        padding: 0px 50px;
    }
</style>
<script>
    $(document).ready(function () {
        $("#SaveConfbtn").click(function () {
            $.ajax({
                url: '@Url.Action("UpdateConfiguration","Configuration")',
                type: "Post",
                data: $("#ConfigForm").serialize(),
                success: function (response) {
                    $("#ConfigurationTable").html(response);
                }
            });
        });

        ///Model training 
        $("#TrainModel").click(function () {
            $("#ReccomendStatus").html("Status: Wait For Training To Be Completed!");
            $("#StatusLoading").removeAttr("hidden");
            $.ajax({
                url: '@Url.Action("TrainModel","Configuration")',
                type: "Get",
                success: function (response) {
                    if (response.Status === "Succeeded") {
                        $("#ReccomendStatus").html("Status:Completed");
                        $("#StatusLoading").prop("hidden", true);
                    }
                }
            });
        });
    });
</script>