﻿
@{
    ViewBag.Title = "Index";
}
@using NatureExplorer.Web.Areas.Admin.ViewModels
@model NatureExplorer.Web.Areas.Admin.ViewModels.DashboardVM


    <div class="container" >
        <div class="row" style="margin-top:40px;">
            <div class="col-md-3 col-md-offset-1">
                <div class="card card-shadow">
                    <div class="card-header text-center bg-primary" style="color:white">
                        <h3>Bookings</h3>
                    </div>
                    <div class="card-body text-center">
                        <h4>@Model.Bookings</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <div class="card card-shadow">
                    <div class="card-header text-center bg-primary" style="color:white">
                        <h3>Users</h3>
                    </div>
                    <div class="card-body text-center">
                        <h4>@Model.Users</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <div class="card card-shadow">
                    <div class="card-header text-center bg-primary" style="color:white">
                        <h3>Tours</h3>
                    </div>
                    <div class="card-body text-center">
                        <h4>@Model.Tours</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <div class="card card-shadow">
                    <div class="card-header text-center bg-primary" style="color:white">
                        <h3>Hotels</h3>
                    </div>
                    <div class="card-body text-center">
                        <h4>@Model.Hotels</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:40px;">
            <div class="col-md-3 col-md-offset-1">
                <div class="card card-shadow">
                    <div class="card-header text-center bg-primary" style="color:white">
                        <h3>Queries</h3>
                    </div>
                    <div class="card-body text-center">
                        <h4>@Model.Queries</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <div class="card card-shadow">
                    <div class="card-header text-center bg-primary" style="color:white">
                        <h3>Reviews</h3>
                    </div>
                    <div class="card-body text-center">
                        <h4>@Model.Reviews</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
   