﻿@model NatureExplorer.Web.ViewModels.TourVMS.TourDetailVM
    @using NatureExplorer.Entities
@{
    ViewBag.Title = "Detail";
}


    <section>
        <div class="tour-view-main padding-top padding-bottom">
            <div class="container">
                <h2 class="title-style-2">@Model.Tour.Destination tour </h2>

                <div class="schedule-block">
                    <div class="element"><p class="schedule-title">Date</p><span class="schedule-content">@Model.Tour.DepartureDate</span></div>
                    <div class="element"><p class="schedule-title">Duration</p><span class="schedule-content">@Model.Tour.Days day</span></div>
                    <div class="element"><p class="schedule-title">Reviews</p><span class="schedule-content">@Model.Reviews.Count</span></div>
                    @{var avg = (Model.Reviews.Count > 0) ? Model.Reviews.Sum(s => s.Ratings) / Model.Reviews.Count : 0;}
                    <div class="element"><p class="schedule-title">Guest Ratings</p><span class="schedule-content">@avg/5</span></div>
                </div>
                <div class="journey-block margin-top70">
                    <h3 class="title-style-3">Tour Facilities</h3>

                    <div class="wrapper-journey slick-initialized slick-slider" role="toolbar">
                        <div aria-live="polite" class="slick-list draggable">
                            <div class="slick-track" role="listbox" style="opacity: 1; width: 1128px; left: 0px;">
                                @foreach (var f in Model.Tour.TourFacilities)
                                {
                                    <div class="item feature-item slick-slide" tabindex="-1" role="option" aria-describedby="slick-slide25" style="width: 158px;" data-slick-index="5" aria-hidden="true">
                                        <p class="text" style="">@f.Facility.Name.ToUpperInvariant()</p>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="overview-block clearfix">
                            <h3 class="title-style-3">Tour Details</h3>
                            <div class="col-md-8">
                                <div class="timeline-container">
                                    <div class="timeline">
                                        @for (int i = 0; i < Model.Tour.TourDays.Count; i++)
                                        {
                                            var counter = i + 1;
                                            <div class="timeline-block">
                                                <div class="timeline-title"><span>Day @counter</span></div>
                                                <div class="timeline-content medium-margin-top">
                                                    <div class="row">
                                                        <div class="timeline-point"><i class="fa fa-circle-o"></i></div>
                                                        <div class="timeline-custom-col content-col">
                                                            <div class="timeline-location-block">
                                                                <p class="location-name">@Model.Tour.TourDays[i].Location<i class="fa fa-map-marker icon-marker"></i></p>

                                                                <p class="description">@Model.Tour.TourDays[i].Description</p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-responsive bg-primary">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>From</th>
                                            <th>Price for Single Person</th>
                                            <th>Couple Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.Tour.TourPrices.Count; i++)
                                        {
                                            var counter = i + 1;
                                            <tr>
                                                <td>@counter</td>
                                                <td>@Model.Tour.TourPrices[i].Location</td>
                                                <td>@Model.Tour.TourPrices[i].SinglePrice</td>
                                                <td>@Model.Tour.TourPrices[i].CouplePrice</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="wrapper-btn margin-top70"><a href="@Url.Action("BookTour","Booking",new { @area="",ID=Model.Tour.ID})" class="btn btn-maincolor btn-book-tour">book now</a></div>
                </div>
                <div class="gallery-block margin-top70">
                    <div class="container">
                        <h3 class="title-style-2">Gallery</h3>
                        <div class="" style="position: relative;min-width:98%;max-width: 700px;">
                            <div class="owl-carousel">
                                @foreach (var img in Model.Pictures)
                                {
                                    <img class="img img-fluid img-responsive" style="min-height:230px;max-height:230px" src="~/Content/Images/@img.ToString()" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row bootstrap snippets ReviewSection">
                        <div class="col-md-12  col-sm-12">
                            <div class="comment-wrapper">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        Comment panel
                                    </div>
                                    <div class="panel-body">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <div class="review-stars pull-right">
                                                <i class="rate-star text-warning far fa-star" data-value="1"></i>
                                                <i class="rate-star text-warning far fa-star" data-value="2"></i>
                                                <i class="rate-star text-warning far fa-star" data-value="3"></i>
                                                <i class="rate-star text-warning far fa-star" data-value="4"></i>
                                                <i class="rate-star text-warning far fa-star" data-value="5"></i>
                                            </div>
                                            <br />
                                            <form id="commentForm">
                                                <input hidden name="EntityID" value="@Model.EntityType" />
                                                <input hidden name="RecordID" value="@Model.Tour.ID" />
                                                <input hidden name="Ratings" value="1" id="ratingInput" />
                                                <textarea class="form-control" name="Text" placeholder="write a comment..." rows="3"></textarea>
                                                <br>
                                                <button type="button" class="btn btn-info pull-right" id="addTourComment">Post</button>
                                            </form>
                                            <br />
                                        }
                                        else
                                        {
                                            <div>
                                                <p>LogIn To Add Review!</p>
                                            </div>
                                        }
                                        <hr>
                                        @if (Model.Reviews != null && Model.Reviews.Count != 0)
                                        {
                                            <ul class="media-list">
                                                @foreach (var comment in Model.Reviews)
                                                {
                                                    <li class="media">
                                                        <a href="#" class="pull-left">
                                                            <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                                        </a>
                                                        <div class="media-body">
                                                            <span class="text-muted pull-right">
                                                                <small class="text-muted">
                                                                    @{
                                                                        var defaultstars = 5 - comment.Ratings;
                                                                    }
                                                                    @for (int i = 0; i < comment.Ratings; i++)
                                                                    {
                                                                        <span class="float-right"><i class="text-warning fas fa-star"></i></span>
                                                                    }
                                                                    @for (int i = 0; i < defaultstars; i++)
                                                                    {
                                                                        <span class="float-right"><i class="text-warning far fa-star"></i></span>
                                                                    }
                                                                </small>
                                                            </span>
                                                            <strong class="text-success">@@@comment.User.Email</strong>
                                                            <p>
                                                                @comment.Text
                                                            </p>
                                                            <p class="font-weight-light" style="font-size:smaller">@comment.TimeStamp.Date</p>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <p class="text-secondary text-center">no Reviews on this Tour Yet!</p>
                                        }

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <hr />
            @if (Model.ReccomendedTours.Count != 0)
            {
                <div class="container">
                    <div class="tours-wrapper">
                        <div class="group-title">
                            <h3 class="main-title" style="font-size:20px">Related Tours</h3>
                        </div>
                        <div class="tours-content margin-top70">
                            <div class="tours-list">
                                @foreach (var tour in Model.ReccomendedTours.ToList())
                                {
                                    <div class="tours-layout">
                                        <div class="image-wrapper">
                                            <a href="@Url.Action("Detail","TourManage",new { ID=tour.ID})" class="link"><img style="height:287px" src="~/Content/Images/@tour.Pictures[0].Picture.URL" alt="" class="img-responsive"></a>
                                            <div class="title-wrapper"><a href="tour-view.html" class="title">@tour.Destination</a></div>
                                            <div class="label-sale">
                                                <p class="text">New</p>
                                                <p class="number">New</p>
                                            </div>
                                        </div>
                                        <div class="content-wrapper">
                                            <div class="content">
                                                <div class="title">
                                                    <div class="price"><sup>$</sup><span class="number">@tour.TourPrices[0].SinglePrice</span></div>
                                                    <p class="for-price">@tour.Days days</p>
                                                </div>
                                                <p class="text">@tour.Title</p>
                                                <p class="text right">Date: @tour.DepartureDate</p>
                                                <div class="btn"><a href="@Url.Action("Detail","TourManage",new { ID=tour.ID})">Details</a></div>
                                            </div>

                                        </div>
                                    </div>
                                }


                            </div>



                        </div>
                    </div>
                </div>
            }


        </div>
            </section>
<style>
    th{
    background-color: rgb(237, 87, 64);
    color: white;
    font-size: 1.18rem;
    }
    td{
            padding: 10px;
    background: darkslategrey;
    font-size: 1.2rem;
    }
    .ReviewSection{
        width:100%;
        margin-top:10px;
    }
    #addComment{
        border-radius:1px;
        background:#ffdd00;
        transition:all ease 0.2s;
    }
    #addComment:hover{
        background:#ffd800;
        border:none;
    }
    .panel{
        border-radius:0px;
    }
.comment-wrapper.panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}
.media-body{
    border-bottom :0.2px solid;
    border-bottom-color:rgba(0,0,0,0.5);
}
</style>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
    var gallery = document.querySelector('.gallery');
    var galleryItems = document.querySelectorAll('.gallery-item');
    var numOfItems = gallery.children.length;
    var itemWidth = 23; // percent: as set in css

    var featured = document.querySelector('.featured-item');

    var leftBtn = document.querySelector('.move-btn.left');
    var rightBtn = document.querySelector('.move-btn.right');
    var leftInterval;
    var rightInterval;

    var scrollRate = 0.2;
    var left;

    function selectItem(e) {
	if (e.target.classList.contains('active')) return;

	featured.style.backgroundImage = e.target.style.backgroundImage;

	for (var i = 0; i < galleryItems.length; i++) {
		if (galleryItems[i].classList.contains('active'))
			galleryItems[i].classList.remove('active');
	}

	e.target.classList.add('active');
    }

        function galleryWrapLeft() {
	var first = gallery.children[0];
	gallery.removeChild(first);
	gallery.style.left = -itemWidth + '%';
	gallery.appendChild(first);
	gallery.style.left = '0%';
    }

        function galleryWrapRight() {
	var last = gallery.children[gallery.children.length - 1];
	gallery.removeChild(last);
	gallery.insertBefore(last, gallery.children[0]);
	gallery.style.left = '-23%';
    }

        function moveLeft() {
	left = left || 0;

	leftInterval = setInterval(function() {
		gallery.style.left = left + '%';

		if (left > -itemWidth) {
			left -= scrollRate;
		} else {
			left = 0;
			galleryWrapLeft();
		}
	}, 1);
        }

        function moveRight() {
	//Make sure there is element to the leftd
	if (left > -itemWidth && left < 0) {
		left = left  - itemWidth;

		var last = gallery.children[gallery.children.length - 1];
		gallery.removeChild(last);
		gallery.style.left = left + '%';
		gallery.insertBefore(last, gallery.children[0]);
	}

	left = left || 0;

	leftInterval = setInterval(function() {
		gallery.style.left = left + '%';

		if (left < 0) {
			left += scrollRate;
		} else {
			left = -itemWidth;
			galleryWrapRight();
		}
	}, 1);
    }

    function stopMovement() {
	clearInterval(leftInterval);
	clearInterval(rightInterval);
}

    leftBtn.addEventListener('mouseenter', moveLeft);
    leftBtn.addEventListener('mouseleave', stopMovement);
    rightBtn.addEventListener('mouseenter', moveRight);
    rightBtn.addEventListener('mouseleave', stopMovement);


//Start this baby up
(function init() {
	var images = [
		'https://s3-us-west-2.amazonaws.com/forconcepting/800Wide50Quality/car.jpg',
		'https://s3-us-west-2.amazonaws.com/forconcepting/800Wide50Quality/city.jpg',
		'https://s3-us-west-2.amazonaws.com/forconcepting/800Wide50Quality/deer.jpg',
		'https://s3-us-west-2.amazonaws.com/forconcepting/800Wide50Quality/flowers.jpg',
		'https://s3-us-west-2.amazonaws.com/forconcepting/800Wide50Quality/food.jpg',
		'https://s3-us-west-2.amazonaws.com/forconcepting/800Wide50Quality/guy.jpg',
		'https://s3-us-west-2.amazonaws.com/forconcepting/800Wide50Quality/landscape.jpg',
		'https://s3-us-west-2.amazonaws.com/forconcepting/800Wide50Quality/lips.jpg',
		'https://s3-us-west-2.amazonaws.com/forconcepting/800Wide50Quality/night.jpg',
		'https://s3-us-west-2.amazonaws.com/forconcepting/800Wide50Quality/table.jpg'
	];

	//Set Initial Featured Image
	featured.style.backgroundImage = 'url(' + images[0] + ')';

	//Set Images for Gallery and Add Event Listeners
	for (var i = 0; i < galleryItems.length; i++) {
		galleryItems[i].style.backgroundImage = 'url(' + images[i] + ')';
		galleryItems[i].addEventListener('click', selectItem);
	}
    })();

    //$(document).ready(function () {

    //    //Rating Functionality..
    //    $(".rate-star").hover(function () {
    //        $(".rate-star").addClass("far").removeClass("fas");
    //        //
    //        $(this).addClass("fas").removeClass("far");
    //        $(this).prevAll(".rate-star").addClass("fas").removeClass("far");
    //    });
    //    $(".rate-star").click(function () {
    //        var ratingValue = $(this).attr("data-value");
    //        ratingValue = (ratingValue != 0) ? ratingValue : 1;
    //        $("#ratingInput").val(ratingValue);
    //    });
    //    //Endregrion
        //$("#addComment").click(function () {
        //    $.ajax({
        //        url: "/Auctions/PostComment",
        //        type:"Post",
        //        data: $("#commentForm").serialize(),
        //        success: function (response) {
        //            if (response.Success) {
        //                window.location.reload();
        //            }
        //            else {
        //                swal("Error!", "error occured try again later!", "error");
        //            }
        //        }
        //    });
        //});

    //});
</script>
<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
            autoplay: true,
            autoplayTimeout:2000,
            autoplayHoverPause:true,
            items: 3,
            center: true,
            stagePadding:10,
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        400:{
            items:2
        },
        600:{
            items:3
        },
    }
});

    });
</script>