﻿

@{
    ViewBag.Title = "Tours";
}
@using NatureExplorer.Entities
@model NatureExplorer.Web.ViewModels.TourVMS.TourVM
<div class="tour-result-main padding-top padding-bottom">
    <div class="container">
        <div class="result-meta">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="result-count-wrapper">Results Found: <span class="result-count">Showing @(((Model.Pager.CurrentPage - 1) * Model.Pager.PageSize) + 1) – @(((Model.Pager.CurrentPage - 1) * Model.Pager.PageSize) + (Model.Tours.Count < Model.Pager.PageSize ? Model.Tours.Count : Model.Pager.PageSize)) of @Model.Pager.TotalItems Tours</span></div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="result-filter-wrapper">
                        <form>
                            <div class="">
                                <select class="form-control" style="border :1px solid gold;margin-bottom:10px;">
                                    <option selected>Sort By:</option>
                                    <option>By Date Added</option>
                                    <option>By Departure Date</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="result-body">
            <div class="row">
                <div class="col-md-8 main-right" style="z-index: 0;">
                    <div class="tours-list">
                        <div class="row">
                            <div class="card-group">
                                @foreach (var tour in Model.Tours)
                                {
                                    <div class="col-sm-6">
                                        <div class="tours-layout">
                                            <div class="image-wrapper">
                                                <a href="@Url.Action("Detail","TourManage",new { ID=tour.ID})" class="link"><img style="height:270px;" src="~/Content/Images/@tour.Pictures[0].Picture.URL" alt="" class="img-responsive"></a>

                                                <div class="title-wrapper"><a href="#" class="title">@tour.Destination</a></div>
                                                <div class="label-sale">
                                                    <p class="text">sale</p>

                                                    <p class="number">35%</p>
                                                </div>
                                            </div>
                                            <div class="content-wrapper">
                                                <div class="content">
                                                    <div class="title">
                                                        <div class="price"><sup>$</sup><span class="number">@tour.TourPrices[0].SinglePrice</span></div>
                                                        <p class="for-price">@tour.Days days</p>
                                                    </div>
                                                    <p class="text">@tour.DepartureDate</p>

                                                    <div class="btn"><a href="@Url.Action("Detail","TourManage",new { ID=tour.ID})" class="left-btn">Details</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    @if (Model.Pager != null && Model.Pager.TotalPages > 1)
                    {
                        <nav class="pagination-list margin-top70">
                            <ul class="pagination">
                                @if (Model.Pager.CurrentPage > 1)
                                {
                                    <li><a href="@Url.Action("Index","TourManage",new { pageNo=Model.Pager.StartPage,searchTerm=Model.searchTerm})" class="btn-pagination ">First</a></li>
                                    <li><a href="@Url.Action("Index","TourManage",new { pageNo=Model.Pager.CurrentPage - 1,searchTerm=Model.searchTerm})" aria-label="Previous" class="btn-pagination previous"><span aria-hidden="true" class="fa fa-angle-left"></span></a></li>
                                }
                                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                {
                                    string activeClass = Model.Pager.CurrentPage == page ? "active" : string.Empty;
                                    <li><a href="@Url.Action("Index","TourManage",new { pageNo=page,searchTerm=Model.searchTerm})" class="btn-pagination @activeClass">@page</a></li>
                                }
                                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                {
                                    <li><a href="@Url.Action("Index","TourManage",new { pageNo=Model.Pager.CurrentPage + 1,searchTerm=Model.searchTerm})" aria-label="Next" class="btn-pagination next"><span aria-hidden="true" class="fa fa-angle-right"></span></a></li>
                                    <li><a href="@Url.Action("Index","TourManage",new { pageNo=Model.Pager.EndPage,searchTerm=Model.searchTerm})" class="btn-pagination ">Last</a></li>
                                }

                            </ul>
                        </nav>
                    }
                </div>
                <div class="col-md-4 sidebar-widget">
                    <div class="col-2">
                        <div class="find-widget find-flight-widget widget">
                            <h4 class="title-widgets">find your Destination</h4>

                            <form class="content-widget" method="get" action="@Url.Action("Index", "TourManage")">
                                <div class="text-input small-margin-top">
                                    <div class="text-box-wrapper">
                                        <label class="tb-label">Where do you want to go?</label>

                                        <div class="input-group"><input type="text" value="@Model.searchTerm" placeholder="Write the place" name="searchTerm" class="tb-input"></div>
                                    </div>
                                </div>
                                <button type="submit" data-hover="SEND NOW" class="btn btn-slide small-margin-top"><span class="text">search now</span><span class="icons fa fa-long-arrow-right"></span></button>
                            </form>
                        </div>
                    </div>
                    @*<div class="col-2">
                        <div class="col-1">
                            <div class="price-widget widget">
                                <div class="title-widget">
                                    <div class="title">price</div>
                                </div>
                                <div class="content-widget">
                                    <div class="price-wrapper">
                                        <div data-range_min="0" data-range_max="3000" data-cur_min="450" data-cur_max="1800" class="nstSlider">
                                            <div class="leftGrip indicator nst-animating" tabindex="0" style="left: 48px;">
                                                <div class="number">560</div>
                                            </div>
                                            <div class="rightGrip indicator nst-animating" tabindex="0" style="left: 148px;">
                                                <div class="number">1728</div>
                                            </div>
                                        </div>
                                        <div class="leftLabel">0</div>
                                        <div class="rightLabel">3000</div>
                                    </div>
                                </div>
                                <div class="content-Reset">
                                    <div class="content-widget" style="padding:5px;align-content:center;text-align:center">
                                        <a class="btn" href="@Url.Action("Index","TourManage")">Reset</a>
                                    </div>
                                </div>
                            </div>
                            <div class="turkey-cities-widget widget">
                                <div class="title-widget">
                                    <div class="title">rating</div>
                                </div>
                                <div class="content-widget">
                                    <form class="radio-selection">
                                        <div class="radio-btn-wrapper"><input type="radio" name="rating" value="1stars" id="1stars" class="radio-btn"><label for="1stars" class="radio-label stars stars5">1stars</label><span class="count">27</span></div>
                                        <div class="radio-btn-wrapper"><input type="radio" name="rating" value="2stars" id="2stars" class="radio-btn"><label for="2stars" class="radio-label stars stars4">2stars</label><span class="count">75</span></div>
                                        <div class="radio-btn-wrapper"><input type="radio" name="rating" value="3stars" id="3stars" class="radio-btn"><label for="3stars" class="radio-label stars stars3">3stars</label><span class="count">35</span></div>
                                        <div class="radio-btn-wrapper"><input type="radio" name="rating" value="4stars" id="4stars" class="radio-btn"><label for="4stars" class="radio-label stars stars2">4stars</label><span class="count">34</span></div>
                                        <div class="radio-btn-wrapper"><input type="radio" name="rating" value="5stars" id="5stars" class="radio-btn"><label for="5stars" class="radio-label stars stars1">5stars</label><span class="count">65</span></div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-1">
                            <div class="content-Reset">
                                <div class="content-widget" style="padding:5px;align-content:center;text-align:center">
                                    <a class="btn" href="@Url.Action("Index","TourManage")">Reset</a>
                                </div>
                            </div>
                            <div class="turkey-cities-widget widget">
                                <div class="title-widget">
                                    <div class="title">Cities</div>
                                </div>

                                <div class="content-widget">
                                    <form class="radio-selection">
                                        @foreach (var city in Model.Cities)
                                        {
                                            <div class="radio-btn-wrapper"><input type="radio" name="turkey" value="@city" class="radio-btn"><label class="radio-label">@city.ToUpperInvariant()</label></div>
                                        }


                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="special-offer margin-top70">
            <h3 class="title-style-2"></h3>
            <div class="special-offer-list slick-initialized slick-slider" role="toolbar">

            </div>
        </div>
    </div>
</div>