﻿@using NatureExplorer.Entities
@model NatureExplorer.Web.ViewModels.ClinetRoomBookingVM
@{
    ViewBag.Title = "BookRoom";
}
<div class="ReservationForm">
    <form id="regForm">

        <h1>Book Room:</h1>

        <!-- One "tab" for each step in the form: -->
        <div class="tab">
            Profile Info:
            <div class="row">
                <div class="col-md-6">
                    <p hidden><input value="@Model.User.Id" name="Id" id="Id"></p>
                    <p hidden><input value="@Model.Reservation.HotelPackageID" id="HotelPackageID" name="HotelPackageID"></p>
                    <p hidden><input value="@Model.Reservation.HotelID" id="HotelID" name="HotelID"></p>
                    <p><input placeholder="Full Name" name="FullName" id="FullName" value="@Model.User.FullName" oninput="this.className = ''"></p>
                    <p><input placeholder="Enter Email Address" name="Email" id="Email" value="@Model.User.Email" oninput="this.className = ''"></p>
                </div>
                <div class="col-md-6">
                    <p><input placeholder="Enter ContactNo" name="ContantNo" id="ContantNo" value="@Model.User.ContantNo" oninput="this.className = ''"></p>
                    <p><input placeholder="Enter Address" name="Adress" id="Adress" value="@Model.User.Adress" oninput="this.className = ''"></p>
                </div>
            </div>
            <div style="color:red">
                <ul>
                    <li class="Namevalid hidden">Name should be atleast 5 character long</li>
                    <li class="Phonevalid hidden">Provide a valid Phone Number</li>
                    <li class="Addressvalid hidden">Adress should be atleast 15 character long</li>
                </ul>
            </div>
        </div>

        <div class="tab">
            Reservation Info:
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="CheckIn">CheckIn</label>
                        <input type="date" class="form-control" name="CheckIn" id="CheckIn" />
                    </div>
                    <p hidden><input name="Location" id="Location" oninput="this.className = ''"></p>
                    <div class="form-group">
                        <label for="CheckOut">CheckOut</label>
                        <input type="date" class="form-control" name="CheckOut" id="CheckOut" />
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="row">
                        <div class="form-group col-md-6">
                            <div><p class="h3">Number of Persons</p></div>
                            <div><p><input placeholder="Number of Persons" name="NumberPersons" id="NumberPersons" oninput="this.className = ''"></p></div>
                        </div>
                        <div class="form-group col-md-6">
                            <div><p class="h3">Total Price:</p></div>
                            <input hidden id="PricePerNight" value="@Model.Package.Price" />
                            <div><p><input placeholder="" name="Price" id="Price" value="0.00" readonly style="background: rgba(0,0,0,0.1);"></p></div>
                        </div>

                    </div>


                </div>
            </div>
            <div style="color:red">
                <ul>
                    <li class="CheckInvalid hidden">Please Select a CheckIn Date</li>
                    <li class="CheckOutvalid hidden">Please Select a CheckOut Date</li>
                    <li class="Personsvalid hidden">Add Number Of Persons</li>
                </ul>
            </div>
        </div>

        <div class="tab">
            Payment Options:
            <div class="row">
                <div class="col-md-4">
                    <input type="radio" name="PaymentMethodType" value="1" /><label>By Card</label>
                </div>
                <div class="col-md-4">
                    <input type="radio" name="PaymentMethodType" value="2" />By Easy Paisa<label>
                    </label>
                </div>
                <div class="col-md-4">
                    <input type="radio" checked name="PaymentMethodType" value="3" /><label>By Cash</label>
                </div>
            </div>
            <div class="row PaymentContainer" style="margin: 2px;">
                <div hidden class="CreditCardForm">
                    <div class="row">

                        <div class="col-md-6 col-md-offset-3">
                            <div class="row">
                                <h3 class="text-center">Payment Details</h3>
                                <img class="img-responsive cc-img" src="http://www.prepbootstrap.com/Content/images/shared/misc/creditcardicons.png">
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label>CARD NUMBER</label>
                                    <div class="input-group">
                                        <input type="tel" class="form-control form-controlCustom paymentfield" id="CardNumber" placeholder="Valid Card Number" />
                                        <span class="input-group-addon"><span class="fa fa-credit-card"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 col-md-7">
                                    <div class="form-group">
                                        <label><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                        <input type="tel" class="form-control form-controlCustom paymentfield" name="ExpiryDate" placeholder="MM / YY" />
                                    </div>
                                </div>
                                <div class="col-xs-5 col-md-5 pull-right">
                                    <div class="form-group">
                                        <label>CV CODE</label>
                                        <input type="tel" class="form-control form-controlCustom paymentfield" id="CardCode" placeholder="CVC" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div hidden class="EasyPaisaForm">
                    <div class="form-group">
                        <input type="text" class="form-controlCustom paymentfield" placeholder="Transection ID" name="TransectionID" id="TransectionID" />


                    </div>
                    <div class="form-group">
                        <input type="text" class="form-controlCustom paymentfield" placeholder="Secret/Password" name="Secret" id="Secret" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-controlCustom paymentfield" placeholder="Reciever's CNIC" name="RecievingCNIC" id="RecievingCNIC" />
                    </div>
                </div>
                <div class="CashForm">
                    <div class="alert alert-info" role="alert">
                        Make Sure of Full Cash on Arrival
                    </div>
                </div>
            </div>
            <div style="color:red">
                <ul>
                    <li class="Paymentvalid hidden">Please add Authentic Payment Details</li>
                </ul>
            </div>
        </div>

        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
        </div>

        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
        </div>

    </form>
</div>
<style>
    .form-controlCustom {
        height: auto;
        padding: 10px 10px;
        font-size: larger;
        border: 1px black solid;
        transition: all ease-in 0.2s;
    }

        .form-controlCustom:focus {
            border-color: #ffdd00;
        }

    .ReservationForm {
    }

    #regForm {
        background-color: #ffffff;
        margin: 10px auto;
        font-family: Raleway;
        padding: 40px;
        width: 80%;
        min-height: 70vh;
        min-width: 300px;
    }

    h1 {
        text-align: center;
    }

    input {
        padding: 10px;
        width: 100%;
        font-size: 17px;
        font-family: Raleway;
        border: 1px solid #aaaaaa;
    }

        /* Mark input boxes that gets an error on validation: */
        input.invalid {
            background-color: #ffdddd;
        }

    /* Hide all steps by default: */
    .tab {
        display: none;
    }

    input {
        transition: all ease-in 0.2s;
    }

        input:focus {
            border-color: #ffdd00;
        }

    button {
        background-color: #ffdd00;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        font-size: 17px;
        font-family: Raleway;
        cursor: pointer;
    }

        button:hover {
            opacity: 0.8;
        }

    #prevBtn {
        background-color: #bbbbbb;
    }

    /* Make circles that indicate the steps of the form: */
    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #ffdd00;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

        .step.active {
            opacity: 1;
        }

        /* Mark the steps that are finished and valid: */
        .step.finish {
            opacity: 0.5;
        }

    input#CheckIn,input#CheckOut {
    border: 1px solid black;
    padding: 25px 20px 25px 20px;
}
</style>
<script>
    $("form").submit(function(e){
        e.preventDefault();
    });
    ////////////////// Selecting Tour Location
    $(document).ready(function () {
        //////////////////
        $("#CheckOut").change(function () {
            const oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
            var date1 = Date.parse($("#CheckIn").val());
            var date2 = Date.parse($("#CheckOut").val());
            var result = Math.round(Math.abs((date1 - date2) / oneDay));
            var price = parseFloat($("#PricePerNight").val());
            $("#Price").val(price * result);
        })
        

        /////////////////////////
        //$("#NumberPersons").keyup(function () {
        //    ////Getting Number of Days of Staying
        //     const oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
        //     var date1 = Date.parse($("#CheckIn").val());
        //     var date2 = Date.parse($("#CheckOut").val());
        //     var Days = Math.round(Math.abs((date1 - date2) / oneDay));
        //     var persons = parseFloat($("#NumberPersons").val());


        //    if ($("#TourLocationSelect option:selected").attr("value") != "-1" && $("#LocationPriceSelect option:selected").attr("value") != "-1" ) {
        //        var persons = parseFloat($("#NumberPersons").val());
        //        var PricePackageValue = parseFloat($("#TourLocationSelect option:selected").attr("value"));
        //        var Price = $("#Price");
        //        Price.attr("value", (PricePackageValue * persons));
        //    } else if ($("#TourLocationSelect option:selected").attr("value") === "-1") {
        //        $("#NumberPersons").val("");
        //        swal("error", "Please Select tour Location");

        //    } else if ($("#LocationPriceSelect option:selected").attr("value") === "-1") {
        //        $("#NumberPersons").val("");
        //        swal("error", "Please Select tour Pricing Package");
        //    }

        //});
        ///////////Changing Payment Method...
        $('input[type="radio"]').click(function () {
            var value = $(this).attr("value");
            console.log(value);
            switch (value) {
                case '1':
                    {
                        $(".CreditCardForm").show();
                        $(".EasyPaisaForm").hide();
                        $(".CashForm").hide();
                    }
                    break;
                case '2':
                    {
                        $(".CreditCardForm").hide();
                        $(".EasyPaisaForm").show();
                        $(".CashForm").hide();
                    }
                    break;
                case '3':
                    {
                        $(".CreditCardForm").hide();
                        $(".EasyPaisaForm").hide();
                        $(".CashForm").show();
                    }
            };
        });
    });
    ///////////////////
     ///////////////////
    var ContactIsValid = true;
    var BookingIsValid = true;
    var PaymentIsValid = true;
    /////
    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab

    function showTab(n) {
        // This function will display the specified tab of the form...
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        //... and fix the Previous/Next buttons:
        if (n == 0) {
            document.getElementById("prevBtn").style.display = "none";
        } else {
            document.getElementById("prevBtn").style.display = "inline";
        }
        if (n == (x.length - 1)) {
            document.getElementById("nextBtn").innerHTML = "Submit";
            $("#nextBtn").attr('id', 'SubmitBTN');
        } else {
            document.getElementById("nextBtn").innerHTML = "Next";
        }
        //... and run a function that will display the correct step indicator:
        fixStepIndicator(n);
    }

    function nextPrev(n) {
        // This function will figure out which tab to display
        var x = document.getElementsByClassName("tab");
        // Exit the function if any field in the current tab is invalid:
        if (n == 1 && !validateForm()) return false;
        ////Validation Applying////
        ///////////////////////////
        switch (n + currentTab) {
            case 1: {
                var NameValid = true;
                var PhoneValid = true;
                var AddressValid = true;
                ///////
                if ($("#FullName").val().length <= 5 || $("#FullName").val() === "") {
                    $(".Namevalid").removeClass("hidden");
                    NameValid = false;
                }
                else {
                    $(".Namevalid").addClass("hidden");
                    NameValid = true;
                }
                ///
                if ($("#ContantNo").val().length <= 10) {
                    $(".Phonevalid").removeClass("hidden");
                    PhoneValid = false;
                }
                else {
                    $(".Phonevalid").addClass("hidden");
                    PhoneValid = true;
                }
                ///
                if ($("#Adress").val().length <= 15) {
                    $(".Addressvalid").removeClass("hidden");
                    AddressValid = false;
                }
                else {
                    $(".Addressvalid").addClass("hidden");
                    AddressValid = true;
                }

                if (NameValid && PhoneValid && AddressValid)
                    ContactIsValid = true;
                else
                    ContactIsValid = false;
                ///Check Contacts Are Valid:
                if (!ContactIsValid)
                    return false;
            }
                break;
            case 2: {
                var CheckInValid = true;
                var CheckoutValid = true;
                var Personsvalid = true;
                console.log(Date("yyyy-mm-dd"));
                console.log($("#CheckIn").val());
                if ($("#CheckIn").val() === "") {
                    CheckInValid = false;
                    $(".CheckInvalid").removeClass("hidden");
                }
                else {
                    CheckInValid= true;
                    $(".CheckInvalid").addClass("hidden");
                }

                if ($("#CheckOut").val() === "") {
                    CheckoutValid = false;
                    $(".CheckOutvalid").removeClass("hidden");
                }
                else {
                    CheckoutValid = true;
                    $(".CheckOutvalid").addClass("hidden");
                }

                if ($("#NumberPersons").val() === "0" || $("#NumberPersons").val() === "") {
                    Personsvalid = false;
                    $(".Personsvalid").removeClass("hidden");
                }
                else {
                    Personsvalid = true;
                    $(".Personsvalid").addClass("hidden");
                }
                ///
                if (CheckIn && CheckOut && Personsvalid)
                    BookingIsValid = true;
                else
                    BookingIsValid = false;
                ///Check Contacts Are Valid:
                if (!BookingIsValid)
                    return false;
            }
                break;
            case 3: {
                debugger;
                var value = $('input[type="radio"]:checked').val();
                //switch (value) {
                //    case "1": {
                //         $(".Paymentvalid").removeClass("hidden");
                //        return false;
                //    }
                //        break;
                //    case "2": {
                //         $(".Paymentvalid").removeClass("hidden");
                //        return false;
                //    }
                //        break;
                //}
            }
        }
        //////////////////////////
        // Hide the current tab:
        x[currentTab].style.display = "none";
        // Increase or decrease the current tab by 1:
        currentTab = currentTab + n;
        // if you have reached the end of the form...
        if (currentTab >= x.length) {
            // ... the form gets submitted:
            {
                var VM = {
                    User: {
                        Id: "",
                        Email: "",
                        Adress: "",
                        ContantNo: ""
                    },
                    Reservation: {
                        CheckIn: "",
                        CheckOut: "",
                        Persons: "",
                        Price: "",
                        Location: "",
                        HotelID: "",
                        HotelPackageID: ""
                    },
                    EasyPaisa: {
                        TransectionID: "",
                        Secret: "",
                        RecievingCNIC:""
                    },
                    CreditCard: {
                        CardNumber: "",
                        CardCode: "",
                        ExpiryDate:""
                    },
                    Total: "",
                    PaymentMethod:""
                };
                VM.User.Id = $("#Id").val();
                VM.User.Email = $("#Email").val();
                VM.User.Adress = $("#Adress").val();
                VM.User.ContantNo = $("#ContantNo").val();
                VM.Reservation.CheckIn = $("#CheckIn").val();
                VM.Reservation.CheckOut = $("#CheckOut").val();
                VM.Reservation.Persons = $("#NumberPersons").val();
                VM.Reservation.HotelID = $("#HotelID").val();
                VM.Reservation.HotelPackageID = $("#HotelPackageID").val();
                VM.Reservation.Price = $("#Price").val();
                VM.Reservation.Location = $("#Location").val();
                VM.EasyPaisa.TransectionID = $("#TransectionID").val();
                VM.EasyPaisa.Secret = $("#Secret").val();
                VM.EasyPaisa.RecievingCNIC = $("#RecievingCNIC").val();
                VM.CreditCard.CardNumber = $("#CardNumber").val();
                VM.CreditCard.CardCode = $("#CardCode").val();
                VM.CreditCard.ExpiryDate = $("#ExpiryDate").val();
                VM.Total = $("#Price").val();
                VM.PaymentMethod = $('input[name="PaymentMethodType"]:checked').val();

                console.log(VM);
                $.ajax({
                    url:"@Url.Action("BookRoom","Booking")",
                    method: 'Post',
                    data: VM
                }).done(function (result) {
                    swal("Reservation Placed!", "We Will Contact Soon!", "success");
                    window.location.href = '@Url.Action("Index","TourManage")';
                }).fail(function (result) {
                    swal("Sorry!", "There is some issue try after some time!", "warning");
                });
            }
            //document.getElementById("regForm").submit();
            return false;
        }
        // Otherwise, display the correct tab:
        showTab(currentTab);
    }

    function validateForm() {
        // This function deals with validation of the form fields
        var x, y, i, valid = true;
        x = document.getElementsByClassName("tab");
        y = x[currentTab].getElementsByTagName("input:not(.paymentfield)");
        // A loop that checks every input field in the current tab:
        for (i = 0; i < y.length; i++) {
            // If a field is empty...
            if (y[i].value == "") {
                // add an "invalid" class to the field:
                y[i].className += " invalid";
                // and set the current valid status to false
                valid = false;
            }
        }
        // If the valid status is true, mark the step as finished and valid:
        if (valid) {
            document.getElementsByClassName("step")[currentTab].className += " finish";
        }
        return valid; // return the valid status
    }

    function fixStepIndicator(n) {
        // This function removes the "active" class of all steps...
        var i, x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++) {
            x[i].className = x[i].className.replace(" active", "");
        }
        //... and adds the "active" class on the current step:
        x[n].className += " active";
    }
</script>
