﻿@using NatureExplorer.Entities
@model NatureExplorer.Web.ViewModels.ClinetTourBookingVM
@{
    ViewBag.Title = "BookTour";
}

<div class="BookingForm">
    <form id="regForm">

        <h1>Book Now:</h1>

        <!-- One "tab" for each step in the form: -->
        <div class="tab">
            Profile Info:
            <div class="row">
                <div class="col-md-6">
                    <p hidden><input value="@Model.User.Id" name="Id" id="Id"></p>
                    <p hidden><input value="@Model.Booking.EntityType" id="EntityType" name="EntityType"></p>
                    <p hidden><input value="@Model.Booking.RecordID" id="RecordID" name="RecordID"></p>
                    <p><input placeholder="Full Name" name="FullName" id="FullName" value="@Model.User.FullName" oninput="this.className = ''"></p>
                    <p><input placeholder="Enter Email Address" name="Email" id="Email" readonly value="@Model.User.Email" oninput="this.className = ''"></p>
                </div>
                <div class="col-md-6">
                    <p><input placeholder="Enter ContactNo" name="ContantNo" id="ContantNo" value="@Model.User.ContantNo" oninput="this.className = ''"></p>
                    <p><input placeholder="Enter Address" name="Adress" id="Adress" value="@Model.User.Adress" oninput="this.className = ''"></p>
                </div>
            </div>
            <div  style="color:red">
                <ul>
                    <li class="Namevalid hidden">Name should be atleast 5 character long</li>
                    <li class="Phonevalid hidden">Provide a valid Phone Number</li>
                    <li class="Addressvalid hidden">Adress should be atleast 15 character long</li>
                </ul>
            </div>
        </div>

        <div class="tab">
            Booking Info:
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="form-control form-controlCustom" id="TourLocationSelect">
                            <option selected value="-1">Select Booking Location</option>
                            @foreach (var m in Model.Tour.TourPrices)
                            {
                                <option value="@m.ID">@m.Location</option>
                            }
                        </select>
                    </div>
                    <p hidden><input name="Location" id="Location" oninput="this.className = ''"></p>
                    <p>
                        <select class="form-control form-controlCustom" id="LocationPriceSelect">
                            <option selected value="-1">Select Pricing Package</option>
                            <option value="1">Single</option>
                            <option value="2">Couple</option>
                        </select>
                    </p>
                </div>
                <div class="col-md-6">

                    <div class="row">
                        <div class="form-group col-md-6">
                            <div><p class="h3">Number of Persons</p></div>
                            <div><p><input placeholder="Number of Persons" name="NumberPersons" id="NumberPersons" oninput="this.className = ''"></p></div>
                        </div>
                        <div class="form-group col-md-6">
                            <div><p class="h3">Total Price:</p></div>
                            <div><p><input placeholder="" name="Price" id="Price" value="0.00" readonly style="background: rgba(0,0,0,0.1);"></p></div>
                        </div>

                    </div>


                </div>
            </div>
            <div  style="color:red">
                <ul>
                    <li class="BookingPlacevalid hidden">Please Select a Booking Location</li>
                    <li class="BookingPackagevalid hidden">Please Select a Booking Package</li>
                    <li class="BookingPersonsvalid hidden">Please Enter Number of persons</li>
                </ul>
            </div>
        </div>

        <div class="tab">
            Vehicle:
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <select class="form-control form-controlCustom" id="VehicleSelect">
                            <option selected value="-1">Select Vehicle For Seat Reservation</option>
                            @foreach (var m in Model.Tour.TourBuses)
                            {
                                <option value="@m.ID">@m.Name</option>
                            }
                        </select>
                    </div>
                    <!--Seating Layout of essential js 2-->
                    <div id="SeatingMap" class="hidden">
                        <div class="container">
                            <!--Displaying Seats Map-->
                            <div style="float: left; margin-left:10%">
                                <div style="border: 3px solid darkgray;min-width:200px;display:block;border-radius:5px">
                                    <img src="//ej2.syncfusion.com/demos/src/maps/images/wheel.png" style="width:30px;height:30px;margin-top:10px; margin-left: 35px">
                                    <div id="maps"></div>
                                    <input id="TourBusID" name="TourBusID" hidden value="" />
                                </div>

                            </div>

                            <div style='float:left; width: 150px;margin-left: 10%; margin-top: 100px'>
                                <div>
                                    <table id="property" title="Seat Selection" style="width: 100%;font-weight:400 !important">
                                        <tbody>
                                            <tr style="height: 30px">
                                                <td>
                                                    <div style="height:0;width:15px; margin-left: 20px; padding-bottom:15px;background-color:gray;border-radius:25%"></div>

                                                    <div id="available" style="margin-top: -16px;margin-left: 40px">
                                                        Available
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr style="height: 30px">
                                                <td>
                                                    <div style="height:0;width:15px; margin-left: 20px; padding-bottom:15px;background-color:Green;border-radius:25%"></div>

                                                    <div id="selected" style="margin-top: -16px;margin-left:40px">
                                                        Selected
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr style="height: 30px">
                                                <td>
                                                    <div style="height:0;width:15px; margin-left: 20px; padding-bottom:15px;background-color:Orange;border-radius:25%"></div>

                                                    <div id="booked" style="margin-top: -16px;margin-left: 40px">
                                                        Booked
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    <div class="h4">Selected Seats: <span id="selectedseats"></span></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div style="color:red">
                <ul>
                    <li class="Vehiclevalid hidden">Please Select a Vehicle</li>
                </ul>
            </div>
        </div>

        <div class="tab">
            Payment Options:
            <div class="row">
                <div class="col-md-4">
                    <input type="radio" name="PaymentMethodType" value="1" /><label>By Card</label>
                </div>
                <div class="col-md-4">
                    <input type="radio" name="PaymentMethodType" value="2" />By EasyPaisa/JazzCash<label>
                    </label>
                </div>
                <div class="col-md-4">
                    <input type="radio" checked name="PaymentMethodType" value="3" /><label>By Cash</label>
                </div>
            </div>
            <div class="row PaymentContainer" style="margin: 2px;">
                <div hidden class="CreditCardForm">
                    <div class="row">

                        <div class="col-md-6 col-md-offset-3">
                            <div class="row">
                                <h3 class="text-center">Payment Details</h3>
                                <img class="img-responsive cc-img" src="http://www.prepbootstrap.com/Content/images/shared/misc/creditcardicons.png">
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label>CARD NUMBER</label>
                                    <div class="input-group">
                                        <input type="tel" class="form-control form-controlCustom paymentfield" id="CardNumber" placeholder="Valid Card Number" />
                                        <span class="input-group-addon"><span class="fa fa-credit-card"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 col-md-7">
                                    <div class="form-group">
                                        <label><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                        <input type="tel" class="form-control form-controlCustom paymentfield" id="ExpiryDate" name="ExpiryDate" placeholder="MM / YY" />
                                    </div>
                                </div>
                                <div class="col-xs-5 col-md-5 pull-right">
                                    <div class="form-group">
                                        <label>CV CODE</label>
                                        <input type="tel" class="form-control form-controlCustom paymentfield" id="CardCode" placeholder="CVC" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div hidden class="EasyPaisaForm">
                    <div>
                        Please Send your payment on of listing account:
                        <table class="table table-condensed table-borderless">
                            <thead>
                                <tr>
                                    <th>Cnic/Number</th>
                                    <th>JazzCash Availability</th>
                                    <th>EasyPaisa Availability</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var info in Model.BillingInfos)
                                {
                                <tr>
                                    <td>@info.Info</td>
                                    <td>@(info.IsJazzCash?"Yes":"No")</td>
                                    <td>@(info.IsEasyPaisa?"Yes":"No")</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-controlCustom paymentfield" placeholder="Transection ID" name="TransectionID" id="TransectionID" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-controlCustom paymentfield" placeholder="Secret/Password" name="Secret" id="Secret" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-controlCustom paymentfield" placeholder="Reciever's CNIC/Mobile Number" name="RecievingCNIC" id="RecievingCNIC" />
                    </div>
                </div>
                <div class="CashForm">
                    <div class="alert alert-info" role="alert">
                        Make Sure of Full Cash on Arrival
                    </div>
                </div>
            </div>
            <div style="color:red">
                <ul>
                    <li class="Paymentvalid hidden">Please add Authentic Payment Details</li>
                </ul>
            </div>
        </div>

        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
        </div>

        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
        </div>

    </form>
</div>
<style>
    .form-controlCustom {
        height: auto;
        padding: 10px 10px;
        font-size: larger;
        border: 1px black solid;
        transition: all ease-in 0.2s;
    }

        .form-controlCustom:focus {
            border-color: #ffdd00;
        }

    .BookingForm {
    }

    #regForm {
        background-color: #ffffff;
        margin: 10px auto;
        font-family: Raleway;
        padding: 40px;
        width: 80%;
        min-height: 70vh;
        min-width: 300px;
    }

    h1 {
        text-align: center;
    }

    input {
        padding: 10px;
        width: 100%;
        font-size: 17px;
        font-family: Raleway;
        border: 1px solid #aaaaaa;
    }

        /* Mark input boxes that gets an error on validation: */
        input.invalid {
            background-color: #ffdddd;
        }

    /* Hide all steps by default: */
    .tab {
        display: none;
    }

    input {
        transition: all ease-in 0.2s;
    }

        input:focus {
            border-color: #ffdd00;
        }

    button {
        background-color: #ffdd00;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        font-size: 17px;
        font-family: Raleway;
        cursor: pointer;
    }

        button:hover {
            opacity: 0.8;
        }

    #prevBtn {
        background-color: #bbbbbb;
    }

    /* Make circles that indicate the steps of the form: */
    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #ffdd00;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

        .step.active {
            opacity: 1;
        }

        /* Mark the steps that are finished and valid: */
        .step.finish {
            opacity: 0.5;
        }

    .container-fluid {
        border-bottom: 1px solid #D7D7D7;
        border-left: 1px solid #D7D7D7;
        border-right: 1px solid #D7D7D7;
        border-top: 1px solid #D7D7D7;
    }
    /* Essential js map  control */
    #control-container {
        padding: 0px !important;
    }

    #seat-parent {
        text-align: center;
        cursor: pointer
    }

    #selectedseats {
        padding: 10px;
    }

    #selectedseats, #seat-info {
        font-size: 14px;
    }

    #clear-btn {
        padding: 10px;
        border: 2px solid rgb(241, 235, 247);
        border-radius: 8px;
        background: rgb(246, 245, 248);
        color: black;
        font-size: 14px;
    }

    .seats {
        padding-top: 15px;
        font-weight: bold;
    }

    .hidden {
        display: none;
    }
</style>
<script src="~/Content/SeatMaps/HiAceMap.js"></script>
<script src="~/Content/SeatMaps/CoasterMap.js"></script>
<script>
    $("form").submit(function(e){
        e.preventDefault();
    });
    ////////////////// Selecting Tour Location
    $(document).ready(function () {
        //////////////////   Essential js 2 map control
        selectedSeats = [];
        var SeatingMap = {};
         //Changing Select List
        $("#VehicleSelect").change(function () {
            var VehicleName = $("#VehicleSelect option:selected").text();
            var VehicleNumber = $("#VehicleSelect option:selected").val();
            if (VehicleNumber !== "-1") {
                 if (VehicleName === "Coaster") {
                SeatingMap = CoasterSeats;
                } else if (VehicleName === "HiAce") {
                SeatingMap = HiAceSeats;
                }
                //Getting Seating Details from Ajax
                $.ajax({
                    url: "@Url.Action("GetSeats","Booking")",
                    method: 'POST',
                    dataType: "json",
                    data: { VehicleNumber: VehicleNumber }
                }).done(function (result) {
                    //Clearing Previous Selections
                    selectedSeats = [];
                    document.getElementById("selectedseats").innerText = "";
                    ///Asssinging BUS ID
                    console.log(result);
                    debugger;
                    $("#TourBusID").prop("value", VehicleNumber);
                    //////Assiging Seating Satuses
                    for (var i = 0; i < SeatingMap.features.length; i++) {
                        if(result.Data[i].Status==="Available")
                            SeatingMap.features[i].properties.fill = "grey";
                        else if (result.Data[i].Status === "Booked")
                            SeatingMap.features[i].properties.fill = "Orange";
                    }

                    ////Displaying The Map After Populating Data
                    //Creating Map
                var map = new ej.maps.Maps(
                         {
                             height: '400',
                             width: '200',
                             zoomSettings: {
                             enable: false
                                },
                             layers: [
                                {
                             geometryType: 'Normal',
                             shapeData: SeatingMap,
                             shapeSettings: {
                             colorValuePath: 'fill'
                                 },
                             selectionSettings: {
                             enable: true,
                             enableMultiSelect: true
                                 },
                             tooltipSettings: {
                             visible: true,
                             valuePath: 'seatNo'
                                  }
                                }
                                    ],
                        itemSelection: (item) => {
                           
                                if (item.shapeData.fill == 'Orange') {
                                item.fill = 'Orange';
                                 document.getElementById(item.target).setAttribute('class', 'ShapeselectionMapStyle');
                                 return;
                                }
                                if (item.shapeData.fill == "green") {
                                 index = selectedSeats.indexOf(item.shapeData.seatNo);
                                 if (index !== -1) selectedSeats.splice(index, 1);
                                 item.shapeData.fill = "grey";
                                 item.fill = "grey";
                                    document.getElementById("selectedseats").innerText = selectedSeats.toString();
                                    document.getElementById(item.target).setAttribute('class', 'ShapeselectionMapStyle');
                                return;
                            }
                            var Persons = parseInt($("#NumberPersons").val());
                            if (selectedSeats.length >= Persons) {
                                swal("error", "You Can Only Select " + Persons + " Seats.");
                                return;
                            }
                                     item.fill = "green";
                                     item.shapeData.fill = "green";
                                     console.log(item);
                                     let connector = ' ';
                                     seatNo = item.shapeData.seatNo;
                                     selectedSeats.push(seatNo);
                                     console.log(selectedSeats);
                                     document.getElementById("selectedseats").innerText = selectedSeats.toString();

                                    }
                    });
                    $("#maps").html("");
                    map.appendTo("#maps");
                /////Displaying Map Container
                ($("#SeatingMap").hasClass("hidden")) ? $("#SeatingMap").removeClass("hidden"):true;
                }).fail(function (result) {
                    swal("Sorry!", "There is some issue try after some time!", "warning");
                });

                
            }

        });


        ///////////////////////
        $("#TourLocationSelect").change(function () {
            ////Assigning Location Field
            var PickUpLocation = $("#TourLocationSelect option:selected").text();
            $("#Location").val(PickUpLocation);
            var Prices = JSON.parse('@Html.Raw(Json.Encode(@Model.Tour.TourPrices.ToList()))');
            var SelectedLocationPrices;
            $.each(Prices, function (index,item) {
                if (item.Location === PickUpLocation)
                    SelectedLocationPrices = item;
            });
            console.log(Prices)
            console.log(PickUpLocation)
            console.log(SelectedLocationPrices)
            ////////////////Refreshing Second List....
            var $select = $('#LocationPriceSelect');
            $select.empty();
            $select.append("<option selected value='-1'>Select Pricing Package</option>");
            $select.append("<option  value='" + SelectedLocationPrices.SinglePrice + "'>Single Price</option>");
            $select.append("<option  value='" + SelectedLocationPrices.CouplePrice + "'>Couple Price</option>");
        });
        $("#LocationPriceSelect").change(function () {
            debugger;
            var PricePackageText = $("#LocationPriceSelect option:selected").text();
            var PricePackageValue = $("#LocationPriceSelect option:selected").attr("value");
            if (PricePackageText === "Couple Price") {

            var PricePackageValue = parseFloat($("#LocationPriceSelect option:selected").attr("value"));
            var Price = $("#Price");
                Price.attr("value", PricePackageValue);
                $("#NumberPersons").val("2");
                $("#NumberPersons").attr("readonly", true);

            } else if (PricePackageText === "Single Price") {
                var persons = $("#Persons").attr("value");
                $("#NumberPersons").attr("readonly", false);
            }
        });

        $("#NumberPersons").keyup(function () {
            debugger;
            if ($("#TourLocationSelect option:selected").attr("value") != "-1" && $("#LocationPriceSelect option:selected").attr("value") != "-1" ) {
                var persons = parseFloat($("#NumberPersons").val());
                console.log($("#TourLocationSelect").val());
                var PricePackageValue = parseInt($("#LocationPriceSelect option:selected").attr("value"));
                var Price = $("#Price");
                Price.attr("value", (PricePackageValue * persons));
            } else if ($("#TourLocationSelect option:selected").attr("value") === "-1") {
                $("#NumberPersons").val("");
                swal("error", "Please Select tour Location");

            } else if ($("#LocationPriceSelect option:selected").attr("value") === "-1") {
                $("#NumberPersons").val("");
                swal("error", "Please Select tour Pricing Package");
            }

        });
        ///////////Changing Payment Method...
        $('input[type="radio"]').click(function () {
            var value = $(this).attr("value");
            console.log(value);
            switch (value) {
                case '1':
                    {
                        $(".CreditCardForm").show();
                        $(".EasyPaisaForm").hide();
                        $(".CashForm").hide();
                    }
                    break;
                case '2':
                    {
                        $(".CreditCardForm").hide();
                        $(".EasyPaisaForm").show();
                        $(".CashForm").hide();
                    }
                    break;
                case '3':
                    {
                        $(".CreditCardForm").hide();
                        $(".EasyPaisaForm").hide();
                        $(".CashForm").show();
                    }
            };
        });
    });
    ///////////////////
    var ContactIsValid = true;
    var BookingIsValid = true;
    var SeatReservationIsValid = true;
    var PaymentIsValid = true;
    /////
    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab

    function showTab(n) {
        // This function will display the specified tab of the form...
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        //... and fix the Previous/Next buttons:
        if (n == 0) {
            document.getElementById("prevBtn").style.display = "none";
        } else {
            document.getElementById("prevBtn").style.display = "inline";
        }
        if (n == (x.length - 1)) {
            document.getElementById("nextBtn").innerHTML = "Submit";
            $("#nextBtn").attr('id', 'SubmitBTN');
        } else {
            document.getElementById("nextBtn").innerHTML = "Next";
        }
        //... and run a function that will display the correct step indicator:
        fixStepIndicator(n)
    }

    function nextPrev(n) {
        // This function will figure out which tab to display
        var x = document.getElementsByClassName("tab");
        // Exit the function if any field in the current tab is invalid:
        if (n == 1 && !validateForm()) return false;
        ////Validation Applying////
        ///////////////////////////
        switch (n + currentTab) {
            case 1: {
                var NameValid = true;
                var PhoneValid = true;
                var AddressValid = true;
                ///////
                if ($("#FullName").val().length <= 5 || $("#FullName").val() === "") {
                    $(".Namevalid").removeClass("hidden");
                    NameValid = false;
                }
                else {
                    $(".Namevalid").addClass("hidden");
                    NameValid = true;
                }
                ///
                if ($("#ContantNo").val().length <= 10) {
                    $(".Phonevalid").removeClass("hidden");
                    PhoneValid = false;
                }
                else {
                    $(".Phonevalid").addClass("hidden");
                    PhoneValid = true;
                }
                ///
                if ($("#Adress").val().length <= 15) {
                    $(".Addressvalid").removeClass("hidden");
                    AddressValid = false;
                }
                else {
                    $(".Addressvalid").addClass("hidden");
                    AddressValid = true;
                }

                if (NameValid && PhoneValid && AddressValid)
                    ContactIsValid = true;
                else
                    ContactIsValid = false;
                ///Check Contacts Are Valid:
                if (!ContactIsValid)
                    return false;
            }
                break;
            case 2: {
                var BookingPlaceValid = true;
                var PackageValid = true;
                var Personsvalid = true;

                if ($("#TourLocationSelect").val() === "-1") {
                    BookingPlaceValid = false;
                    $(".BookingPlacevalid").removeClass("hidden");
                }
                else {
                    BookingPlaceValid = true;
                    $(".BookingPlacevalid").addClass("hidden");
                }

                if ($("#LocationPriceSelect").val() === "-1") {
                    PackageValid = false;
                    $(".BookingPackagevalid").removeClass("hidden");
                }
                else {
                    PackageValid = true;
                    $(".BookingPakagevalid").addClass("hidden");
                }

                if ($("#NumberPersons").val() === "0" || $("#NumberPersons").val() === "") {
                    Personsvalid = false;
                    $(".BookingPersonsvalid").removeClass("hidden");
                }
                else {
                    Personsvalid = true;
                    $(".BookingPersonsvalid").addClass("hidden");
                }
                ///
                if (BookingPlaceValid && PackageValid && Personsvalid)
                    BookingIsValid = true;
                else
                    BookingIsValid = false;
                ///Check Contacts Are Valid:
                if (!BookingIsValid)
                    return false;
            }
                break;
            case 3: {
                //Validate Seat Reservations....
                ///$("#NumberPersons").val("2");
                if ($("#VehicleSelect").val() === "-1") {
                    SeatReservationIsValid = false;
                    $(".Vehiclevalid").removeClass("hidden");
                }
                else {
                    SeatReservationIsValid = true;
                    $(".Vehiclevalid").addClass("hidden");
                }

                if (!SeatReservationIsValid)
                    return false;
            }
                break;
            case 4: {
                debugger;
                var value = $('input[type="radio"]:checked').val();
                //switch (value) {
                //    case "1": {
                //         $(".Paymentvalid").removeClass("hidden");
                //        return false;
                //    }
                //        break;
                //    case "2": {
                //         $(".Paymentvalid").removeClass("hidden");
                //        return false;
                //    }
                //        break;
                //}
            }
        }
        //////////////////////////
        // Hide the current tab:
        x[currentTab].style.display = "none";
        // Increase or decrease the current tab by 1:
        currentTab = currentTab + n;
        // if you have reached the end of the form...
        if (currentTab >= x.length) {
            // ... the form gets submitted:
            {
                var VM = {
                    User: {
                        Id: "",
                        Email: "",
                        Adress: "",
                        ContantNo: ""
                    },
                    Booking: {
                        EntityType: "",
                        RecordID: "",
                        Persons: "",
                        Price: "",
                        Location: ""
                    },
                    EasyPaisa: {
                        TransectionID: "",
                        Secret: "",
                        RecievingCNIC:""
                    },
                    CreditCard: {
                        CardNumber: "",
                        CardCode: "",
                        ExpiryDate:""
                    },
                    TourBusID: "",
                    BusSeats:[],
                    Total: "",
                    PaymentMethod:""
                };
                debugger;
                VM.TourBusID = $("#TourBusID").val();
                VM.BusSeats = selectedSeats;
                VM.User.Id = $("#Id").val();
                VM.User.Email = $("#Email").val();
                VM.User.Adress = $("#Adress").val();
                VM.User.ContantNo = $("#ContantNo").val();
                VM.Booking.EntityType = $("#EntityType").val();
                VM.Booking.RecordID = $("#RecordID").val();
                VM.Booking.Persons = $("#NumberPersons").val();
                VM.Booking.Price = $("#Price").val();
                VM.Booking.Location = $("#Location").val();
                VM.EasyPaisa.TransectionID = $("#TransectionID").val();
                VM.EasyPaisa.Secret = $("#Secret").val();
                VM.EasyPaisa.RecievingCNIC = $("#RecievingCNIC").val();
                VM.CreditCard.CardNumber = $("#CardNumber").val();
                VM.CreditCard.CardCode = $("#CardCode").val();
                VM.CreditCard.ExpiryDate = $("#ExpiryDate").val();
                VM.Total = $("#Price").val();
                VM.PaymentMethod = $('input[name="PaymentMethodType"]:checked').val();
                $.ajax({
                    url:"@Url.Action("BookTour","Booking")",
                    method: 'POST',
                    data: VM
                }).done(function (result) {
                    swal("Booking Placed!", "We Will Contact Soon!", "success");
                    window.location.href = '@Url.Action("Index","TourManage")';
                }).fail(function (result) {
                    swal("Sorry!", "There is some issue try after some time!", "warning");
                     window.location.href = '@Url.Action("Index","TourManage")';
                });
            }
            //document.getElementById("regForm").submit();
            return false;
        }
        // Otherwise, display the correct tab:
        showTab(currentTab);
    }

    function validateForm() {
        // This function deals with validation of the form fields
        //var x, y, i, 
        valid = true;
        //x = document.getElementsByClassName("tab");
        //y = x[currentTab].getElementsByTagName("input:not(.paymentfield)");
        //// A loop that checks every input field in the current tab:
        //for (i = 0; i < y.length; i++) {
        //    // If a field is empty...
        //    if (y[i].value == "") {
        //        // add an "invalid" class to the field:
        //        y[i].className += " invalid";
        //        // and set the current valid status to false
        //        valid = false;
        //    }
        //}
        //// If the valid status is true, mark the step as finished and valid:
        //if (valid) {
        //    document.getElementsByClassName("step")[currentTab].className += " finish";
        //}
        return valid; // return the valid status
    }

    function fixStepIndicator(n) {
        // This function removes the "active" class of all steps...
        var i, x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++) {
            x[i].className = x[i].className.replace(" active", "");
        }
        //... and adds the "active" class on the current step:
        x[n].className += " active";
    }
</script>
