﻿@*@model BidMee.Web.ViewModels.createAuctionVM*@
@using NatureExplorer.Entities
@using NatureExplorer.Web.Areas.Admin.ViewModels
@model NatureExplorer.Web.Areas.Admin.ViewModels.HotelVMS.ADDHotelVM
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add Hotel</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="addForm">

        <div class="form-group">
            <input type="text" class="form-control custom" id="Name" name="Name" placeholder="Enter Hotel Name" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control custom" id="Address" name="Address" placeholder="Enter Address" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control custom" id="Email" name="Email" placeholder="Enter Email Address" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control custom" id="Contact" name="Contact" placeholder="Enter ContactNo." />
        </div>

        <div class="form-group">
            <input type="text" class="form-control custom" id="Description" name="Description" placeholder="Enter Desciption" />
        </div>
        <div class="form-group">
            @if (Model.facilities != null)
            {
                <select class="custom-select FacilitySelect">
                    <option value="" selected>Select Facility to Add</option>
                    @foreach (var f in Model.facilities)

                    {
                        <option value="@f.ID">@f.Name</option>
                    }
                </select>
            }
            else
            {
                <label>Please Add Facilities Before Adding To Hotel</label>
            }

        </div>
        <div class="FacilitySection">

        </div>
        <div class="form-group">
            <input type="file" id="hotelPictureUpload" />
            <input type="text" name="PicIDs" id="PicIDs" hidden />
        </div>

        <div id="picturesSection">
            <img />
        </div>

    </form>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="saveHotelbtn">Save</button>
</div>

<script>
    ///////////////////////////////////////////////////
    $(document).ready(function () {
        ////Facilities Section
        $(".FacilitySelect").change(function () {
            var value = $(".FacilitySelect option:Selected").val();
            var text = $(".FacilitySelect option:Selected").html();
            var flagAdded = false;
            $(".FacilitySection span").each(function () {
                if ($(this).attr("data-id") == value)
                    flagAdded=true;
            });
            if (!flagAdded && value!="") {
            var $Container = "<span data-id='" + value + "' class='rm-Facility bg-info facility-holder'>" +text + "<i class='text-danger fas fa-times-circle'></i></span>"
            $(".FacilitySection").append($Container);
            }
        });
        $(document).on('click', '.rm-Facility', function () {
            var $object = $(this);
            $object.remove();
        });
    });
    //////////////////////////////////////////////
    ////FileUplaod..
    //var picIDs = [];
    var Hotelpictures = {
        picIDs: [],
        picUrls: []
    };
    $(document).ready(function () {

        $("#hotelPictureUpload").change(function () {
            var formdata = new FormData();
            var pictures = this.files;
            for (var i = 0; i < pictures.length; i++) {
                formdata.append("Picture", pictures[i]);
            }
            $.ajax({
                url: "/Shared/AddPictures",
                type: "Post",
                data: formdata,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (response) {

                    for (var i = 0; i < response.length; i++) {
                        Hotelpictures.picIDs.push(response[i].ID);
                        Hotelpictures.picUrls.push(response[i].URL);
                    }
                    ShowPics(Hotelpictures);
                }

            });
        });
        /// Show All pics
        function ShowPics(Hotelpictures) {
            var picture = "";
            $("#picturesSection").html("");
            for (var i = 0; i < Hotelpictures.picIDs.length; i++) {
                picture += "<img width='200px' height='140px' class='img-fluid upload' src='/Content/Images/" + Hotelpictures.picUrls[i] + "' data-id='" + Hotelpictures.picIDs[i] + "' /> ";
                $("#picturesSection").html(picture);
            }
            $("#PicIDs").val(Hotelpictures.picIDs.join(","));
        }
        //Remove Pic
         ////
        $(document).on('click', '.upload', function (content) {
            var rpicURl = "";
            var $img = $(this);
            var value = $img.attr('data-id');
            for (var i = 0; i < Hotelpictures.picIDs.length; i++){
                if ( Hotelpictures.picIDs[i].toString() === value) {
                    Hotelpictures.picIDs.splice(i, 1);
                    rpicURl=Hotelpictures.picUrls[i];
                    }
            }
            $.ajax({
                url: "/Shared/DeletePicture",
                method: "POST",
                data: { name: rpicURl },
                success: function (response) {
                }
            });
             $img.remove();
            $("#PicIDs").val(Hotelpictures.picIDs.join(","));
        });
        ///
    });
    ////Posting Form
    $("#saveHotelbtn").click(function () {
        var Hotel = {
            Name: "",
            Email: "",
            Address: "",
            Description: "",
            Contact: "",
            HotelFacilities:[]
        }
        //Getting All Info
        Hotel.Name = $("#Name").val();
        Hotel.Email = $("#Email").val();
        Hotel.Description = $("#Description").val();
        Hotel.Contact = $("#Contact").val();
        Hotel.Address = $("#Address").val();
        //Getting Hotel Facilities Details
        $(".FacilitySection span").each(function () {
            var Facility = {
                FacilityID: $(this).attr("data-id"),
            };
            Hotel.HotelFacilities.push(Facility)
        });

        if ($("#addForm").valid()) {
            if ($("#PicIDs").val() != "") {
                ////////////////////////// Saving Hotel
         $('.bd-example-modal-xl').modal('hide');
        $.ajax({
            url: '@Url.Action("AddHotel", "Hotel")',
            type: "Post",
            data: {
                Hotel: Hotel, PicIDs: $("#PicIDs").val()
            },
            success: function (response) {
                $("#HotelTable").html(response);
                $(".content-body-modal").html('');
            }
        });
            /////////////////End:Saving Hotel
            } else {
                toastr.warning("Please Add Picture");
            }
        } else {
            toastr.warning("Form is Invalid");
        }
        
    });
      $(document).ready(function () {
         /////////////// Validation of Form.....
    //////////////
        $("#addForm").validate({
            rules: {
                Name: {
                    required: true,
                    minlength: 5,
                    maxlength: 25
                },
                Address: {
                    required: true,
                    minlength: 10,
                    maxlength: 60
                },
                Email: {
                    required: true,
                    email: true
                },
                Contact: {
                    required: true
                },
                Description: {
                    required: true,
                    minlength: 30
                }
            },
            messages: {
                Name: {
                    required: "Hotel Name is Required",
                    minlength: "Please enter atleast 5 characters",
                    maxlength:"Hotel name should not exceed 25 characters"
                },
                Address: {
                    required: "Address is required",
                    minlength: "Please enter atleast 10 characters",
                    maxlength:"maximum of 60 characters are allowed"
                },
                Email: {
                    required: "Email is Required",
                    email:"Please enter a valid email"
                },
                Contact: {
                    required:"Contact Number is Required"
                },
                Descrption: {
                    required:"Discription is required",
                    minlength:"Please enter atleast 30 characters"
                }
            }
        } 
        );
        /////////////////////////////End of Validation
        

    })
</script>
<style>
    .FacilitySection {
        margin: 10px;
    }

    .facility-holder {
        margin: 4px;
        border-radius: 4px;
        padding: 4px;
    }

    .custom-card {
        border: none;
        border-radius: 0px;
    }

    .custom {
        max-width: unset;
    }

    label {
        margin: 0px;
    }

    textarea {
        width: 100%;
    }

    .hidden {
        display: none;
    }
    label.error{
        color:red;
    }
</style>

