﻿@using NatureExplorer.Entities
@model NatureExplorer.Web.Areas.Admin.ViewModels.HotelVMS.EditHotelVM
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Edit Hotel</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="editForm">
        <input type="hidden" readonly id="ID" name="ID" value="@Model.Hotel.ID" />
        <div class="form-group">
            <input type="text" class="form-control custom" id="Name" name="Name" value="@Model.Hotel.Name" placeholder="Enter Name" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control custom" id="Address" name="Address" value="@Model.Hotel.Address" placeholder="Enter Address" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control custom" id="Email" name="Email" value="@Model.Hotel.Email" placeholder="Enter Email Address" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control custom" id="Contact" name="Contact" value="@Model.Hotel.Contact" placeholder="Enter ContactNo." />
        </div>

        <div class="form-group">
            <input type="text" class="form-control custom" id="Description" name="Description" value="@Model.Hotel.Description" placeholder="Enter Desciption" />
        </div>
        <div class="form-group">
            @if (Model.facilities != null)
            {
                <select class="custom-select FacilitySelect">
                    <option value="" selected>Select Facility to Add</option>
                    @foreach (var f in Model.facilities)

                    {
                        <option value="@f.ID">@f.Name</option>
                    }
                </select>
            }
            else
            {
                <label>Please Add Facilities Before Adding To Hotel</label>
            }
        </div>
        <div class="FacilitySection">
            @foreach (var facility in Model.Hotel.HotelFacilities)
            {
                <span data-id="@facility.Facility.ID" class='rm-Facility bg-info facility-holder'>
                    @facility.Facility.Name
                    <i class='text-danger fas fa-times-circle'></i>
                </span>
            }
        </div>
        <div class="form-group">
            <input type="file" multiple id="HotelPictureUpload" />
            <input type="text" name="PicIDs" id="PicIDs" hidden />

        </div>
        <div id="picturesSection">
            @if (Model.Hotel.Picture != null)
            {
                
                    <img width="160px" height="160px" class='img-fluid upload' src="/Content/Images/@Model.Hotel.Picture.URL" data-src="@Model.Hotel.Picture.URL" data-id="@Model.Hotel.Picture.ID" />
            }
        </div>
    </form>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="saveHotelbtn">Save</button>
</div>
<script>
    $(document).ready(function () {
        ////Facilities Section
        $(".FacilitySelect").change(function () {
            var value = $(".FacilitySelect option:Selected").val();
            var text = $(".FacilitySelect option:Selected").html();
            var flagAdded = false;
            $(".FacilitySection span").each(function () {
                if ($(this).attr("data-id") == value)
                    flagAdded=true;
            });
            if (!flagAdded && value!="") {
            var $Container = "<span data-id='" + value + "' class='rm-Facility bg-info facility-holder'>" +text + "<i class='text-danger fas fa-times-circle'></i></span>"
            $(".FacilitySection").append($Container);
            }
        });
        $(document).on('click', '.rm-Facility', function () {
            var $object = $(this);
            $object.remove();
        });
     ////FileUplaod..
    //var picIDs = [];
    var Hotelpictures = {
        picIDs: [],
        picUrls: []
        };
        //Adding ExistingPics
        $(".upload").each(function () {
            var $image = this;
            Hotelpictures.picUrls.push($($image).attr("data-src"));
            Hotelpictures.picIDs.push($($image).attr("data-id"));
        });
        $("#PicIDs").val(Hotelpictures.picIDs.join(","));
        //AFTER Change in PicturesPlaceHolder
        $("#HotelPictureUpload").change(function () {

            var formdata = new FormData();
            var pictures = this.files;
            for (var i = 0; i < pictures.length; i++) {
                formdata.append("Picture", pictures[i]);
            }
            $.ajax({
                url: "/Shared/AddPictures",
                type: "Post",
                data: formdata,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (response) {

                    for (var i = 0; i < response.length; i++) {
                        Hotelpictures.picIDs[0]=response[i].ID;
                        Hotelpictures.picUrls[0]=response[i].URL;
                    }
                    $(".upload").each(function () {
                        var $image = this;
                        $image.remove();
                    });
                    ShowPics(Hotelpictures);
                }

            });
        });
            /// Show All pics
            function ShowPics(Hotelpictures) {
            var picture = "";
            $("#picturesSection").html("");
            for (var i = 0; i < Hotelpictures.picIDs.length; i++) {
                picture += "<img width='200px' height='140px' class='img-fluid upload' src='/Content/Images/" + Hotelpictures.picUrls[i] + "' data-id='" + Hotelpictures.picIDs[i] + "' /> ";
                $("#picturesSection").html(picture);
            }
            $("#PicIDs").val(Hotelpictures.picIDs.join(","));
        }
        ////
        //Remove Pic
         ////
        $(document).on('click', '.upload', function (content) {
            var rpicURl = "";
            var $img = $(this);
            var value = $img.attr('data-id');
            for (var i = 0; i < Hotelpictures.picIDs.length; i++){
                if ( Hotelpictures.picIDs[i].toString() === value) {
                    Hotelpictures.picIDs.splice(i, 1);
                    rpicURl=Hotelpictures.picUrls[i];
                    }
            }
            $.ajax({
                url: "/Shared/DeletePicture",
                method: "POST",
                data: { name: rpicURl },
                success: function (response) {

                }
            });
             $img.remove();
            $("#PicIDs").val(Hotelpictures.picIDs.join(","));
        });

        });

    $(document).ready(function () {
        //Post
        $("#saveHotelbtn").click(function () {
            var Hotel = {
            ID:"",
            Name: "",
            Email: "",
            Address: "",
            Description: "",
            Contact: "",
            HotelFacilities:[]
        }
       //Getting All Info
        Hotel.ID = $("#ID").val();
        Hotel.Name = $("#Name").val();
        Hotel.Email = $("#Email").val();
        Hotel.Description = $("#Description").val();
        Hotel.Contact = $("#Contact").val();
        Hotel.Address = $("#Address").val();
            //Getting Hotel Facilities Details
        $(".FacilitySection span").each(function () {
            var Facility = {
                FacilityID: $(this).attr("data-id"),
            };
            Hotel.HotelFacilities.push(Facility)
        });

            if ($("#editForm").valid()) {
            if ($("#PicIDs").val() != "") {
                ////////////////////////// Saving Hotel
            $('.bd-example-modal-xl').modal('hide');
            //Sending Ajax
            $.ajax({
                url: '@Url.Action("EditHotel", "Hotel")',
                type: "Post",
                data: {
                Hotel: Hotel, PicIDs: $("#PicIDs").val()
                        },
                success: function (response) {
                    $('.bd-example-modal-xl').modal('hide');
                    $("#HotelTable").html(response);
                }
            });
            /////////////////End:Saving Hotel
            } else {
                toastr.warning("Please Add Picture");
            }
        } else {
            toastr.warning("Form is Invalid");
        }

        });
    });

    $(document).ready(function () {
        /////////////// Validation of Form.....
        //////////////
        $("#editForm").validate({
            rules: {
                Name: {
                    required: true,
                    minlength: 5,
                    maxlength: 25
                },
                Address: {
                    required: true,
                    minlength: 10,
                    maxlength: 60
                },
                Email: {
                    required: true,
                    email: true
                },
                Contact: {
                    required: true
                },
                Description: {
                    required: true,
                    minlength: 30
                }
            },
            messages: {
                Name: {
                    required: "Hotel Name is Required",
                    minlength: "Please enter atleast 5 characters",
                    maxlength: "Hotel name should not exceed 25 characters"
                },
                Address: {
                    required: "Address is required",
                    minlength: "Please enter atleast 10 characters",
                    maxlength: "maximum of 60 characters are allowed"
                },
                Email: {
                    required: "Email is Required",
                    email: "Please enter a valid email"
                },
                Contact: {
                    required: "Contact Number is Required"
                },
                Descrption: {
                    required: "Discription is required",
                    minlength: "Please enter atleast 30 characters"
                }
            }
        });
        /////////////////////////////End of Validation
    });

</script>
<style>
    .FacilitySection {
        margin: 10px;
    }

    .facility-holder {
        margin: 4px;
        border-radius: 4px;
        padding: 4px;
    }

    .custom-card {
        border: none;
        border-radius: 0px;
    }

    .custom {
        max-width: unset;
    }

    label {
        margin: 0px;
    }

    textarea {
        width: 100%;
    }
    label.error{
        color:red;    }
</style>


