﻿@model NatureExplorer.Entities.Facility
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Edit Facility</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="editForm">
        <input type="hidden" readonly name="ID" value="@Model.ID" />
        <div class="form-group">
            <input type="text" class="form-control custom" name="Name" value="@Model.Name" placeholder="Enter Facility" />
        </div>
    </form>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="saveFacilitybtn">Save</button>
</div>
<script>$(document).ready(function () {
        //Post
        $("#saveFacilitybtn").click(function () {
            $('#exampleModal').modal('hide');
            $.ajax({
                url: '@Url.Action("EditFacility","Facility")',
                type: "Post",
                data: $("#editForm").serialize(),
                success: function (response) {
                    $('#exampleModal').modal('hide');
                    $("#FacilityTable").html(response);
                }
            });
        });
    });</script>
<style>

    .custom {
        max-width: unset;
    }

    label {
        margin: 0px;
    }

    textarea {
        width: 100%;
    }
</style>


