﻿@using NatureExplorer.Entities
@model IList<NatureExplorer.Entities.Facility>
<div>
    <h2 style="margin:auto">
        Tour/Hotel Facilities
    </h2>
    <hr />
</div>
<div class="">
    <div class="box">
        <div class="form-group search-box">
            <div class="input-group">
                <div class="input-group-append">
                    <button id="addFacilitybtn" class="btn btn-primary" data-target="#exampleModal"><i class="fas fa-plus"></i>Add Facility</button>
                </div>
            </div>
        </div>
    </div>


    @if (Model != null)
    {
        <table class="table table-light table-striped table-condensed">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cat in Model)
                {
                    <tr>
                        <td>@cat.ID</td>
                        <td>@cat.Name</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button class="btn btn-primary editFacilitybtn" data-ID="@cat.ID">Edit</button>
                                <button class="btn btn-danger deleteFacilitybtn" data-ID="@cat.ID">Delete</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- Pager -->
    }
</div>

<script>//Modal Add Button Functionality
    $(document).ready(function () {
        //Get
        $("#addFacilitybtn").click(function () {
            $.ajax({
                url: '@Url.Action("AddFacility","Facility")',
                type: "Get",
                success: function (response) {
                    $('#exampleModal').modal('toggle')
                    $(".content-body-modal").html(response);
                }
            });
        });
    });
    ////Edit Through Modal
    ///////Edit
    $(document).ready(function () {
        $(".editFacilitybtn").click(function () {
            $.ajax({
                url: '@Url.Action("EditFacility","Facility")',
                type: "Get",
                data: { ID: $(this).attr("data-ID") },
                success: function (response) {
                    $('#exampleModal').modal('toggle')
                    $(".content-body-modal").html(response);
                }
            });
        });
    });


    ///////Delete
    $(document).ready(function () {
        $(".deleteFacilitybtn").click(function () {
            $.ajax({
                url: '@Url.Action("DeleteFacility","Facility")',
                type: "Post",
                data: { ID: $(this).attr("data-ID") },
                success: function (response) {
                    $("#FacilityTable").html(response);
                }
            });
        });
    });</script>
<style>

    .form-control {
        display: inline;
    }

    .search {
        width: auto;
    }

    .box {
        position: relative;
        height: 50px;
    }

    .search-box {
        position: absolute;
        right: 20px;
    }
</style>

