﻿@model NatureExplorer.Web.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Use another service to log in.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        var classes = (p.AuthenticationType == "Facebook") ? "FacebookButton" :(p.AuthenticationType == "Google") ?"GmailButton":"";
                        <button type="submit" class="@classes" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">SignIn with @p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}<style>
    
    
        .FacebookButton {
            background-color: #79bac1;
            color: white;
            border: none;
            transition: all 0.2s ease-in;
        }

        .FacebookButton:hover {
            background-color: #2a7886;
        }

        .GmailButton {
            background-color: #eb9788;
            color: white;
            border: none;
            transition: all 0.2s ease-in;
        }

        .GmailButton:hover {
            background-color: #f67280;
        }
</style>
