﻿@using NatureExplorer.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="LoginContainer">
    <div class="row">
        <div class="Login" style="margin: auto;">
            <div class="LoginContainer">
                <div class="LoginTitle">
                    <h1>SignIn</h1>
                </div>
                <div class="LoginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div>
                            <input type="text" name="Email" id="Email"  placeholder="Email Address">
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <input type="text" name="Password" id="Password"  placeholder="Password">
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                        <button type="submit" class="LoginButton">
                            Sign In
                        </button>
                        <dv class="ValidationSummary">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </dv>
                    }
                </div>
                <div class="socialLabel">
                    <label>or @Html.ActionLink("Register", "Register") as new User</label>
                </div>
                <div>
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </div>
                <div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
        .LoginContainer {
            padding:20px;
            box-sizing: border-box;
            background-color: #ededed;
            overflow: hidden;
            margin-top: 30px;
            padding: 0px;
        }

        .Login {
            padding: 5%;
            width: 40%;
            margin: auto;
            background: white;
            border-bottom: 2px #27496d solid;

        }

        .LoginContainer {
            width: 90%;
            margin: auto;
            background-color:white;
        }

        .LoginTitle {
            font-weight: 500;
            background-color:white;
        }

        form div {
            width: 100%;
          
        }

        input {
            border: none;
            width: 100%;
            padding: 5px;
            border-bottom: 3px #6a8caf solid;
            transition: all 0.2 ease-in;

        }

        input:hover {
            border-color: #5b8c85;
        }

        input:focus {

            outline: none;
        }

        input:active {

            outline: none;
        }

        .socialLabel {
            text-align: center;
            align-items: center;
            margin: 10px;
        }

        .LoginButton,
        .FacebookButton,
        .GmailButton {
            width: 100%;
            padding: 13px;
            margin: 5px;
            font-size: 1.1em;
            font-weight: 500;
            font-size: 20px;
        }

        .LoginButton {
            background-color: #fddb3a;
            color: white;
            border: none;
            transition: all 0.2s ease-in;
        }

        .LoginButton:hover {
            background-color: #feb72b;
        }

        .FacebookButton {
            background-color: #79bac1;
            color: white;
            border: none;
            transition: all 0.2s ease-in;
        }

        .FacebookButton:hover {
            background-color: #2a7886;
        }

        .GmailButton {
            background-color: #eb9788;
            color: white;
            border: none;
            transition: all 0.2s ease-in;
        }

        .GmailButton:hover {
            background-color: #f67280;
        }


        @@media screen and (min-width: 800px) and (max-width: 900px) {
            .Login {
                margin-top: 30px;
                height: 100%;
                padding: 5%;
                width: 65%;
                margin: auto;
                background: white;
            }
        }

        @@media screen and (min-width: 480px) and (max-width: 800px) {
            .Login {

                padding: 5%;
                width: 80%;
                margin: auto;
                background: white;
            }
        }

        @@media screen and (min-width: 0px) and (max-width: 480px) {
            .Login {

                padding: 5%;
                width: 95%;
                margin: auto;
                background: white;
            }
        }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}