﻿@model NatureExplorer.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

    <div class="RegisterContainer">
        <div class="row">
            <div class="SignUp" style="margin: auto;">
                <div class="SignUpContainer">
                    <div class="SignUpTitle">
                        <h1>SignUp</h1>
                    </div>

                    <div class="SignUpForm">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div>
                                <input type="text" name="Email" id="Email" placeholder="Email Address">
                                <label></label>
                            </div>
                            <div>
                                <input type="text" name="FullName" id="FullName" placeholder="Full Name">
                                <label></label>
                            </div>
                            <div>
                                <input type="text" name="Adress" id="Adress" placeholder="Address">
                                <label></label>
                            </div>
                            <div>
                                <input type="text" name="ContactNo" id="ContactNo" placeholder="Phone Number: Please use format i.e +92340.......">
                                <label></label>
                            </div>
                            <div>
                                <input type="password" name="Password" id="Password" placeholder="Password">
                                <label></label>
                            </div>
                            <div>
                                <input type="password" name="ConfirmPassword" id="ConfirmPassword"
                                       placeholder="Confirm Password">
                                <label></label>
                            </div>
                            <div>
                                <input type="text" name="PictureID" hidden>
                                <label></label>
                            </div>
                            <button class="SignUpButton">
                                Sign Up
                            </button>
                            <div class="ValidationSamary">
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                            </div>
                        }
                    </div>
                        <div class="socialLabel">
                            <label>or you can <a href="#">SignIn</a> </label>
                        </div>

                    </div>

                </div>
            </div>
      
                    </div>




<style>
    .RegisterContainer{
         
            box-sizing: border-box;
            background-color: #ededed;
            overflow: hidden;
            margin-top: 10px;
            padding: 20px;
    }
    .SignUp {
            padding: 5%;
            width: 40%;
            margin: auto;
            background: white;
            border-bottom: 2px #27496d solid;

        }

        .SignUpContainer {
            width: 90%;
            margin: auto;
        }

        .SignUpTitle {
            font-weight: 500;
        }

        form div {
            width: 100%;

        }

        input {
            border: none;
            width: 100%;
            padding: 5px;
            border-bottom: 2px #6a8caf solid;
            transition: all 0.2 ease-in;

        }

        input:hover {
            border-color: #5b8c85;
        }

        input:focus {

            outline: none;
        }

        input:active {

            outline: none;
        }

        .socialLabel {
            text-align: center;
            align-items: center;
            margin: 10px;
        }

        .SignUpButton,
        .FacebookButton,
        .GmailButton {
            width: 100%;
            padding: 13px;
            margin: 5px;
            font-size: 1.1em;
            font-weight: 500;
            font-size: 20px;
        }

        .SignUpButton {
            background-color: #fddb3a;
            color: white;
            border: none;
            transition: all 0.2s ease-in;
        }

        .SignUpButton:hover {
            background-color: #feb72b;
        }



        @@media screen and (max-width: 480px) {
            .SignUp {

                padding: 5%;
                width: 95%;
                margin: auto;
                background: white;
            }
        }

        @@media screen and (max-width: 800px) {
            .SignUp {

                padding: 5%;
                margin: auto;
                background: white;
            }
        }

        @@media screen and (max-width: 900px) {
            .SignUp {
                margin-top: 30px;
                height: 100%;
                padding: 5%;
                margin: auto;
                background: white;
            }
        }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
