﻿@{
    ViewBag.Title = "About";
}
    @*<section class="our-expert padding-top padding-bottom-50">
        <div class="container">
            <h3 class="title-style-2">our explore expert</h3>

            <div class="wrapper-expert slick-initialized slick-slider" role="toolbar">
                <button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: inline-block;">Previous</button>






                <div aria-live="polite" class="slick-list draggable">
                    <div class="slick-track" role="listbox" style="opacity: 1; width: 2688px; left: -672px;">
                        <div class="item content-expert slick-slide slick-cloned" tabindex="-1" role="option" aria-describedby="slick-slide13" style="width: 194px;" data-slick-index="-3" aria-hidden="true">
                            <a href="#" class="img-expert" tabindex="-1"><img src="~/Content/Assets/images/homepage/about-8.jpg" alt="" class="img-responsive img"></a>

                            <div class="caption-expert">
                                <a href="#" class="title" tabindex="-1">Mark letto</a>

                                <p class="text">Manager Tour Guide</p>
                                <ul class="social list-inline">
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-google"></i></a></li>
                                </ul>
                            </div>
                        </div><div class="item content-expert slick-slide slick-cloned" tabindex="-1" role="option" aria-describedby="slick-slide14" style="width: 194px;" data-slick-index="-2" aria-hidden="true">
                            <a href="#" class="img-expert" tabindex="-1"><img src="~/Content/Assets/images/homepage/about-7.jpg" alt="" class="img-responsive img"></a>

                            <div class="caption-expert">
                                <a href="#" class="title" tabindex="-1">Mark letto</a>

                                <p class="text">Manager Tour Guide</p>
                                <ul class="social list-inline">
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-google"></i></a></li>
                                </ul>
                            </div>
                        </div><div class="item content-expert slick-slide slick-cloned" tabindex="-1" role="option" aria-describedby="slick-slide15" style="width: 194px;" data-slick-index="-1" aria-hidden="true">
                            <a href="#" class="img-expert" tabindex="-1"><img src="~/Content/Assets/images/homepage/about-8.jpg" alt="" class="img-responsive img"></a>

                            <div class="caption-expert">
                                <a href="#" class="title" tabindex="-1">Mark letto</a>

                                <p class="text">Manager Tour Guide</p>
                                <ul class="social list-inline">
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-google"></i></a></li>
                                </ul>
                            </div>
                        </div><div class="item content-expert slick-slide slick-current slick-active" tabindex="-1" role="option" aria-describedby="slick-slide10" style="width: 194px;" data-slick-index="0" aria-hidden="false">
                            <a href="#" class="img-expert" tabindex="0"><img src="~/Content/Assets/images/homepage/about-5.jpg" alt="" class="img-responsive img"></a>

                            <div class="caption-expert">
                                <a href="#" class="title" tabindex="0">Mark letto</a>

                                <p class="text">Manager Tour Guide</p>
                                <ul class="social list-inline">
                                    <li><a href="#" class="social-expert" tabindex="0"><i class="expert-icon fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="0"><i class="expert-icon fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="0"><i class="expert-icon fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="0"><i class="expert-icon fa fa-google"></i></a></li>
                                </ul>
                            </div>
                        </div><div class="item content-expert slick-slide slick-active" tabindex="-1" role="option" aria-describedby="slick-slide11" style="width: 194px;" data-slick-index="1" aria-hidden="false">
                            <a href="#" class="img-expert" tabindex="0"><img src="~/Content/Assets/images/homepage/about-6.jpg" alt="" class="img-responsive img"></a>

                            <div class="caption-expert">
                                <a href="#" class="title" tabindex="0">Mark letto</a>

                                <p class="text">Manager Tour Guide</p>
                                <ul class="social list-inline">
                                    <li><a href="#" class="social-expert" tabindex="0"><i class="expert-icon fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="0"><i class="expert-icon fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="0"><i class="expert-icon fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="0"><i class="expert-icon fa fa-google"></i></a></li>
                                </ul>
                            </div>
                        </div><div class="item content-expert slick-slide slick-active" tabindex="-1" role="option" aria-describedby="slick-slide12" style="width: 194px;" data-slick-index="2" aria-hidden="false">
                            <a href="#" class="img-expert" tabindex="0"><img src="~/Content/Assets/images/homepage/about-7.jpg" alt="" class="img-responsive img"></a>

                            <div class="caption-expert">
                                <a href="#" class="title" tabindex="0">Mark letto</a>

                                <p class="text">Manager Tour Guide</p>
                                <ul class="social list-inline">
                                    <li><a href="#" class="social-expert" tabindex="0"><i class="expert-icon fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="0"><i class="expert-icon fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="0"><i class="expert-icon fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="0"><i class="expert-icon fa fa-google"></i></a></li>
                                </ul>
                            </div>
                        </div><div class="item content-expert slick-slide" tabindex="-1" role="option" aria-describedby="slick-slide13" style="width: 194px;" data-slick-index="3" aria-hidden="true">
                            <a href="#" class="img-expert" tabindex="-1"><img src="~/Content/Assets/images/homepage/about-8.jpg" alt="" class="img-responsive img"></a>

                            <div class="caption-expert">
                                <a href="#" class="title" tabindex="-1">Mark letto</a>

                                <p class="text">Manager Tour Guide</p>
                                <ul class="social list-inline">
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-google"></i></a></li>
                                </ul>
                            </div>
                        </div><div class="item content-expert slick-slide" tabindex="-1" role="option" aria-describedby="slick-slide14" style="width: 194px;" data-slick-index="4" aria-hidden="true">
                            <a href="#" class="img-expert" tabindex="-1"><img src="~/Content/Assets/images/homepage/about-7.jpg" alt="" class="img-responsive img"></a>

                            <div class="caption-expert">
                                <a href="#" class="title" tabindex="-1">Mark letto</a>

                                <p class="text">Manager Tour Guide</p>
                                <ul class="social list-inline">
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-google"></i></a></li>
                                </ul>
                            </div>
                        </div><div class="item content-expert slick-slide" tabindex="-1" role="option" aria-describedby="slick-slide15" style="width: 194px;" data-slick-index="5" aria-hidden="true">
                            <a href="#" class="img-expert" tabindex="-1"><img src="~/Content/Assets/images/homepage/about-8.jpg" alt="" class="img-responsive img"></a>

                            <div class="caption-expert">
                                <a href="#" class="title" tabindex="-1">Mark letto</a>

                                <p class="text">Manager Tour Guide</p>
                                <ul class="social list-inline">
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-google"></i></a></li>
                                </ul>
                            </div>
                        </div><div class="item content-expert slick-slide slick-cloned" tabindex="-1" role="option" aria-describedby="slick-slide10" style="width: 194px;" data-slick-index="6" aria-hidden="true">
                            <a href="#" class="img-expert" tabindex="-1"><img src="~/Content/Assets/images/homepage/about-5.jpg" alt="" class="img-responsive img"></a>

                            <div class="caption-expert">
                                <a href="#" class="title" tabindex="-1">Mark letto</a>

                                <p class="text">Manager Tour Guide</p>
                                <ul class="social list-inline">
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-google"></i></a></li>
                                </ul>
                            </div>
                        </div><div class="item content-expert slick-slide slick-cloned" tabindex="-1" role="option" aria-describedby="slick-slide11" style="width: 194px;" data-slick-index="7" aria-hidden="true">
                            <a href="#" class="img-expert" tabindex="-1"><img src="~/Content/Assets/images/homepage/about-6.jpg" alt="" class="img-responsive img"></a>

                            <div class="caption-expert">
                                <a href="#" class="title" tabindex="-1">Mark letto</a>

                                <p class="text">Manager Tour Guide</p>
                                <ul class="social list-inline">
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-google"></i></a></li>
                                </ul>
                            </div>
                        </div><div class="item content-expert slick-slide slick-cloned" tabindex="-1" role="option" aria-describedby="slick-slide12" style="width: 194px;" data-slick-index="8" aria-hidden="true">
                            <a href="#" class="img-expert" tabindex="-1"><img src="~/Content/Assets/images/homepage/about-7.jpg" alt="" class="img-responsive img"></a>

                            <div class="caption-expert">
                                <a href="#" class="title" tabindex="-1">Mark letto</a>

                                <p class="text">Manager Tour Guide</p>
                                <ul class="social list-inline">
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#" class="social-expert" tabindex="-1"><i class="expert-icon fa fa-google"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: inline-block;">Next</button><ul class="slick-dots" style="display: block;" role="tablist"><li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true" aria-controls="navigation10" id="slick-slide10"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">1</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation11" id="slick-slide11"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">2</button></li></ul>
            </div>
        </div>
    </section>*@
<section class="about-us layout-2 padding-top padding-bottom about-us-4">
    <div class="container">
        <div class="row">
            <div class="wrapper-contact-style">
                <div class="col-lg-6 col-md-8">
                    <h3 class="title-style-2">Epic journeys</h3>

                    <div class="about-us-wrapper">
                        <p class="text">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute.</p>

                        <p class="text">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor.</p>

                        <div class="group-list">
                            <ul class="list-unstyled about-us-list">
                                <li><p class="text">First Class Flights</p></li>
                                <li><p class="text">5 Star Accommodations</p></li>
                                <li><p class="text">Inclusive Packages</p></li>
                                <li><p class="text">Latest Model Vehicles</p></li>
                            </ul>
                            <ul class="list-unstyled about-us-list">
                                <li><p class="text">Handpicked Hotels</p></li>
                                <li><p class="text">Accesibility managment</p></li>
                                <li><p class="text">10 Languages available</p></li>
                                <li><p class="text">+120 Premium city tours</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div data-wow-delay="0.4s" class="about-us-image wow zoomInRight" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomInRight;"><img src="~/Content/Assets/images/homepage/about-us-4.png" alt="" class="img-responsive"></div>
            </div>
        </div>
    </div>
</section>
<section class="videos padding-top padding-bottom page-our-values">
    <div class="container">
        <h3 class="title-style-2 white">Our Values</h3>

        <div class="row">
            <div class="our-wrapper">
                <div class="col-sm-3 col-xs-3">
                    <div class="our-content">
                        <i class="our-icon flaticon-cruise"></i>

                        <div class="main-our">
                            <p class="our-title">We offer daily tours </p>

                            <p class="text">Lorem ipsum dolor sit amet, consectetur elitea commodo consequat duis aute irure dolor consectetur elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-3">
                    <div class="our-content">
                        <i class="our-icon flaticon-security-1"></i>

                        <div class="main-our">
                            <p class="our-title">Pygmy Itineraries</p>

                            <p class="text">Lorem ipsum dolor sit amet, consectetur elitea commodo consequat duis aute irure dolor consectetur elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-3">
                    <div class="our-content">
                        <i class="our-icon flaticon-direction"></i>

                        <div class="main-our">
                            <p class="our-title">Best price guarantee </p>

                            <p class="text">Lorem ipsum dolor sit amet, consectetur elitea commodo consequat duis aute irure dolor consectetur elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-3">
                    <div class="our-content">
                        <i class="our-icon flaticon-food-3"></i>

                        <div class="main-our">
                            <p class="our-title">Eco lodges &amp; tours</p>

                            <p class="text">Lorem ipsum dolor sit amet, consectetur elitea commodo consequat duis aute irure dolor consectetur elit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="our-wrapper">
                <div class="col-sm-3 col-xs-3">
                    <div class="our-content">
                        <i class="our-icon flaticon-transport-10"></i>

                        <div class="main-our">
                            <p class="our-title">Endangered Wildlife</p>

                            <p class="text">Lorem ipsum dolor sit amet, consectetur elitea commodo consequat duis aute irure dolor consectetur elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-3">
                    <div class="our-content">
                        <i class="our-icon flaticon-people-6"></i>

                        <div class="main-our">
                            <p class="our-title">We offer daily tours </p>

                            <p class="text">Lorem ipsum dolor sit amet, consectetur elitea commodo consequat duis aute irure dolor consectetur elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-3">
                    <div class="our-content">
                        <i class="our-icon flaticon-man"></i>

                        <div class="main-our">
                            <p class="our-title">Epic journeys </p>

                            <p class="text">Lorem ipsum dolor sit amet, consectetur elitea commodo consequat duis aute irure dolor consectetur elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-3">
                    <div class="our-content">
                        <i class="our-icon flaticon-food"></i>

                        <div class="main-our">
                            <p class="our-title">Never lose your deposit</p>

                            <p class="text">Lorem ipsum dolor sit amet, consectetur elitea commodo consequat duis aute irure dolor consectetur eli</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>