﻿<section class="contact style-1">
    <div class="container">
        <div class="row">
            <div class="wrapper-contact-style">
                <div data-wow-delay="0.5s" class="contact-wrapper-images wow fadeInLeft"><img src="~/Content/Assets/images/homepage/contact-people.png" alt="" class="img-responsive"></div>
                <div class="col-lg-6 col-sm-7 col-lg-offset-4 col-sm-offset-5">
                    <div data-wow-delay="0.4s" class="contact-wrapper padding-top padding-bottom wow fadeInRight">
                        <div class="contact-box">
                            <h5 class="title">contact us</h5>

                            <p class="text">Just pack and go! Let leave your travel plan to travel experts!</p>

                            <form class="contact-form">
                                <input type="text" placeholder="Your Name" name="Name" id="Name" class="form-control form-input">
                                <input type="email" placeholder="Your Email" name="Email" id="Email" class="form-control form-input">
                                <input type="text" placeholder="Your Phone Number" name="MobileNumber" id="MobileNumber" class="form-control form-input">
                                <textarea placeholder="Your Message/Plan" name="Message" id="Message" class="form-control form-input"></textarea>
                                <div style="color:red">
                                    <ul>
                                        <li class="Name-valid hidden">Name must contain atleast 6 characters</li>
                                        <li class="Email-valid hidden">Please Enter a valid Email</li>
                                        <li class="MobileNo-valid hidden">Enter a valid Mobile Number</li>
                                        <li class="Message-valid hidden">Message must contain atleast 20 characters</li>
                                    </ul>
                                </div>
                                <div class="contact-submit">
                                    <button type="button" data-hover="SEND NOW" id="sendQuery" class="btn btn-slide"><span class="text">send message</span><span class="icons fa fa-long-arrow-right"></span></button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $(".contact-form").submit(function (e) {
            e.preventDefault();
        });
         $("#sendQuery").click(function () {
        if ($("#Name").val() !== "" && $("#Name").val().length >6) {
            $(".Name-valid").addClass("hidden");
            if ($("#Email").val() !== "") {
                 $(".Email-valid").addClass("hidden");
                if ($("#MobileNumber").val()!=="") {
                    $(".MobileNo-valid").addClass("hidden");
                    if ($("#Message").val() !== "" && $("#Message").val().length > 20) {
                       $(".Message-valid").addClass("hidden");
                                    $.ajax({
                                         url: '@Url.Action("AddQuery","Home")',
                                            type: "Post",
                                                data: $(".contact-form").serialize(),
                                                success: function (response) {
                                                 swal('Query Sended Successfully', 'success');
                                                 $("section.contact").hide();
                                                                         }               
                                                        });
                                   
                    } else {
                        $(".Message-valid").removeClass("hidden");
                    }
                } else {
                    $(".MobileNo-valid").removeClass("hidden");
                }
            } else {
                $(".Email-valid").removeClass("hidden");
            }
        } else {
            $(".Name-valid").removeClass("hidden");
        }
         });

    });

</script>