﻿@using NatureExplorer.Entities
@model NatureExplorer.Web.Areas.Admin.ViewModels.StaffVM

@{
    ViewBag.Title = "Contact";
}
    <section class="padding-top padding-bottom contact-organization">
        <div class="container">
            <h3 class="title-style-2">Our organization</h3>

            <div class="row">
                <div class="wrapper-organization">
                    @for (int i=0;i<Model.Staff.Count;i++)
                    {
                        <div class="col-md-4 col-sm-4 col-xs-4 md-organization">
                            <div class="content-organization">
                                <div class="wrapper-img"><img src="~/Content/Images/@Model.Pictures[i].URL" alt="" class="img img-responsive"></div>
                                <div class="main-organization">
                                    <div class="organization-title">
                                        <a href="#" class="title">@Model.Staff[i].Name</a>

                                        <p class="text">@Model.Staff[i].Designation</p>
                                    </div>
                                    <div class="content-widget">
                                        <div class="info-list">
                                            <ul class="list-unstyled">
                                                <li class="main-list"><i class="icons fa fa-map-marker"></i><a href="#" class="link">@Model.Staff[i].Address</a></li>
                                                <li class="main-list"><i class="icons fa fa-phone"></i><a href="#" class="link">@Model.Staff[i].Contact</a></li>
                                                <li class="main-list"><i class="icons fa fa-envelope-o"></i><a href="#" class="link">@Model.Staff[i].Email</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>