﻿@using NatureExplorer.Web.ViewModels
@model NatureExplorer.Web.ViewModels.FooterVM
<footer>
    <div class="footer-main padding-top padding-bottom">
        <div class="container">
            <div class="footer-main-wrapper">
                <a href="@Url.Action("Index","Home")" class="logo-footer" style="color:white"><h2>Nature Explorer</h2></a>

                <div class="row" style="font-size:14px;">
                    <div class="col-4">
                        <div class="col-md-4 col-xs-5">
                            <div class="contact-us-widget widget">
                                <div class="title-widget">contact us</div>
                                <div class="content-widget">
                                    <div class="info-list">
                                        <ul class="list-unstyled">
                                            @*<li><i class="icons fa fa-map-marker"></i><a href="#" class="link">132, My Street, Kingston, New York 12401</a></li>*@
                                            <li><i class="icons fa fa-phone"></i><a href="#" class="link">@Model.Contact</a></li>
                                            <li><i class="icons fa fa-envelope-o"></i><a href="#" class="link">@Model.Email</a></li>
                                        </ul>
                                    </div>
                                    <div class="form-email">
                                        <p class="text">Sign up for our mailing list to get latest updates and offers.</p>

                                        <form action="index.html">
                                            <div class="input-group"><input type="text" placeholder="Email address" class="form-control form-email-widget" /><span class="input-group-btn"><button type="submit" class="btn-email">&#10004;</button></span></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="col-md-2 col-xs-6">
                            <div class="explore-widget widget">
                                <div class="title-widget">Follow Us</div>
                                <div class="content-widget">
                                    <ul class="list-unstyled" style="font-size:14px;">
                                        <li><a href="@Model.Facebook" class="link"><i class="fab fa-facebook" style="margin-right:2px;"></i> Facebook</a></li>
                                        <li><a href="@Model.Twitter" class="link"><i class="fab fa-twitter" style="margin-right:2px;"></i>Twitter</a></li>
                                        <li><a href="@Model.Instagram" class="link"><i class="fab fa-instagram" style="margin-right:2px;"></i>Instagram</a></li>
                                        <li><a href="@Model.Contact" class="link"><i class="fas fa-mobile" style="margin-right:2px;"></i> +923404112872</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <div class="explore-widget widget">
                                <div class="title-widget">Quick Links</div>
                                <div class="content-widget">
                                    <ul class="list-unstyled">
                                        <li><a href="@Url.Action("Index","Home")" class="link">Home</a></li>
                                        <li><a href="@Url.Action("Index","TourManage")" class="link">Tours</a></li>
                                        <li><a href="@Url.Action("Index","HotelManage")" class="link">Hotels</a></li>
                                        <li><a href="@Url.Action("Contact","Home")" class="link">Contact Us</a></li>
                                        <li><a href="@Url.Action("About","Home")" class="link">About Us</a></li>
                                        <li><a href="@Url.Action("Login","Account")" class="link">Sign In</a></li>
                                        <li><a href="@Url.Action("Register","Account")" class="link">Sign Up</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>

