﻿@using NatureExplorer.Entities
@model List<NatureExplorer.Entities.UserNotification>

<a class="mypopover" href="#" data-container="body" data-toggle="popover" data-placement="bottom" title="Notifications">
    <i class="fas fa-envelope noti-Container"><span class="badge badge-info custom-badge" style="color:red;font-size:12px;">@Model.Count</span></i>
</a>
<div class="Notification-container" hidden>
    @foreach(var not in Model)
    {
        <div class="notification">
            <p>@not.Notification.Message. <a href="@Url.Action(not.Notification.action,not.Notification.controller,new { ID=not.Notification.resourceID })">See detail</a></p>
            <hr />
        </div>
    }
</div>
<style>
    .mypopover {
        position: relative;
        margin-right: 10px;
    }

    .custom-badge {
        position: absolute;
        background-color: rgba(0,0,0,0);
        color: #ffdd00;
        top: -5px;
        left: 8px;
    }
    [data-toggle="popover"]{
        border-radius:0px;
    }
</style>
<script>
    $(document).ready(function () {
        var clone = $(".Notification-container").clone();
        $(".Notification-container", clone).removeAttr("hidden");
       $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            html: true,
            content: clone.html(),
            trigger: 'focus'
        });
    });
    });
</script>