﻿@{
    ViewBag.Title = "Home";
}
@using NatureExplorer.Entities
@model NatureExplorer.Web.ViewModels.HomeVM
<section class="page-banner-2 homepage-02">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="banner">Nature Explorer</h1><h4 class="sub-banner">THE WORLD YOU HAVE NEVER SEEN</h4>

                     <input type="text" class="" placeholder="Search a tour to ecplore" />

             </div>
            </div>
        </div>
    </div>
</section>
<section class="tours padding-top-140 padding-bottom">
    <div class="container">
        <div class="tours-wrapper">
            <div class="group-title">
                <div class="sub-title"><p class="text">PACK AND GO</p><i class="icons flaticon-people"></i></div>
                <h2 class="main-title">awesome tours</h2>
            </div>
            <div class="tours-content margin-top70">
                <div class="tours-list">
                    @foreach (var tour in Model.Tours.ToList())
                    {
                        <div class="tours-layout">
                            <div class="image-wrapper">
                                <a href="@Url.Action("Detail","TourManage",new { ID=tour.ID})" class="link"><img style="height:287px" src="~/Content/Images/@tour.Pictures[0].Picture.URL" alt="" class="img-responsive"></a>
                                <div class="title-wrapper"><a href="tour-view.html" class="title">@tour.Destination</a></div>
                                <div class="label-sale">
                                    <p class="text">New</p>
                                    <p class="number">New</p>
                                </div>
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <div class="title">
                                        <div class="price"><sup>$</sup><span class="number">@tour.TourPrices[0].SinglePrice</span></div>
                                        <p class="for-price">@tour.Days days</p>
                                    </div>
                                    <p class="text">@tour.Title</p>
                                    <p class="text right">Date: @tour.DepartureDate</p>
                                    <div class="btn"><a href="@Url.Action("Detail","TourManage",new { ID=tour.ID})">Details</a></div>
                                </div>

                            </div>
                        </div>
                    }


                </div>


                <a href="@Url.Action("Index","TourManage")" class="btn btn-transparent margin-top70">more tours</a>
            </div>
        </div>
        @if (Model.ReccomendedTours.Count != 0)
        {
            <div class="tours-wrapper">
                <div class="group-title">
                    <h2 class="main-title">Recommended For You</h2>
                </div>
                <div class="tours-content margin-top70">
                    <div class="tours-list">
                        @foreach (var tour in Model.ReccomendedTours.ToList())
                        {
                            <div class="tours-layout">
                                <div class="image-wrapper">
                                    <a href="@Url.Action("Detail","TourManage",new { ID=tour.ID})" class="link"><img style="height:287px" src="~/Content/Images/@tour.Pictures[0].Picture.URL" alt="" class="img-responsive"></a>
                                    <div class="title-wrapper"><a href="tour-view.html" class="title">@tour.Destination</a></div>
                                    <div class="label-sale">
                                        <p class="text">New</p>
                                        <p class="number">New</p>
                                    </div>
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <div class="title">
                                            <div class="price"><sup>$</sup><span class="number">@tour.TourPrices[0].SinglePrice</span></div>
                                            <p class="for-price">@tour.Days days</p>
                                        </div>
                                        <p class="text">@tour.Title</p>
                                        <p class="text right">Date: @tour.DepartureDate</p>
                                        <div class="btn"><a href="@Url.Action("Detail","TourManage",new { ID=tour.ID})">Details</a></div>
                                    </div>

                                </div>
                            </div>
                        }
                   </div>
                </div>
            </div>
        }

    </div>
</section>



<section class="about-us layout-2 layout-3 padding-top padding-bottom">
    <div class="container">
        <div class="row">
            <div class="wrapper-contact-style">
                <div class="col-lg-6 col-md-8">
                    <div class="group-title">
                        <div class="sub-title"><p class="text">be born agian</p><i class="icons flaticon-people"></i></div>
                        <h2 class="main-title">we are exploore</h2>
                    </div>
                    <div class="about-us-wrapper">
                        <p class="text no-margin">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn aliqua. Ut eim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo consequat uisas aute irure.</p>

                        <div class="row group-list">
                            <div class="col-xs-6">
                                <div class="media box-media">
                                    <div class="media-left"><a href="#" class="icons"><i class="flaticon-cruise"></i></a></div>
                                    <div class="media-right">
                                        <a href="#" class="title">We Offer Daily Tours</a>

                                        <p class="text">Lorem ipsum dolor sit amet, consectetur elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="media box-media">
                                    <div class="media-left"><a href="#" class="icons"><i class="flaticon-security-1"></i></a></div>
                                    <div class="media-right">
                                        <a href="#" class="title">Accessibility Manager</a>

                                        <p class="text">Lorem ipsum dolor sit amet, consectetur elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="media box-media">
                                    <div class="media-left"><a href="#" class="icons"><i class="flaticon-direction"></i></a></div>
                                    <div class="media-right">
                                        <a href="#" class="title">+120 Premium City Tour</a>

                                        <p class="text">Lorem ipsum dolor sit amet, consectetur elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="media box-media">
                                    <div class="media-left"><a href="#" class="icons"><i class="flaticon-food-3"></i></a></div>
                                    <div class="media-right">
                                        <a href="#" class="title">5 Stars Acommodation</a>

                                        <p class="text">Lorem ipsum dolor sit amet, consectetur elit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-wow-delay="0.5s" class="about-us-image wow fadeInRight"><img src="~/Content/Assets/images/homepage/about-us-3.jpg" alt="" class="img-responsive"></div>
            </div>
        </div>
    </div>
</section>
