﻿@using (Html.BeginForm("UserDetail", "Account", FormMethod.Post, new { @class = "example" }))
{
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Full Name</label>
        <div class="col-sm-10">
            <input name="FullName" class="form-control" value="@Model.User.FullName" placeholder="Full Name">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">UserName</label>
        <div class="col-sm-10">
            <input class="form-control" value="@Model.User.UserName" placeholder="UserName" disabled>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input class="form-control" value="@Model.User.Email" placeholder="Email" disabled>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
            <input class="form-control" name="Adress" value="@Model.User.Adress" placeholder="Address">
        </div>
    </div>
    <button class="btn btn-success" type="submit">Update</button>
}
