﻿@using NatureExplorer.Entities
@model NatureExplorer.Entities.Query
    <form id="ReplyForm">
        <div class="form-group">
            <label for="Message">Message:</label>
            <textarea readonly id="Message" class="form-control">@Model.Message</textarea>
            <input id="ID" name="ID" hidden value="@Model.ID" />
        </div>
        <hr />
        <div class="form-group">
            <textarea class="form-control"  name="reply" id="reply" placeholder="Write Your Response To Email"></textarea>
        </div>

    </form>

<script>
     ////Sending Reply
       $(document).ready(function () {
        $("#replySuccessBtn").click(function () {
            $.ajax({
                url: '@Url.Action("ReplyMessage", "Queries")',
                type: "Post",
                data: $("#ReplyForm").serialize(),
                success: function (response) {
                    swal('Replied Successfully', 'success');
                    $(".exampleModalCenter").modal();
                }
            });
        });
    });
</script>