﻿@model NatureExplorer.Web.Areas.Admin.ViewModels.QueryVM
@using NatureExplorer.Entities

<div>
    <h2 style="margin:auto">
       Quries
    </h2>
    <hr />
</div>

<div class="">
    <div class="box">
        <div class="form-group search-box">
            <div class="input-group">
                <input type="text" id="searchtxt" value="@Model.searchTerm" class="form-control search" />
                <div class="input-group-append">
                    <button class="btn btn-success" id="searchtxtbtn" type="button"><i class="fas fa-search"></i>Search</button>
                    <a class="btn btn-danger"  href="@Url.Action("Index","Queries")"><i class="fas fa-trash"></i>Reset</a>
                </div>

            </div>
        </div>
    </div>


    @if (Model != null)
    {
        <table class="table table-light table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Date</th>
                    <th>Query</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model.queries)
                {
                <tr>
                    <td>@t.ID</td>
                    <td>@t.Name</td>
                    <td>@t.Email</td>
                    <td>@t.MobileNumber</td>
                    <td>@t.Date.ToString("dd MMM yyyy")</td>
                    <td>@t.Message.Substring(0, 20)...</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn btn-info Replybtn" data-ID="@t.ID" data-toggle="modal" data-target="#exampleModalCenter">View/Reply</button>
                            <button class="btn btn-danger deleteQuerybtn" data-ID="@t.ID">Delete</button>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <!-- Pager -->
        <div>
            @if (Model.pager != null && Model.pager.TotalPages > 1)
            {
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @if (Model.pager.CurrentPage > 1)
                        {
                            <li><a class="page-item page-link" data-pageno="1" href="#">First</a></li>
                            <li><a class="page-item page-link" data-pageno="@(Model.pager.CurrentPage - 1)" href="#"><</a></li>
                        }
                        @for (var page = Model.pager.StartPage; page <= Model.pager.EndPage; page++)
                        {
                            string activeClass = Model.pager.CurrentPage == page ? "active bg-success" : string.Empty;
                            <li><a class="page-item page-link @activeClass" data-pageno="@page" href="#">@page</a></li>
                        }
                        @if (Model.pager.CurrentPage < Model.pager.TotalPages)
                        {
                            <li><a class="page-item page-link" data-pageno="@(Model.pager.CurrentPage + 1)" href="#">></a></li>
                            <li><a class="page-item page-link" data-pageno="@(Model.pager.EndPage)" href="#">Last</a></li>
                        }

                    </ul>
                </nav>
            }
        </div>
    }
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="replySuccessBtn" class="btn btn-primary">Reply</button>
            </div>
        </div>
    </div>
</div>
<script>

    ////Pager...
    $(document).ready(function () {
        $(".page-item").click(function () {
		$.ajax({
			url: '@Url.Action("QueryTable", "Queries")',
			data: {
                pageNo: $(this).attr("data-pageno"),
                search: $("#searchtxt").val()
			}
		})
        .done(function (response) {
            $("#QueryTable").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
	});
    });

      ///////GetMessage
    $(document).ready(function () {
        $(".Replybtn").click(function () {
            $.ajax({
                url: '@Url.Action("QueryMessage", "Queries")',
                type: "Get",
                data: { ID: $(this).attr("data-ID") },
                success: function (response) {
                    $(".modal-body").html(response);
                    $(".exampleModalCenter").modal();
                }
            });
        });
    });
    /////
   
    ///////Delete
    $(document).ready(function () {
        $(".deleteQuerybtn").click(function () {
            $.ajax({
                url: '@Url.Action("Delete", "Queries")',
                type: "Post",
                data: { ID: $(this).attr("data-ID") },
                success: function (response) {
                    $("#QueryTable").html(response);
                    swal('Deleted Successfully', 'success');
                }
            });
        });
    });
    //Search
    $(document).ready(function () {
        $("#searchtxtbtn").click(function () {
            $.ajax({
                url: '@Url.Action("QueryTable", "Quries")',
                type: "Post",
                data: { search: $("#searchtxt").val() },
                success: function (response) {
                    $("#TourTable").html(response);
                }
            });
        });
    });
</script>
<style>
    .page-link {
        color: black;
    }

    .form-control {
        display: inline;
    }

    .search {
        width: auto;
    }

    .box {
        position: relative;
        height: 50px;
    }

    .search-box {
        position: absolute;
        right: 20px;
    }
</style>

