﻿<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add Staff</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="addForm">

        <div class="form-group">
            <input type="text" class="form-control custom" id="Name" name="Name" placeholder="Enter Staff Name" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control custom" id="Address" name="Address" placeholder="Enter Address" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control custom" id="Email" name="Email" placeholder="Enter Email Address" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control custom" id="Contact" name="Contact" placeholder="Enter ContactNo." />
        </div>

        <div class="form-group">
            <input type="text" class="form-control custom" id="Designation" name="Designation" placeholder="Enter Designation" />
        </div>
        <div class="form-group">
            <input type="file" id="StaffPictureUpload" />
            <input type="text" name="PicIDs" id="PicIDs" hidden />
        </div>

        <div id="picturesSection">
            <img />
        </div>

    </form>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="saveStaffbtn">Save</button>
</div>

<script>
    //////////////////////////////////////////////
    ////FileUplaod..
    //var picIDs = [];
    var Staffpictures = {
        picIDs: [],
        picUrls: []
    };
    $(document).ready(function () {

        $("#StaffPictureUpload").change(function () {
            var formdata = new FormData();
            var pictures = this.files;
            for (var i = 0; i < pictures.length; i++) {
                formdata.append("Picture", pictures[i]);
            }
            $.ajax({
                url: "/Shared/AddPictures",
                type: "Post",
                data: formdata,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (response) {

                    for (var i = 0; i < response.length; i++) {
                        Staffpictures.picIDs.push(response[i].ID);
                        Staffpictures.picUrls.push(response[i].URL);
                    }
                    ShowPics(Staffpictures);
                }

            });
        });
        /// Show All pics
        function ShowPics(Staffpictures) {
            var picture = "";
            $("#picturesSection").html("");
            for (var i = 0; i < Staffpictures.picIDs.length; i++) {
                picture += "<img width='200px' height='140px' class='img-fluid upload' src='/Content/Images/" + Staffpictures.picUrls[i] + "' data-id='" + Staffpictures.picIDs[i] + "' /> ";
                $("#picturesSection").html(picture);
            }
            $("#PicIDs").val(Staffpictures.picIDs.join(","));
        }
        //Remove Pic
         ////
        $(document).on('click', '.upload', function (content) {
            var rpicURl = "";
            var $img = $(this);
            var value = $img.attr('data-id');
            for (var i = 0; i < Staffpictures.picIDs.length; i++){
                if ( Staffpictures.picIDs[i].toString() === value) {
                    Staffpictures.picIDs.splice(i, 1);
                    rpicURl=Staffpictures.picUrls[i];
                    }
            }
            $.ajax({
                url: "/Shared/DeletePicture",
                method: "POST",
                data: { name: rpicURl },
                success: function (response) {
                }
            });
             $img.remove();
            $("#PicIDs").val(Staffpictures.picIDs.join(","));
        });
        ///
    });
    ////Posting Form
    $("#saveStaffbtn").click(function () {
        var Hotel = {
            Name: "",
            Email: "",
            Address: "",
            Designation: "",
            Contact: ""
        }
        //Getting All Info
        Hotel.Name = $("#Name").val();
        Hotel.Email = $("#Email").val();
        Hotel.Designation = $("#Designation").val();
        Hotel.Contact = $("#Contact").val();
        Hotel.Address = $("#Address").val();
        

        if ($("#addForm").valid()) {
            if ($("#PicIDs").val() != "") {
                ////////////////////////// Saving Hotel
         $('.bd-example-modal-xl').modal('hide');
        $.ajax({
            url: '@Url.Action("AddStaff", "StaffMembers")',
            type: "Post",
            data: {
                Staff: Hotel, PicIDs: $("#PicIDs").val()
            },
            success: function (response) {
                $("#StaffTable").html(response);
                $(".content-body-modal").html('');
            }
        });
            /////////////////End:Saving Hotel
            } else {
                toastr.warning("Please Add Picture");
            }
        } else {
            toastr.warning("Form is Invalid");
        }

    });
      $(document).ready(function () {
         /////////////// Validation of Form.....
    //////////////
        $("#addForm").validate({
            rules: {
                Name: {
                    required: true,
                    minlength: 5,
                    maxlength: 25
                },
                Address: {
                    required: true,
                    minlength: 10,
                    maxlength: 60
                },
                Email: {
                    required: true,
                    email: true
                },
                Contact: {
                    required: true
                },
                Designation: {
                    required: true
                }
            },
            messages: {
                Name: {
                    required: "Hotel Name is Required",
                    minlength: "Please enter atleast 5 characters",
                    maxlength:"Hotel name should not exceed 25 characters"
                },
                Address: {
                    required: "Address is required",
                    minlength: "Please enter atleast 10 characters",
                    maxlength:"maximum of 60 characters are allowed"
                },
                Email: {
                    required: "Email is Required",
                    email:"Please enter a valid email"
                },
                Contact: {
                    required:"Contact Number is Required"
                },
                Designation: {
                    required:"Discription is required"
                }
            }
        }
        );
        /////////////////////////////End of Validation


    })
</script>
<style>
    .FacilitySection {
        margin: 10px;
    }

    .facility-holder {
        margin: 4px;
        border-radius: 4px;
        padding: 4px;
    }

    .custom-card {
        border: none;
        border-radius: 0px;
    }

    .custom {
        max-width: unset;
    }

    label {
        margin: 0px;
    }

    textarea {
        width: 100%;
    }

    .hidden {
        display: none;
    }

    label.error {
        color: red;
    }
</style>
