﻿@using NatureExplorer.Entities
@model NatureExplorer.Web.Areas.Admin.ViewModels.EditStaffVM
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Edit Staff Detail</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="editForm">
        <input type="hidden" readonly id="ID" name="ID" value="@Model.Staff.ID" />
        <div class="form-group">
            <input type="text" class="form-control custom" id="Name" name="Name" value="@Model.Staff.Name" placeholder="Enter Name" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control custom" id="Address" name="Address" value="@Model.Staff.Address" placeholder="Enter Address" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control custom" id="Email" name="Email" value="@Model.Staff.Email" placeholder="Enter Email Address" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control custom" id="Contact" name="Contact" value="@Model.Staff.Contact" placeholder="Enter ContactNo." />
        </div>

        <div class="form-group">
            <input type="text" class="form-control custom" id="Designation" name="Designation" value="@Model.Staff.Designation" placeholder="Enter Desciption" />
        </div>
        <div class="form-group">
            <input type="file" multiple id="HotelPictureUpload" />
            <input type="text" name="PicIDs" id="PicIDs" hidden />

        </div>
        <div id="picturesSection">
            @if (Model.Picture != null)
            {

                <img width="160px" height="160px" class='img-fluid upload' src="/Content/Images/@Model.Picture.URL" data-src="@Model.Picture.URL" data-id="@Model.Picture.ID" />
            }
        </div>
    </form>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="saveStaffbtn">Save</button>
</div>
<script>
    $(document).ready(function () {
       
     ////FileUplaod..
    //var picIDs = [];
    var Hotelpictures = {
        picIDs: [],
        picUrls: []
        };
        //Adding ExistingPics
        $(".upload").each(function () {
            var $image = this;
            Hotelpictures.picUrls.push($($image).attr("data-src"));
            Hotelpictures.picIDs.push($($image).attr("data-id"));
        });
        $("#PicIDs").val(Hotelpictures.picIDs.join(","));
        //AFTER Change in PicturesPlaceHolder
        $("#HotelPictureUpload").change(function () {

            var formdata = new FormData();
            var pictures = this.files;
            for (var i = 0; i < pictures.length; i++) {
                formdata.append("Picture", pictures[i]);
            }
            $.ajax({
                url: "/Shared/AddPictures",
                type: "Post",
                data: formdata,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (response) {

                    for (var i = 0; i < response.length; i++) {
                        Hotelpictures.picIDs[0]=response[i].ID;
                        Hotelpictures.picUrls[0]=response[i].URL;
                    }
                    $(".upload").each(function () {
                        var $image = this;
                        $image.remove();
                    });
                    ShowPics(Hotelpictures);
                }

            });
        });
            /// Show All pics
            function ShowPics(Hotelpictures) {
            var picture = "";
            $("#picturesSection").html("");
            for (var i = 0; i < Hotelpictures.picIDs.length; i++) {
                picture += "<img width='200px' height='140px' class='img-fluid upload' src='/Content/Images/" + Hotelpictures.picUrls[i] + "' data-id='" + Hotelpictures.picIDs[i] + "' /> ";
                $("#picturesSection").html(picture);
            }
            $("#PicIDs").val(Hotelpictures.picIDs.join(","));
        }
        ////
        //Remove Pic
         ////
        $(document).on('click', '.upload', function (content) {
            var rpicURl = "";
            var $img = $(this);
            var value = $img.attr('data-id');
            for (var i = 0; i < Hotelpictures.picIDs.length; i++){
                if ( Hotelpictures.picIDs[i].toString() === value) {
                    Hotelpictures.picIDs.splice(i, 1);
                    rpicURl=Hotelpictures.picUrls[i];
                    }
            }
            $.ajax({
                url: "/Shared/DeletePicture",
                method: "POST",
                data: { name: rpicURl },
                success: function (response) {

                }
            });
             $img.remove();
            $("#PicIDs").val(Hotelpictures.picIDs.join(","));
        });

        });

    $(document).ready(function () {
        //Post
        $("#saveStaffbtn").click(function () {
            var Hotel = {
            ID:"",
            Name: "",
            Email: "",
            Address: "",
            Designation: "",
            Contact: ""
        }
       //Getting All Info
        Hotel.ID = $("#ID").val();
        Hotel.Name = $("#Name").val();
        Hotel.Email = $("#Email").val();
        Hotel.Designation = $("#Designation").val();
        Hotel.Contact = $("#Contact").val();
        Hotel.Address = $("#Address").val();

            if ($("#editForm").valid()) {
            if ($("#PicIDs").val() != "") {
                ////////////////////////// Saving Hotel
            $('.bd-example-modal-xl').modal('hide');
            //Sending Ajax
            $.ajax({
                url: '@Url.Action("EditStaff", "StaffMembers")',
                type: "Post",
                data: {
                Staff: Hotel, PicIDs: $("#PicIDs").val()
                        },
                success: function (response) {
                    $('.bd-example-modal-xl').modal('hide');
                    $("#StaffTable").html(response);
                }
            });
            /////////////////End:Saving Hotel
            } else {
                toastr.warning("Please Add Picture");
            }
        } else {
            toastr.warning("Form is Invalid");
        }

        });
    });

    $(document).ready(function () {
        /////////////// Validation of Form.....
        //////////////
        $("#editForm").validate({
            rules: {
                Name: {
                    required: true,
                    minlength: 5,
                    maxlength: 25
                },
                Address: {
                    required: true,
                    minlength: 10,
                    maxlength: 60
                },
                Email: {
                    required: true,
                    email: true
                },
                Contact: {
                    required: true
                },
                Designation: {
                    required: true
                }
            },
            messages: {
                Name: {
                    required: "Hotel Name is Required",
                    minlength: "Please enter atleast 5 characters",
                    maxlength: "Hotel name should not exceed 25 characters"
                },
                Address: {
                    required: "Address is required",
                    minlength: "Please enter atleast 10 characters",
                    maxlength: "maximum of 60 characters are allowed"
                },
                Email: {
                    required: "Email is Required",
                    email: "Please enter a valid email"
                },
                Contact: {
                    required: "Contact Number is Required"
                },
                Descrption: {
                    required: "Discription is required"
                }
            }
        });
        /////////////////////////////End of Validation
    });

</script>
<style>
    .FacilitySection {
        margin: 10px;
    }

    .facility-holder {
        margin: 4px;
        border-radius: 4px;
        padding: 4px;
    }

    .custom-card {
        border: none;
        border-radius: 0px;
    }

    .custom {
        max-width: unset;
    }

    label {
        margin: 0px;
    }

    textarea {
        width: 100%;
    }

    label.error {
        color: red;
    }
</style>



