﻿@using NatureExplorer.Entities
@model IList<NatureExplorer.Entities.Staff>

<div>
    <h2 style="margin:auto">
        Staff
    </h2>
    <hr />
</div>

<div class="">
    <div class="box">
        <div class="form-group search-box">
            <div class="input-group">
                <div class="input-group-append">
                    <button type="button" id="addStaffbtn" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl"><i class="fas fa-plus"></i>Add Staff</button>
                </div>

            </div>
        </div>
    </div>


    @if (Model != null)
    {
        <table class="table table-light table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var h in Model)
                {
                    <tr>
                        <td>@h.ID</td>
                        <td>@h.Name</td>
                        <td>@h.Email</td>
                        <td>@h.Contact</td>
                        <td>@h.Address</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button class="btn btn-primary editStaffbtn" data-ID="@h.ID">View/Edit</button>
                                <button class="btn btn-danger deleteStaffbtn" data-ID="@h.ID">Delete</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<script>
    //Modal Add Button Functionality
    $(document).ready(function () {
        //Get
        $("#addStaffbtn").click(function () {
            $.ajax({
                url: '@Url.Action("AddStaff", "StaffMembers")',
                type: "Get",
                success: function (response) {
                    $('.bd-example-modal-xl').modal('toggle')
                    $(".content-body-modal").html(response);
                }
            });
        });
    });
    ////Edit Through Modal
    ///////Edit
    $(document).ready(function () {
        $(".editStaffbtn").click(function () {
            $.ajax({
                url: '@Url.Action("EditStaff", "StaffMembers")',
                type: "Get",
                data: { ID: $(this).attr("data-ID") },
                success: function (response) {
                    $('.bd-example-modal-xl').modal('toggle')
                    $(".content-body-modal").html(response);
                }
            });
        });
    });

    ///////Delete
    $(document).ready(function () {
        $(".deleteStaffbtn").click(function () {
            $.ajax({
                url: '@Url.Action("DeleteStaff", "StaffMembers")',
                type: "Post",
                data: { ID: $(this).attr("data-ID") },
                success: function (response) {
                    $("#StaffTable").html(response);
                }
            });
        });
    });
</script>
<style>
    .page-link {
        color: black;
    }

    .form-control {
        display: inline;
    }

    .search {
        width: auto;
    }

    .box {
        position: relative;
        height: 50px;
    }

    .search-box {
        position: absolute;
        right: 20px;
    }
</style>


